<template>
  <div class="teamInfor">
    <div class="left_box">
      <span class="leftBox_rank">联盟排名：{{ echartData.leagueRank }}</span>
      <div class="leftBox_table">
        <span class="table_row" v-for="item in teamKeyArr" :key="item.key">
          <span class="row_cell1">{{ item.title }}</span>
          <span class="row_cell2">{{ item.val }}</span>
        </span>
      </div>
    </div>
    <div class="right_box">
      <div class="rightBox_main">
        <span
          v-if="echartData.teamAllLogo"
          class="picSpan"
          :style="{
            backgroundImage: `url(${echartData.teamAllLogo})`
          }"
        ></span>
        <span
          v-else
          class="picSpan"
          :style="{
            backgroundImage: `url(${defaultTeamAllLogo})`
          }"
        ></span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "teamInfor",
  props: {
    echartData: {
      type: Object
    }
  },
  data() {
    return {
      defaultTeamAllLogo: require("@png/defaultTeamAllLogo.png")
    };
  },
  created() {},
  computed: {
    teamKeyArr() {
      let keyArr = [
        {
          key: "ageAvg",
          title: "平均年龄",
          val: ""
        },
        {
          key: "heightAvg",
          title: "平均身高(cm)",
          val: ""
        },
        {
          key: "championCnt",
          title: "夺冠次数",
          val: ""
        }
      ];
      keyArr.forEach(item => {
        item.val = this.echartData[item.key] ? this.echartData[item.key] : "";
      });
      return keyArr;
    }
  }
};
</script>

<style lang="scss" scoped>
.teamInfor {
  position: relative;
  margin: 18px auto 0;
  width: 100%;
  height: auto;
  .left_box {
    position: absolute;
    top: 50%;
    left: 0;
    width: 50%;
    height: auto;
    transform: translate(0, -50%);
    font-size: 14px;
    .leftBox_rank {
      display: block;
      padding: 0 0 35px 9px;
      text-align: left;
    }
    .leftBox_table {
      width: 200px;
      height: auto;
      .table_row {
        display: block;
        width: 100%;
        line-height: 36px;
        &:nth-child(2n) {
          .row_cell2 {
            background-color: #f6f8fb;
            border-right: 1px solid #ecedf4;
          }
        }
        &:first-child {
          .row_cell1 {
            border-radius: 4px 0 0 0;
          }
          .row_cell2 {
            border-radius: 0 4px 0 0;
          }
        }
        &:last-child {
          .row_cell1 {
            border-radius: 0 0 0 4px;
          }
          .row_cell2 {
            border-radius: 0 0 4px 0;
          }
        }
        .row_cell1 {
          display: inline-block;
          padding-left: 14px;
          width: 60%;
          background-color: rgba(62, 70, 127, 0.7);
          text-align: left;
          color: #fff;
        }
        .row_cell2 {
          display: inline-block;
          padding-right: 14px;
          width: 40%;
          background-color: #ecedf4;
          text-align: right;
          color: #5d5d5d;
        }
      }
    }
  }
  .right_box {
    padding-left: 45%;
    width: 100%;
    .rightBox_main {
      width: 100%;
      height: 240px;
      padding: 0 14px;
      background-color: #fff;
      border-radius: 4px;
      .picSpan {
        display: block;
        height: 100%;
        background-position: left center;
        background-size: 100% auto;
        background-repeat: no-repeat;
      }
    }
  }
}
</style>
