<template>
  <div>
    <TabBtnDiv>
      <span
        v-for="item in tabBtnArr"
        :key="item.state"
        :class="item.isAct ? 'act' : ''"
        @click="clickTabBtn(item)"
        >{{ item.title }}</span
      >
    </TabBtnDiv>
    <AnalysisObjectDiv>
      <span
        class="analysisObject_title"
        :style="{ color: skinPorps.TextColorBlackUI1.default }"
        >分析对象</span
      >
      <span class="analysisObject_btnArea"
        ><IconScreenBtn
          :class="uaBrowserType"
          @click="openEditCondition"
          :TextColorWhiteUI0="skinPorps.TextColorWhiteUI0.default"
          :BgColorBlueUI3="skinPorps.BgColorBlueUI3.default"
          :BgColorBlueUI2="skinPorps.BgColorBlueUI2.default"
          ><i class="iconfont">&#xe672;</i><i>筛选</i></IconScreenBtn
        >
      </span>
      <div class="analysisObject_result">
        <AnalysisObjectItemSpan
          v-for="item in selectedConditionArr"
          :key="item.type"
          ><span
            class="itemKey"
            :style="{ color: skinPorps.TextColorBlackUI2.default }"
            >{{ item.key }}</span
          ><span
            class="itemVal"
            :style="{ color: skinPorps.TextColorBlueUI2.default }"
            >{{ item.val }}</span
          ></AnalysisObjectItemSpan
        >
      </div>
    </AnalysisObjectDiv>
    <OtherScreenAreaDiv>
      <IconStartAnalysisBtn
        :class="uaBrowserType"
        :TextColorWhiteUI0="skinPorps.TextColorWhiteUI0.default"
        :BgColorBlueUI1="skinPorps.BgColorBlueUI1.default"
        :BgColorBlueUI2="skinPorps.BgColorBlueUI2.default"
        ><i class="iconfont">&#xe66b;</i><i>开始分析</i></IconStartAnalysisBtn
      >
      <span class="otherScreenLine">
        <span
          class="otherScreenLine_title"
          :style="{ color: skinPorps.TextColorBlackUI1.default }"
          >数据情景</span
        >
        <span class="otherScreenLine_content mr46">
          <TextBtnSpan>场均</TextBtnSpan>
          <TextBtnSpan>总数</TextBtnSpan>
        </span>
      </span>
      <span class="otherScreenLine">
        <span
          class="otherScreenLine_title"
          :style="{ color: skinPorps.TextColorBlackUI1.default }"
          >数据范围</span
        >
        <span class="otherScreenLine_content mr30">
          <TextBtnSpan class="act">本赛季</TextBtnSpan>
          <TextBtnSpan>过去10场</TextBtnSpan>
        </span>
      </span>
      <span class="otherScreenLine">
        <span
          class="otherScreenLine_title"
          :style="{ color: skinPorps.TextColorBlackUI1.default }"
          >指标选择</span
        >
        <span class="otherScreenLine_content mr50">
          <span class="otherScreenSelect">
            <span
              class="otherScreenSelect_title"
              :style="{ color: skinPorps.TextColorBlackUI2.default }"
              >X轴</span
            >
            <span class="selectMidSpan">
              <el-select v-model="dataTypeVal" placeholder="请选择数据类型">
                <el-option
                  v-for="item in dataTypeOptions"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                >
                </el-option>
              </el-select>
            </span>
          </span>
          <span class="otherScreenSelect">
            <span
              class="otherScreenSelect_title"
              :style="{ color: skinPorps.TextColorBlackUI2.default }"
              >Y轴</span
            >
            <span class="selectMidSpan">
              <el-select v-model="dataTypeVal" placeholder="请选择数据类型">
                <el-option
                  v-for="item in dataTypeOptions"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                >
                </el-option>
              </el-select>
            </span>
          </span>
        </span>
      </span>
      <span class="otherScreenLine">
        <span
          class="otherScreenLine_title"
          :style="{ color: skinPorps.TextColorBlackUI1.default }"
          >数据类型</span
        >
        <span class="otherScreenLine_content mr30">
          <el-radio
            v-model="radioDataType"
            @change="radioDataTypeChange"
            label="1"
            >常规数据</el-radio
          >
          <el-radio
            v-model="radioDataType"
            @change="radioDataTypeChange"
            label="2"
            >赛会、联盟平均水平</el-radio
          >
        </span>
      </span>
    </OtherScreenAreaDiv>
    <ScreenResultInfor
      :BgColorBlueUI2="skinPorps.BgColorBlueUI2.default"
      :TextColorWhiteUI0="skinPorps.TextColorWhiteUI0.default"
    >
      <span class="iconfont"
        >&#xe673; &emsp;
        全部球员本赛季场均得分与三分球命中率对比分析全部球员本赛季场均得分与三分球命中率对比分析全部球员本赛季场均得分与三分球命中率对比分析全部球员本赛季场均得分与三分球命中率对比分析</span
      >
    </ScreenResultInfor>
    <div :style="{ backgroundColor: bgColorWhiteUI1 }" class="quadrantMain">
      <div class="quadrant" ref="quadrant"></div>
    </div>
    <div v-if="isOpenEditConditionPop">
      <div
        class="editPop"
        :style="{ backgroundColor: skinPorps.PopBgColorUI1.default }"
      ></div>

      <EditConditionPlayer
        v-show="analysisState === 'player'"
        :selectedConditionArr="selectedConditionArr"
        @closeEditCondition="closeEditConditionHandler"
      />
      <EditConditionTeam
        v-show="analysisState === 'team'"
        :selectedConditionArr="selectedConditionArr"
        @closeEditCondition="closeEditConditionHandler"
      />
    </div>
  </div>
</template>

<script>
import echarts from "echarts";
import globalExtends from "@globalExtends";
import EditConditionPlayer from "./analysisEditConditionPlayer";
import EditConditionTeam from "./analysisEditConditionTeam";
export default {
  extends: globalExtends,
  components: {
    EditConditionPlayer,
    EditConditionTeam
  },
  data() {
    return {
      analysisState: "player",
      tabBtnArr: [
        {
          isAct: false,
          title: "球员分析",
          state: "player"
        },
        {
          isAct: false,
          title: "球队分析",
          state: "team"
        }
      ],
      selectedConditionArr: [], //存储分析对象的数组
      echartDataArr: [], // 存储 echart实例对象数组
      playerBig_default: require("@png/playerBig_default.png"),
      routineEChartData: [
        //常规数据
        {
          isAct: false, //是否被选中
          value: [534, 150, "豆包兔"],
          tooltipData: [
            "http://home.buptnu.com.cn/res_base/buptnu_home/n2019/article/images/app.png",
            288,
            69,
            "中国队",
            10,
            "豆包兔"
          ],
          itemStyle: {
            color: "#8C93C3"
          },
          label: {
            color: "#333",
            fontWeight: ""
          }
        },
        {
          isAct: false, //是否被选中
          value: [488, 99, "易建联"],
          tooltipData: ["", 488, 99, "中国队", 11, "易建联"],
          itemStyle: {
            color: "#8C93C3"
          },
          label: {
            color: "#333",
            fontWeight: ""
          }
        },
        {
          isAct: false, //是否被选中
          value: [261, 45, "贝爱妈咪"],
          tooltipData: [
            "http://home.buptnu.com.cn/res_base/buptnu_home/n2019/article/images/app.png",
            240,
            60,
            "中国队",
            12,
            "贝爱妈咪"
          ],
          itemStyle: {
            color: "#8C93C3"
          },
          label: {
            color: "#333",
            fontWeight: ""
          }
        },
        {
          isAct: false, //是否被选中
          value: [435, 35, "冯尼美"],
          tooltipData: [
            "http://home.buptnu.com.cn/res_base/buptnu_home/n2019/article/images/app.png",
            140,
            55,
            "中国队",
            13,
            "冯尼美"
          ],
          itemStyle: {
            color: "#8C93C3"
          },
          label: {
            color: "#333",
            fontWeight: ""
          }
        }
      ],
      averageEChartData: [
        //平均数据
        {
          isAct: false, //是否被选中
          value: [1200, 51.6, "豆包兔"],
          tooltipData: [
            "http://home.buptnu.com.cn/res_base/buptnu_home/n2019/article/images/app.png",
            288,
            69,
            "中国队",
            10,
            "豆包兔"
          ],
          itemStyle: {
            color: "#8C93C3"
          },
          label: {
            color: "#333",
            fontWeight: ""
          }
        },
        {
          isAct: false, //是否被选中
          value: [980, 59, "易建联"],
          tooltipData: ["", 488, 99, "中国队", 11, "易建联"],
          itemStyle: {
            color: "#8C93C3"
          },
          label: {
            color: "#333",
            fontWeight: ""
          }
        },
        {
          isAct: false, //是否被选中
          value: [700, 49.2, "易建联1"],
          tooltipData: [
            "http://home.buptnu.com.cn/res_base/buptnu_home/n2019/article/images/app.png",
            488,
            99,
            "中国队",
            11,
            "易建联1"
          ],
          itemStyle: {
            color: "#8C93C3"
          },
          label: {
            color: "#333",
            fontWeight: ""
          }
        },
        {
          isAct: false, //是否被选中
          value: [600, 63, "易建联2"],
          tooltipData: [
            "http://home.buptnu.com.cn/res_base/buptnu_home/n2019/article/images/app.png",
            488,
            99,
            "中国队",
            11,
            "易建联2"
          ],
          itemStyle: {
            color: "#8C93C3"
          },
          label: {
            color: "#333",
            fontWeight: ""
          }
        }
      ],
      defaultFontColor: "#333",
      defaultIconColor: "#8C93C3",
      actColor: "#353195",
      dataTypeOptions: [
        //数据类型 默认
        {
          name: "总数",
          id: 0
        },
        {
          name: "均数",
          id: 1
        }
      ],
      dataTypeVal: 0,
      radioDataType: "1", //"1": 常规； "2": 均场
      isOpenEditConditionPop: false
    };
  },
  created() {
    this.tabBtnArr.forEach(val => {
      if (this.analysisState === val.state) {
        val.isAct = true;
      }
    });
  },
  mounted() {
    this.selectedConditionArr = [
      {
        type: "competition",
        competitionId: 1,
        key: "赛事",
        val: "NBA"
      },
      {
        type: "season",
        seasonId: 2020,
        key: "赛季",
        val: "2020NBA"
      },
      {
        type: "default",
        condition: -1,
        key: "默认",
        val: "全部球员"
      }
    ];
    for (let i = 0; i < 400; i++) {
      let val0 = 10 + Math.random() * 600;
      let val1 = 10 + Math.random() * 600;
      this.routineEChartData.push({
        isAct: false, //是否被选中
        value: [val0, val1, "豆包兔"],
        tooltipData: [
          "http://home.buptnu.com.cn/res_base/buptnu_home/n2019/article/images/app.png",
          288,
          69,
          "中国队",
          10,
          "豆包兔"
        ],
        itemStyle: {
          color: "#8C93C3"
        },
        label: {
          color: "#333",
          fontWeight: ""
        }
      });
    }
    // 基于准备好的dom，初始化echarts实例
    this.$nextTick(() => {
      this.showEchart(this.radioDataType);
    });
  },
  computed: {
    bgColorWhiteUI1() {
      return this.skinPorps.BgColorWhiteUI1.default;
    },
    editPopMainHeightStyle() {
      return this.editPopMainHeight + "px";
    }
  },
  methods: {
    clickTabBtn(item) {
      console.log(item);
      this.tabBtnArr.forEach(val => {
        if (val.state === item.state) {
          val.isAct = true;
          this.analysisState = item.state;
        } else {
          val.isAct = false;
        }
      });
    },
    openEditCondition() {
      this.isOpenEditConditionPop = true;
    },
    closeEditConditionHandler() {
      this.isOpenEditConditionPop = false;
    },
    routineEChart(quadrantRef) {
      //常规数据 echart
      console.log("initChar 进入函数内部", quadrantRef);
      if (this.echartDataArr.length) {
        let result = this.echartDataArr.some(val => {
          if (val.name === "quadrant") {
            return true;
          }
        });
        if (!result) {
          this.echartDataArr.push({
            name: "quadrant",
            refs: quadrantRef,
            echarts: echarts.init(quadrantRef)
          });
        }
      } else {
        this.echartDataArr.push({
          name: "quadrant",
          refs: quadrantRef,
          echarts: echarts.init(quadrantRef)
        });
      }
      console.log("initChar 进入函数内部", this.echartDataArr);
      // const myquadrantChart = echarts.init(quadrantRef);
      let _this = this;
      let options = {
        title: {
          // text: "xxxxx"
        },
        grid: {
          x: "7%",
          y: "18%",
          width: "75%",
          height: "68%"
        },
        tooltip: {
          // trigger: 'axis',
          showDelay: 0,
          formatter: function(params) {
            if (params.componentType !== "series") return;
            console.log("tooltip params:", params);
            let tooltipData = params.data.tooltipData
              ? params.data.tooltipData
              : [];
            if (tooltipData.length === 6) {
              if (!tooltipData[0]) {
                tooltipData[0] = _this.playerBig_default;
              }
              // var picName = "event1.png";
              // var pic = require("../../../../static/images/png/" + picName);
              return `<div style="float:left;margin:10px 15px 10px 10px;width:80px;height:95px;overflow:hidden;">
                    <img style="display:block; width: 100%;" src="${
                      tooltipData[0]
                    }" />
                  </div>
                  <div style="float:left;margin:10px 10px 10px 0;color:#fff;font-weight:bold;text-align:left;line-height:24px">
                    得分 ${tooltipData[1]}<br />
                    三分球命中率 ${tooltipData[2]}%<br />
                    ${tooltipData[3]}<br />
                    #${tooltipData[4]} ${tooltipData[5]}
                  </div>`;
            } else {
              return `数据异常<br/>请稍后再试`;
            }
          },
          axisPointer: {
            show: true,
            type: "cross",
            lineStyle: {
              type: "dashed",
              width: 1
            }
          }
        },
        toolbox: {
          feature: {
            dataZoom: {},
            brush: {
              type: ["rect"]
              // type: ["rect", "polygon", "clear"]
            }
          }
        },
        xAxis: {
          name: "得分",
          nameTextStyle: {
            fontWeight: "bold",
            fontSize: 15,
            padding: [0, 0, 0, 40]
          },
          type: "value",
          // min: 200,
          // max: 580,
          boundaryGap: ["0", "20%"],
          offset: 0,
          axisLabel: {
            inside: false, //数值 朝里朝外
            fontWeight: "bold",
            color: "#333",
            formatter: function(params) {
              console.log("xAxis params:", params);
              if (params) {
                return `${params}`;
              } else {
                return "";
              }
            }
          },
          splitLine: {
            show: false
          },
          axisLine: {
            // 箭头
            symbol: [
              "none",
              "path://M5,20 L5,5 L8,8 L5,2 L2,8 L5,5 L5.4,6 L5.4,20"
            ],
            symbolOffset: 20,
            symbolSize: [20, 40],
            lineStyle: {
              color: "#5960AE",
              fontWeight: "bold"
            }
          },
          axisTick: {
            // 刻度朝里朝外
            inside: true
          }
        },
        yAxis: {
          name: "三分球命中率",
          nameTextStyle: {
            fontWeight: "bold",
            fontSize: 15,
            padding: [0, 0, 40, 0]
          },
          type: "value",
          min: 0,
          boundaryGap: ["0", "20%"],
          scale: true,
          offset: 0,
          axisLabel: {
            fontWeight: "bold",
            color: "#333",
            formatter: function(params) {
              console.log("yAxis params:", params);
              if (params) {
                return `${params}%`;
              } else {
                return `${params}`;
              }
            }
          },
          splitLine: {
            show: false
          },
          axisLine: {
            symbol: [
              "none",
              "path://M4.8,20 L4.8,5 L8,8 L5,2 L2,8 L5,5 L5.3,6 L5.3,20"
            ],
            symbolOffset: 20,
            symbolSize: [20, 40],
            lineStyle: {
              color: "#5960AE",
              fontWeight: "bold"
            }
          },
          axisTick: {
            // 刻度朝里朝外
            inside: true
          }
        },
        series: [
          {
            type: "scatter",
            data: this.routineEChartData,
            symbolSize: 11,
            // itemStyle: {
            //   color: "red"
            // },
            label: {
              show: true,
              position: "right",
              formatter: function(params) {
                console.log("series params:", params);
                return `${params.value[2]} (${params.value[0]}, ${
                  params.value[1]
                }%)`;
              }
            }
            // markLine: {
            //   show: true,
            //   lineStyle: {
            //     color: "red", //辅助线色值
            //     type: "solid"
            //   },
            //   data: [
            //     {
            //       type: "average",
            //       name: "平均值",
            //       valueIndex: 0 //routineEChartData数组中元素value 中 下标为[0]的平均值
            //     },
            //     {
            //       type: "average",
            //       name: "平均值",
            //       valueIndex: 1 //routineEChartData数组中元素value 中 下标为[1]的平均值
            //     }
            //   ]
            // }
          }
        ]
      };
      console.log("提交数据到echarts渲染");
      this.echartDataArr[0].echarts.setOption(options);
    },
    averageEChart(quadrantRef) {
      // 赛事 联盟平均数据 echart
      console.log("initChar 进入函数内部", quadrantRef);
      if (this.echartDataArr.length) {
        let result = this.echartDataArr.some(val => {
          if (val.name === "quadrant") {
            return true;
          }
        });
        if (!result) {
          this.echartDataArr.push({
            name: "quadrant",
            refs: quadrantRef,
            echarts: echarts.init(quadrantRef)
          });
        }
      } else {
        this.echartDataArr.push({
          name: "quadrant",
          refs: quadrantRef,
          echarts: echarts.init(quadrantRef)
        });
      }
      console.log("initChar 进入函数内部", this.echartDataArr);
      // const myquadrantChart = echarts.init(quadrantRef);
      let _this = this;
      let options = {
        title: {
          top: 15,
          left: 15,
          text: "X轴: 得分   Y轴: 三分球命中率"
        },
        grid: {
          left: "3%",
          right: "7%",
          bottom: "3%",
          containLabel: true
        },
        tooltip: {
          // trigger: "item",
          showDelay: 0,
          formatter: function(params) {
            if (params.componentType !== "series") return;
            console.log("tooltip params:", params);
            let tooltipData = params.data.tooltipData
              ? params.data.tooltipData
              : [];
            if (tooltipData.length === 6) {
              if (!tooltipData[0]) {
                tooltipData[0] = _this.playerBig_default;
              }
              // var picName = "event1.png";
              // var pic = require("../../../../static/images/png/" + picName);
              return `<div style="float:left;margin:10px 15px 10px 10px;width:80px;height:95px;overflow:hidden;">
                    <img style="display:block; width: 100%;" src="${
                      tooltipData[0]
                    }" />
                  </div>
                  <div style="float:left;margin:10px 10px 10px 0;color:#fff;font-weight:bold;text-align:left;line-height:24px">
                    得分 ${tooltipData[1]}<br />
                    三分球命中率 ${tooltipData[2]}%<br />
                    ${tooltipData[3]}<br />
                    #${tooltipData[4]} ${tooltipData[5]}
                  </div>`;
            } else {
              return `数据异常<br/>请稍后再试`;
            }
          },
          axisPointer: {
            show: true,
            type: "cross",
            lineStyle: {
              type: "dashed",
              width: 1
            }
          }
        },
        toolbox: {
          feature: {
            dataZoom: {},
            brush: {
              type: ["rect"]
              // type: ["rect", "polygon", "clear"]
            }
          }
        },
        xAxis: {
          // min: 0,
          name: "x",
          show: false,
          scale: true,
          axisLine: {
            lineStyle: {
              color: "#5960AE",
              fontWeight: "bold"
            }
          }
        },
        yAxis: {
          // min: 0,
          show: false,
          scale: true,
          boundaryGap: ["0", "20%"],
          axisLine: {
            lineStyle: {
              color: "#5960AE",
              fontWeight: "bold"
            }
          }
        },
        series: [
          {
            type: "effectScatter",
            symbolSize: 20,
            data: [[1392, 66.4], [1000, 47.6]]
          },
          {
            type: "scatter",
            data: this.averageEChartData,
            label: {
              show: true,
              position: "right",
              formatter: function(params) {
                console.log("series params:", params);
                return `${params.value[2]} (${params.value[0]}, ${
                  params.value[1]
                }%)`;
              }
            },
            markPoint: {
              data: [
                { type: "max", name: "最大值" },
                { type: "min", name: "最小值" }
              ]
            },
            markLine: {
              silent: true,
              label: {
                show: false
              },
              lineStyle: {
                normal: {
                  color: "#5960AE",
                  wdith: 2,
                  type: "solid"
                }
              },
              formatter: function(params) {
                console.log("markLine:", params);
                // return
              },
              data: [
                { value: "x", xAxis: 1000, symbolSize: [0, 10] },
                { value: "y", yAxis: 60, symbolSize: [0, 10] }
              ] //设置中心点 需要分别知道x轴 和 y轴 的最大最小值后，求得中间值
            }
          }
        ]
      };
      console.log("提交数据到echarts渲染");
      this.echartDataArr[0].echarts.setOption(options);
    },
    radioDataTypeChange(val) {
      console.log(typeof val, this.radioDataType);
      this.echartDataArr.forEach(val => {
        val.echarts.off("click");
        val.echarts.dispose();
      });
      this.echartDataArr = [];
      this.showEchart(val);
    },
    showEchart(val) {
      let echartFunc = null;
      let echartData = [];
      if (val === "1") {
        // 常规数据
        echartFunc = this.routineEChart;
        echartData = this.routineEChartData;
      } else {
        // 平均数据
        echartFunc = this.averageEChart;
        echartData = this.averageEChartData;
      }
      echartFunc(this.$refs.quadrant);

      let myECharts = this.echartDataArr[0].echarts;
      myECharts.on("click", params => {
        console.log("params On:", params);
        echartData.forEach((val, index) => {
          if (index === params.dataIndex) {
            console.log(val);
            val.isAct = !val.isAct;
            val.itemStyle.color = val.isAct
              ? this.actColor
              : this.defaultFontColor;
            val.label.color = val.isAct ? this.actColor : this.defaultIconColor;
            val.label.fontWeight = val.isAct ? "bold" : "";
          }
        });
        echartFunc();
      });
    }
  },
  beforeDestroy() {
    this.echartDataArr.forEach(val => {
      val.echarts.dispose();
    });
    this.echartDataArr = [];
    console.log("当前页面即将关闭");
  }
};
</script>

<style lang="scss" scoped>
.quadrantMain {
  position: relative;
  margin-bottom: 30px;
  width: 100%;
  height: auto;
  .quadrant {
    width: 100%;
    height: 708px;
  }
}
.editPop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  width: 100%;
  height: 100%;
}
</style>
