<template>
  <div
    class="editPop_main"
    :style="{ height: editPopMainHeightStyle }"
    @scroll="scrollEvent"
  >
    <div
      class="editPop_header"
      :class="isScrollFlag ? 'shadow' : ''"
      :style="{ backgroundColor: skinPorps.BgColorWhiteUI0.default }"
    >
      <div class="titleArea clearfix">
        <span
          class="title"
          :style="{ color: skinPorps.TextColorBlueUI1.default }"
          ><i
            :style="{ backgroundColor: skinPorps.TextColorBlueUI1.default }"
          ></i
          ><span>筛选球员</span></span
        >
        <ClosePopIcon
          class="iconfont"
          @click="closePop"
          :class="uaBrowserType"
          :TextColorBlueUI3="skinPorps.TextColorBlueUI3.default"
          :TextColorBlueUI1="skinPorps.TextColorBlueUI1.default"
          >&#xe668;</ClosePopIcon
        >
      </div>
      <AnalysisObjectDiv>
        <span
          class="analysisObject_title"
          :style="{ color: skinPorps.TextColorBlackUI1.default }"
          >筛选条件</span
        >
        <span class="analysisObject_btnArea"
          ><EditPopResetBtn
            :class="uaBrowserType"
            @click="resetBtn()"
            :LineColorUI8="skinPorps.LineColorUI8.default"
            :TextColorBlueUI2="skinPorps.TextColorBlueUI2.default"
            :TextColorWhiteUI0="skinPorps.TextColorWhiteUI0.default"
            :TextColorBlueUI1="skinPorps.TextColorBlueUI1.default"
            :BgColorBlueUI4="skinPorps.BgColorBlueUI4.default"
            >重置</EditPopResetBtn
          ><EditPopOKBtn
            :class="uaBrowserType"
            @click="saveBtn()"
            :TextColorWhiteUI0="skinPorps.TextColorWhiteUI0.default"
            :BgColorBlueUI3="skinPorps.BgColorBlueUI3.default"
            :BgColorBlueUI2="skinPorps.BgColorBlueUI2.default"
            >确定</EditPopOKBtn
          >
        </span>
        <div class="analysisObject_result" ref="resultDom">
          <AnalysisObjectItemSpan
            v-for="(item, index) in selectedConditionArr_current"
            :key="index"
            ><span
              class="itemKey"
              :style="{ color: skinPorps.TextColorBlackUI2.default }"
              >{{ item.key }}</span
            ><span
              class="itemVal"
              :style="{ color: skinPorps.TextColorBlueUI2.default }"
              >{{ item.val }}</span
            ></AnalysisObjectItemSpan
          >
        </div>
      </AnalysisObjectDiv>
    </div>
    <div
      class="editPop_content"
      :style="{
        minHeight: editPopContentMinHeightStyle,
        backgroundColor: skinPorps.BgColorWhiteUI0.default
      }"
    >
      <span
        class="seizeSeat"
        :style="{ height: `${analysisObjectDivHeight}px` }"
      ></span>
      <el-row class="selectArea">
        <span class="selectBigSpan">
          <el-select
            v-model="competitionVal"
            placeholder="请选择赛事"
            @change="competitionSelectChange"
          >
            <el-option
              v-for="item in competitionOptions"
              :key="item.competitionId"
              :label="item.competitionName"
              :value="item.competitionId"
            >
            </el-option>
          </el-select>
        </span>
        <span class="selectBigSpan">
          <el-select
            v-model="seasonVal"
            placeholder="请选择赛季"
            @change="seasonSelectChange"
          >
            <el-option
              v-for="item in seasonOptions"
              :key="item.seasonId"
              :label="item.seasonName"
              :value="item.seasonId"
            >
            </el-option>
          </el-select>
        </span>
      </el-row>

      <div
        class="otherScreenAreaList clearfix"
        :class="packUpObj.flag ? 'packUp' : ''"
        ref="otherScreenAreaList"
        :style="{
          backgroundColor: skinPorps.BgColorWhiteUI1.default,
          height: `${otherScreenAreaListHeight}px`
        }"
      >
        <OtherScreenAreaDiv class="editPop first">
          <span
            class="otherScreenTitle"
            :style="{
              color: skinPorps.TextColorBlackUI1.default
            }"
            >按球员信息</span
          >
          <span
            class="otherScreenLine clearfix"
            v-for="lineItem in playerInforArr"
            :key="lineItem.type"
          >
            <span
              class="otherScreenLine_title"
              :style="{ color: skinPorps.TextColorBlackUI3.default }"
              >{{ lineItem.title }}</span
            >
            <span class="otherScreenLine_content mr30">
              <TextBtnSpan
                v-for="item in lineItem.valArr"
                :key="item.value"
                :class="item.isAct ? 'act' : ''"
                @click="isClickCustomBtn(lineItem, item)"
                >{{ item.label }}</TextBtnSpan
              >
              <transition name="fade">
                <CustomInputBtnSpan
                  v-if="lineItem.isCustomInputFlag && lineItem.val === '1'"
                >
                  <span class="customInputArea">
                    <span
                      class="inputSpan"
                      :class="lineItem.isCheckedFlag1 ? '' : 'errorTip'"
                    >
                      <el-input
                        size="small"
                        v-model="lineItem.input1"
                        type="number"
                        @change="playerInput12Change(lineItem, 'playerInfor')"
                        min="0"
                      >
                      </el-input>
                    </span>
                    <span class="divisionSapn">一</span>
                    <span
                      class="inputSpan"
                      :class="lineItem.isCheckedFlag2 ? '' : 'errorTip'"
                    >
                      <el-input
                        size="small"
                        v-model="lineItem.input2"
                        type="number"
                        @change="playerInput12Change(lineItem, 'playerInfor')"
                        min="0"
                      >
                      </el-input>
                    </span>
                  </span>
                  <!-- <CustomInputAreaBtn
                    :TextColorWhiteUI0="skinPorps.TextColorWhiteUI0.default"
                    :BgColorBlueUI3="skinPorps.BgColorBlueUI3.default"
                    :BgColorBlueUI2="skinPorps.BgColorBlueUI2.default"
                  >
                    确定
                  </CustomInputAreaBtn> -->
                </CustomInputBtnSpan>
              </transition>
            </span>
          </span>
        </OtherScreenAreaDiv>
        <OtherScreenAreaDiv class="editPop">
          <span
            class="otherScreenTitle"
            :style="{
              color: skinPorps.TextColorBlackUI1.default,
              borderColor: skinPorps.LineColorUI8.default
            }"
            >按球员数据</span
          >
          <span class="otherScreenLine clearfix">
            <span
              class="otherScreenLine_title"
              :style="{ color: skinPorps.TextColorBlackUI3.default }"
              >{{ playerDataArr.title }}</span
            >
            <span class="otherScreenLine_content mr30">
              <TextBtnSpan
                v-for="item in playerDataArr.valArr"
                :key="item.value"
                :class="item.isAct ? 'act' : ''"
                @click="
                  clickPlayerDataUnlimited(playerDataArr, item, 'playerData')
                "
                >{{ item.label }}</TextBtnSpan
              >
              <span
                class="selectMidSpan conditionSelect"
                v-show="playerDataArr.val === '1'"
              >
                <el-select
                  v-model="playerDataArr.selectConditionVal"
                  placeholder="请选择数据类型"
                >
                  <el-option
                    v-for="item in playerDataArr.selectOptionsCondition"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </span>
              <AddCustomCondition
                v-show="playerDataArr.val === '1'"
                :class="uaBrowserType"
                :TextColorBlueUI2="skinPorps.TextColorBlueUI2.default"
                :TextColorWhiteUI0="skinPorps.TextColorWhiteUI0.default"
                :BgColorBlueUI2="skinPorps.BgColorBlueUI2.default"
                @click="clickAddCustomCondition"
                class="iconfont"
                >&#xe66d;</AddCustomCondition
              >
            </span>
          </span>
          <transition-group
            name="fade"
            tag="span"
            v-if="playerDataArr.val === '1'"
          >
            <span
              class="otherScreenLine clearfix"
              v-for="customItem in playerDataArr.customArr"
              :key="customItem.index"
            >
              <span class="otherScreenLine_addCondition mr20">
                <span class="selectMidSpan">
                  <el-select
                    size="small"
                    v-model="customItem.select1"
                    @change="playerDataSelectOptions1Change(customItem)"
                    placeholder="请选择定义条件"
                  >
                    <el-option
                      v-for="item in playerDataArr.selectOptions1"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id"
                      :disabled="item.disabled"
                    >
                    </el-option>
                  </el-select>
                </span>
                <span class="selectMidSpan">
                  <el-select
                    size="small"
                    v-model="customItem.select2"
                    placeholder="请选择定义类型"
                    @change="playerDataSelectOptions2Change(customItem)"
                  >
                    <el-option
                      v-for="item in playerDataArr.selectOptions2"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id"
                    >
                    </el-option>
                  </el-select>
                </span>
                <span
                  class="inputSpan"
                  v-show="customItem.select2 !== 1"
                  :class="customItem.isCheckedFlag0 ? '' : 'errorTip'"
                >
                  <el-input
                    size="small"
                    v-model="customItem.input0"
                    type="number"
                    @change="playerInput0Change(customItem)"
                    min="0"
                  >
                  </el-input>
                </span>
                <span
                  class="inputSpan addCondition"
                  v-show="customItem.select2 === 1"
                  :class="customItem.isCheckedFlag1 ? '' : 'errorTip'"
                >
                  <el-input
                    size="small"
                    v-model="customItem.input1"
                    type="number"
                    min="0"
                    @change="playerInput12Change(customItem, 'playerData')"
                  >
                  </el-input>
                </span>
                <span class="divisionSapn" v-show="customItem.select2 === 1"
                  >一</span
                >
                <span
                  class="inputSpan addCondition"
                  v-show="customItem.select2 === 1"
                  :class="customItem.isCheckedFlag2 ? '' : 'errorTip'"
                >
                  <el-input
                    size="small"
                    v-model="customItem.input2"
                    type="number"
                    min="0"
                    @change="playerInput12Change(customItem, 'playerData')"
                  >
                  </el-input>
                </span>
                <DelCustomCondition
                  :class="uaBrowserType"
                  class="iconfont"
                  :StatusColorUI4="skinPorps.StatusColorUI4.default"
                  :TextColorBlackUI3="skinPorps.TextColorBlackUI3.default"
                  @click="clickDelCustomCondition(customItem)"
                  >&#xe668;</DelCustomCondition
                >
              </span>
            </span>
          </transition-group>
        </OtherScreenAreaDiv>
        <OtherScreenAreaDiv class="editPop last">
          <span
            class="otherScreenTitle"
            :style="{
              color: skinPorps.TextColorBlackUI1.default,
              borderColor: skinPorps.LineColorUI8.default
            }"
            >按球队信息</span
          >
          <span class="otherScreenLine clearfix">
            <span
              class="otherScreenLine_title"
              :style="{ color: skinPorps.TextColorBlackUI3.default }"
              >{{ teamInforArr.title }}</span
            >
            <span class="otherScreenLine_content mr30">
              <TextBtnSpan
                v-for="item in teamInforArr.valArr"
                :key="item.value"
                :class="item.isAct ? 'act' : ''"
                @click="isClickCustomBtn(teamInforArr, item)"
                >{{ item.label }}</TextBtnSpan
              >
            </span>
          </span>
        </OtherScreenAreaDiv>
        <div
          class="packUpOptionArea"
          :style="{ backgroundColor: skinPorps.BgColorWhiteUI1.default }"
        >
          <PackUpBtn
            :class="uaBrowserType"
            @click="packUpBtn(packUpObj)"
            :TextColorBlueUI2="skinPorps.TextColorBlueUI2.default"
            :TextColorBlueUI1="skinPorps.TextColorBlueUI1.default"
          >
            <i class="packUpFont">{{ packUpObj.title }}</i>
            <i :class="packUpObj.class"></i>
          </PackUpBtn>
        </div>
      </div>
      <div class="resultTable" v-if="totalWidth">
        <span
          class="tableTitleSpan"
          :style="{ color: skinPorps.TextColorBlackUI1.default }"
        >
          <span>根据当前条件，共筛选出</span
          ><span
            class="number"
            :style="{ color: skinPorps.StatusColorUI5.default }"
            >3</span
          ><span>名球员</span>
        </span>
        <CustomClickTable
          :moveType="customClickTableOption.moveType"
          :isClickFlag="customClickTableOption.isClickFlag"
          :tableSkin="customClickTableOption.tableSkin"
          :totalWidth="customClickTableOption.totalWidth"
          :leftWidth="customClickTableOption.leftWidth"
          :screenShowCellNum="customClickTableOption.screenShowCellNum"
          :tableData="customClickTableOption.tableData"
          :rightCellWidth="customClickTableOption.rightCellWidth"
          :clickableColumnIndex="customClickTableOption.clickableColumnIndex"
          :initColumnIndex="customClickTableOption.initColumnIndex"
          :initSelectColumnProp="customClickTableOption.initSelectColumnProp"
          :leftTablePop="customClickTableOption.leftTablePop"
          :rightTablePop="customClickTableOption.rightTablePop"
          @selectColumn="selectColumnHanlder"
        ></CustomClickTable>
        <el-row class="pt20">
          <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="page.currentPage"
            :page-sizes="page.pageSizeArr"
            :page-size="page.pageSize"
            layout="prev, pager, next, sizes, total"
            :total="page.total"
          >
          </el-pagination>
        </el-row>
      </div>
    </div>
  </div>
</template>

<script>
import globalExtends from "@globalExtends";
import CustomClickTable from "@components/CustomClickTable";
export default {
  extends: globalExtends,
  components: {
    CustomClickTable
  },
  props: {
    selectedConditionArr: {
      //存储筛选条件的数组
      type: Array,
      required: true
    }
  },
  data() {
    return {
      isScrollFlag: false, //默认未滚动
      selectedConditionArr_current: [], //存储当前页面的编辑后分析对象
      defaultConditionItem: {
        //筛选条件 【默认 全部球员】
        type: "default",
        condition: -1,
        key: "默认",
        val: "全部球员"
      },
      isPackUpFlag: true, // true: 已经收起，展示【更多选项】； false: 展开选项，展示【收起选项】
      otherScreenAreaListHeight: 0, //存储 收起展开区域的高度 px
      playerDataCustomRowHeight: 52, //球员数据 自定义增加一行默认高度
      packUpBaseArr: [
        {
          title: "更多选项",
          flag: true,
          class: "el-icon-arrow-down"
        },
        {
          title: "收起选项",
          flag: false,
          class: "el-icon-arrow-up"
        }
      ],
      packUpObj: {
        title: "",
        flag: null,
        class: ""
      },
      editPopMainHeight: 0, //editPop_main 的高度
      editPopMainTop: 84, // editPop_main top值
      editPopContentMinHeight: 0, //editPop_content 的最小高度
      editPopContentMarginBottom: 90, // editPop_content 底部留白区域
      analysisObjectDivHeight: 82, //默认一行为 82px
      competitionOptions: [{ competitionId: 1, competitionName: "NBA" }], //赛类
      competitionVal: "",
      seasonOptions: [
        {
          competitionId: 1,
          seasonId: 2019,
          seasonName: "2019NBA",
          seasonYear: "2019",
          yearStart: "2019",
          yearEnd: "2019"
        },
        {
          competitionId: 1,
          seasonId: 2020,
          seasonName: "2020NBA",
          seasonYear: "2020",
          yearStart: "2020",
          yearEnd: "2020"
        }
      ], // 赛季
      seasonVal: "",
      playerInforArr: [
        {
          title: "位置",
          key: "位置",
          type: "position",
          val: "",
          valArr: [
            { label: "不限", value: "-1", isAct: true },
            { label: "后卫G", value: "G", isAct: false },
            { label: "中锋F", value: "F", isAct: false },
            { label: "前锋C", value: "C", isAct: false }
          ]
        },
        {
          title: "年龄(岁)",
          key: "年龄",
          type: "age",
          val: "",
          valArr: [
            { label: "不限", value: "-1", isAct: true },
            { label: "自定义", value: "1", isAct: false }
          ],
          isCustomInputFlag: true, //是否有自定义输入框
          input1: "",
          input2: "",
          isCheckedFlag1: true, //左边 是否通过验证
          isCheckedFlag2: true //右边 是否通过验证
        },
        {
          title: "身高(CM)",
          key: "身高",
          type: "height",
          val: "",
          valArr: [
            { label: "不限", value: "-1", isAct: true },
            { label: "自定义", value: "1", isAct: false }
          ],
          isCustomInputFlag: true, //是否有自定义输入框
          input1: "",
          input2: "",
          isCheckedFlag1: true, //左边 是否通过验证
          isCheckedFlag2: true //右边 是否通过验证
        },
        {
          title: "参赛场次(场)",
          key: "参赛场次",
          type: "match",
          val: "",
          valArr: [
            { label: "不限", value: "-1", isAct: true },
            { label: "自定义", value: "1", isAct: false }
          ],
          isCustomInputFlag: true, //是否有自定义输入框
          input1: "",
          input2: "",
          isCheckedFlag1: true, //左边 是否通过验证
          isCheckedFlag2: true //右边 是否通过验证
        },
        {
          title: "上场时间(分钟)",
          key: "上场时间",
          type: "time",
          val: "",
          valArr: [
            { label: "不限", value: "-1", isAct: true },
            { label: "自定义", value: "1", isAct: false }
          ],
          isCustomInputFlag: true, //是否有自定义输入框
          input1: "",
          input2: "",
          isCheckedFlag1: true, //左边 是否通过验证
          isCheckedFlag2: true //右边 是否通过验证
        },
        {
          title: "职业年限(年)",
          key: "职业年限",
          type: "matchAge",
          val: "",
          valArr: [
            { label: "不限", value: "-1", isAct: true },
            { label: "自定义", value: "1", isAct: false }
          ],
          isCustomInputFlag: true, //是否有自定义输入框
          input1: "",
          input2: "",
          isCheckedFlag1: true, //左边 是否通过验证
          isCheckedFlag2: true //右边 是否通过验证
        }
      ],
      playerDataArr: {
        title: "球员数据",
        type: "playerData",
        val: "",
        valArr: [
          { label: "不限", value: "-1", isAct: true },
          { label: "自定义", value: "1", isAct: false }
        ],
        selectOptionsCondition: [
          //数据类型 默认
          {
            name: "条件关系：且",
            id: 0
          },
          {
            name: "条件关系：或",
            id: 1
          }
        ],
        selectConditionVal: 0,
        selectOptions1: [
          //数据类型 默认
          {
            name: "2分",
            disabled: false,
            id: 1
          },
          {
            name: "3分",
            disabled: false,
            id: 2
          },
          {
            name: "篮板",
            disabled: false,
            id: 3
          },
          {
            name: "投篮",
            disabled: false,
            id: 4
          }
        ],
        selectOptions2: [
          //数据类型 默认
          {
            name: "介于",
            state: "minAndMax",
            id: 1
          },
          {
            name: ">",
            state: "",
            id: 2
          },
          {
            name: "<",
            state: "",
            id: 3
          },
          {
            name: "=",
            state: "",
            id: 4
          }
        ],
        customNum: 1, //每一次点击添加按钮时，都会递增+1; 默认从1开始只是为了解决0不好判断
        customArr: []
      },
      teamInforArr: {
        title: "球队名称",
        key: "球队名称",
        type: "teamId",
        val: "-1",
        valArr: [
          {
            label: "不限",
            value: "-1",
            isAct: true
          },
          {
            label: "八一火箭",
            value: "1",
            isAct: false
          },
          {
            label: "广东华南虎",
            value: "2",
            isAct: false
          },
          {
            label: "北京鸭",
            value: "3",
            isAct: false
          },
          {
            label: "江苏龙",
            value: "4",
            isAct: false
          },
          {
            label: "新疆飞虎",
            value: "5",
            isAct: false
          },
          {
            label: "辽宁飞豹",
            value: "6",
            isAct: false
          },
          {
            label: "吉林东北虎",
            value: "7",
            isAct: false
          },
          {
            label: "上海大鲨鱼",
            value: "8",
            isAct: false
          },
          {
            label: "福建中华鲟",
            value: "9",
            isAct: false
          }
        ]
      },
      defaultTeamLogo: require("@png/team_defaultImg.png"),
      page: {
        competitionVal: "", //赛类
        seasonVal: "", //赛季
        currentPage: 1,
        pageSize: 5,
        pageSizeArr: [5, 10, 15],
        total: 0
      },
      totalWidth: 0,
      customClickTableOption: {
        moveType: "screen",
        isClickFlag: false,
        clickableColumnIndex: 4,
        initColumnIndex: 5,
        initSelectColumnProp: "gp",
        tableSkin: {},
        totalWidth: 0,
        leftWidth: 0,
        rightCellWidth: 100,
        screenShowCellNum: 0,
        leftTablePop: [
          {
            prop: "index",
            label: "",
            alignType: "",
            headerCellClass: "",
            width: 46
          },
          {
            customCell: "text",
            prop: "playerName",
            label: "球员",
            alignType: "left",
            headerCellClass: ".alignLeft",
            width: 150
          },
          {
            customCell: "logoText",
            prop: "teamName",
            label: "球队",
            alignType: "left",
            headerCellClass: "",
            width: 170
          },
          {
            prop: "birthDate",
            label: "出生日期",
            alignType: "",
            headerCellClass: "",
            width: 100
          }
        ],
        rightTablePop: [
          {
            prop: "gp",
            label: "场次"
          },
          {
            prop: "min",
            label: "上场时间"
          },
          {
            prop: "pts",
            label: "得分"
          },
          {
            prop: "fga",
            label: "投篮出手"
          },
          {
            prop: "fgm",
            label: "投篮命中"
          },
          {
            prop: "fgPct",
            label: "投篮,命中率",
            customHeader: true
          },
          {
            prop: "fg3a",
            label: "3分出手"
          },
          {
            prop: "fg3m",
            label: "3分命中"
          },
          {
            prop: "fg3Pct",
            label: "3分,命中率",
            customHeader: true
          },
          {
            prop: "fta",
            label: "罚球出手"
          },
          {
            prop: "ftm",
            label: "罚球命中"
          },
          {
            prop: "ftPct",
            label: "罚球,命中率中率",
            customHeader: true
          },
          {
            prop: "oreb",
            label: "前板"
          },
          {
            prop: "dreb",
            label: "后板"
          },
          {
            prop: "reb",
            label: "篮板"
          },
          {
            prop: "ast",
            label: "助攻"
          },
          {
            prop: "to",
            label: "失误"
          },
          {
            prop: "stl",
            label: "抢断"
          },
          {
            prop: "blk",
            label: "盖帽"
          },
          {
            prop: "pf",
            label: "犯规"
          }
        ],
        tableData: [
          {
            playerId: 1,
            playerName: "姚明",
            teamId: 1001,
            teamLogo: require("@png/team_defaultImg.png"),
            teamName: "火箭",
            height: 180,
            weight: 75,
            position: "中锋",
            nationality: "中国",
            birthDate: "2002-01-01",
            gp: 4,
            min: 4.0,
            pts: 4.0,
            fga: 4.0,
            fgm: 4.0,
            fgPct: 4.0,
            fg3a: 4.0,
            fg3m: 4.0,
            fg3Pct: 4.0,
            fta: 4.0,
            ftm: 4.0,
            ftPct: 4.0,
            oreb: 4.0,
            dreb: 4.0,
            reb: 4.0,
            ast: 4.0,
            to: 4.0,
            stl: 4.0,
            blk: 4.0,
            pf: 4.0
          },
          {
            playerId: 2,
            playerName: "姚明姚明姚明",
            teamId: 1001,
            teamLogo: require("@png/team_defaultImg.png"),
            teamName: "火箭",
            height: 180,
            weight: 75,
            position: "中锋",
            nationality: "中国",
            birthDate: "2002-01-01",
            gp: 4,
            min: 4.0,
            pts: 4.0,
            fga: 4.0,
            fgm: 4.0,
            fgPct: 4.0,
            fg3a: 4.0,
            fg3m: 4.0,
            fg3Pct: 4.0,
            fta: 4.0,
            ftm: 4.0,
            ftPct: 4.0,
            oreb: 4.0,
            dreb: 4.0,
            reb: 4.0,
            ast: 4.0,
            to: 4.0,
            stl: 4.0,
            blk: 4.0,
            pf: 4.0
          },
          {
            playerId: 3,
            playerName: "姚明",
            teamId: 1001,
            teamLogo: require("@png/team_defaultImg.png"),
            teamName: "火箭",
            height: 180,
            weight: 75,
            position: "中锋",
            nationality: "中国",
            birthDate: "2002-01-01",
            gp: 4,
            min: 4.0,
            pts: 4.0,
            fga: 4.0,
            fgm: 4.0,
            fgPct: 4.0,
            fg3a: 4.0,
            fg3m: 4.0,
            fg3Pct: 4.0,
            fta: 4.0,
            ftm: 4.0,
            ftPct: 4.0,
            oreb: 4.0,
            dreb: 4.0,
            reb: 4.0,
            ast: 4.0,
            to: 4.0,
            stl: 4.0,
            blk: 4.0,
            pf: 4.0
          }
        ]
      }
    };
  },
  created() {
    if (window) {
      const vh = window.innerHeight || window.screen.height;
      this.editPopMainHeight = vh - this.editPopMainTop;
    }
    this.selectedConditionArr_current = [].concat(this.selectedConditionArr);
    this.competitionVal = this.selectedConditionArr_current[0].competitionId;
    this.seasonVal = this.selectedConditionArr_current[1].seasonId;
  },
  mounted() {
    this.$nextTick(() => {
      this.totalWidth = this.$refs.resultDom.clientWidth;
      this.recalculationHeight();
      this.packUpBtn();
      this.initCustomClickTbale(this.customClickTableOption, this.totalWidth);
      this.isShowTable = true;
    });
  },
  computed: {
    editPopMainHeightStyle() {
      return this.editPopMainHeight + "px";
    },
    editPopContentMinHeightStyle() {
      return this.editPopMainHeight - this.editPopContentMarginBottom + "px";
    },
    actColumnCellBgColor() {
      return this.skinPorps.ActColumnCellBgColor.default;
    },
    customClickTableSelectHeaderColor() {
      return this.skinPorps.StatusColorUI3.default;
    }
  },
  methods: {
    competitionSelectChange(val) {
      let value = "";
      this.competitionOptions.forEach(cell => {
        if (cell.competitionId === val) {
          value = cell.competitionName;
        }
      });
      this.selectedConditionArr_current[0] = {
        type: "competition",
        competitionId: val,
        key: "赛事",
        val: value
      };
    },
    seasonSelectChange(val) {
      let value = "";
      this.seasonOptions.forEach(cell => {
        if (cell.seasonId === val) {
          value = cell.seasonName;
        }
      });
      this.selectedConditionArr_current[1] = {
        type: "season",
        seasonId: val,
        key: "赛类",
        val: value
      };
    },
    playerInput12Change(obj, state) {
      //处于 【介于】情况下的输入框验证 当input1和input2 change的时候检查 input1 < input2 ?
      let item = null;
      if (state === "playerData") {
        item = obj;
      } else {
        item = obj;
        // item.type = obj.type;
        // item.key = obj.key;
        // item.val = obj.val;
      }
      console.log("playerInput12Change:", item);
      let flag = true;
      if (item.input1 && item.input2) {
        // console.log(1111);
        if (item.input1 - item.input2 >= 0) {
          // console.log(2222);
          flag = false;
        } else {
          if (state === "playerData") {
            //来自 按球员数据
            this.playerDataAddItemToAnalysisObj(item);
          } else {
            // 来自 按球员信息 中自定义 2个input
            this.otherCustomAddItemToAnalysisObj(item);
          }
        }
      }

      item.isCheckedFlag1 = flag;
      item.isCheckedFlag2 = flag;
    },
    playerInput0Change(item) {
      // 判断 按球员数据 非介于情况下 输入框的验证是否通过
      let flag = true;
      if (!item.input0) {
        flag = false;
      }
      if (flag) {
        this.playerDataAddItemToAnalysisObj(item);
      }
      item.isCheckedFlag0 = flag;
    },
    otherCustomAddItemToAnalysisObj(item) {
      // 按球员信息的区域 自定义 中2个input 添加到 分析对象中
      let obj = {
        type: item.type,
        input1: item.input1,
        input2: item.input2,
        key: item.key,
        val: `${item.input1}-${item.input2}`
      };

      this.selectedConditionArr_current.push(obj);
      this.$nextTick(() => {
        this.recalculationHeight();
      });
    },
    cellAddItemToAnalysisObj(item) {
      // 按球员信息的区域 位置 || 按球队数据区域
      console.log(item);
      let obj = {
        type: item.type,
        id: item.val,
        key: item.key,
        val: ""
      };
      item.valArr.forEach(val => {
        if (val.value === obj.id) {
          obj.val = val.label;
        }
      });
      console.log(obj);
      let flag = false; //false 没有添加过
      this.selectedConditionArr_current.forEach(val => {
        if (val.type === obj.type) {
          val.id = obj.id;
          val.val = obj.val;
          flag = true;
        }
      });

      if (!flag) {
        this.selectedConditionArr_current.push(obj);
      }
    },
    playerDataAddItemToAnalysisObj(item) {
      // 球员数据 添加到 分析对象中
      let obj = {
        index: item.index,
        type: "playerData",
        select1: item.select1,
        select2: item.select2,
        input0: item.input0,
        input1: item.input1,
        input2: item.input2,
        key: "",
        val: ""
      };
      this.playerDataArr.selectOptions1.forEach(val => {
        if (val.id == item.select1) {
          obj.key = val.name;
        }
      });
      this.playerDataArr.selectOptions2.forEach(val => {
        if (val.id == item.select2) {
          obj.val = val.name;
        }
      });
      if (item.select2 === 1) {
        obj.val += `${item.input1}-${item.input2}`;
      } else {
        obj.val += item.input0;
      }
      this.selectedConditionArr_current.push(obj);
      this.$nextTick(() => {
        this.recalculationHeight();
      });
    },
    playerDataSelectOptions1Change(item, state) {
      // 按球员数据 自定义条件 中 第二个选择框 SelectOptions1 变化
      // console.log(typeof id); number
      console.log(item);

      // 重新过滤不可点击的选项
      this.playerDataArr.selectOptions1.forEach(val => {
        val.disabled = false;
      });
      if (state && state === "all") {
        //如果点击 【不限】 则全部删除， 下面的流程也不用走了
        this.playerDataArr.customArr = [];
        return;
      }

      this.playerDataArr.selectOptions1.forEach(val => {
        this.playerDataArr.customArr.forEach(item => {
          if (item.select1 === val.id) {
            val.disabled = true;
          }
        });
      });

      // 当 select1 变化时， 不重新创建新的，只是在原有基础更新
      let current = this.selectedConditionArr_current.map(val => {
        if (val.index && val.index === item.index) {
          // 通过 select1 更新 key 值
          this.playerDataArr.selectOptions1.forEach(select1 => {
            if (select1.id == item.select1) {
              item.key = select1.name;
            }
          });
          return {
            index: item.index,
            type: item.type,
            select1: item.select1,
            select2: item.select2,
            input0: item.input0,
            input1: item.input1,
            input2: item.input2,
            key: item.key,
            val: val.val
          };
        }
        return val;
      });
      console.log(current);
      this.selectedConditionArr_current = current;
    },
    playerDataSelectOptions2Change(item) {
      // 按球员数据 自定义条件 中 第二个选择框 SelectOptions2 变化
      item.input0 = item.input1 = item.input2 = null;

      this.delSelectdConditionItem(item);
      this.$nextTick(() => {
        this.recalculationHeight();
      });
    },
    delSelectdConditionItem(item) {
      //当筛选对象中 某个条件 被删除时 才触发
      let current = [];
      if (typeof item === "string") {
        //按球员数据 不限
        this.selectedConditionArr_current.forEach(val => {
          console.log(val);
          if (val.type !== "playerData") {
            current.push(val);
          }
        });
      } else {
        // 所有 单条 筛选条件走下面
        this.selectedConditionArr_current.forEach(val => {
          console.log(val);
          if (val.type === item.type) {
            // 只有 type: playerData 会走下面的逻辑,index属性是球员数据中独有的不重复的，其他的筛选条件从type类型就区分开了
            if (val.index && val.index !== item.index) {
              current.push(val);
            }
          } else {
            current.push(val);
          }
          console.log("delSelectdConditionItem:", item);
          if (item.isCustomInputFlag) {
            item.input1 = null;
            item.input2 = null;
            item.isCheckedFlag1 = true;
            item.isCheckedFlag2 = true;
          }
        });
      }
      this.selectedConditionArr_current = current;
    },
    clickAddCustomCondition() {
      let select1 = null;
      this.playerDataArr.selectOptions1.forEach(val => {
        if (!select1 && !val.disabled) {
          select1 = val.id;
        }
      });
      if (!select1) {
        this.$message({
          message: "没有条件可自定义",
          type: "warning"
        });
        return;
      }
      let item = {
        index: this.playerDataArr.customNum++,
        type: "playerData",
        select1,
        select2: this.playerDataArr.selectOptions2[0].id, //默认选中一个
        input0: "",
        input1: "",
        input2: "",
        isCheckedFlag0: true, //是否通过验证
        isCheckedFlag1: true, //是否通过验证
        isCheckedFlag2: true //是否通过验证
      };
      this.playerDataArr.customArr.push(item);
      this.playerDataSelectOptions1Change(item);

      this.$nextTick(() => {
        this.recalculationHeight();
      });
    },
    clickDelCustomCondition(item) {
      //点击 删除 球员数据 后面的 [x]
      const customArr = [];
      this.playerDataArr.customArr.forEach(val => {
        if (val.select1 !== item.select1) {
          customArr.push(val);
        }
      });
      this.playerDataArr.customArr = customArr;
      if (!this.playerDataArr.customArr.length) {
        // 当删除 自定义条件 &&  customArr为空， 则默认切换回 不限
        this.playerDataArr.val = "-1";
        this.playerDataArr.valArr.forEach(val => {
          if (val.value === "-1") {
            val.isAct = true;
          } else {
            val.isAct = false;
          }
        });
      }
      this.delPlayerDataCustom(1, item);
    },
    delPlayerDataCustom(num, item) {
      console.log(
        "otherScreenAreaListHeight:",
        this.otherScreenAreaListHeight,
        num
      );
      this.delSelectdConditionItem(item);
      this.$nextTick(() => {
        this.otherScreenAreaListHeight -= this.playerDataCustomRowHeight * num;
        this.analysisObjectDivHeight = this.$refs.resultDom.clientHeight;
      });
      if (item === "all" || item.type === "playerData") {
        //只有 删除 球员数据区域的条件时才触发
        this.playerDataSelectOptions1Change(item, "all");
      }
    },
    isEqualFunc() {
      //检查selectedConditionArr_current 与 selectedConditionArr 里面的筛选条件是否相等
      if (
        this.selectedConditionArr_current.length ===
        this.selectedConditionArr.length
      ) {
        let currentValArr = [],
          originValArr = [],
          currentTypeArr = [],
          originTypeArr = [],
          currentCustomArr = [],
          originCustomArr = [];
        this.selectedConditionArr_current.forEach(item => {
          currentValArr.push(item.val);
          currentTypeArr.push(item.type);
          if (item.type === "playerData") {
            currentCustomArr.push({
              select1: item.select1,
              select2: item.select2,
              val: item.val
            });
          }
        });
        this.selectedConditionArr.forEach(item => {
          originValArr.push(item.val);
          originTypeArr.push(item.type);
          if (item.type === "playerData") {
            originCustomArr.push({
              select1: item.select1,
              select2: item.select2,
              val: item.val
            });
          }
        });
        if (
          currentTypeArr.sort().toString() != originTypeArr.sort().toString()
        ) {
          console.log("type 不相等");
          return false;
        }
        if (currentValArr.sort().toString() != originValArr.sort().toString()) {
          console.log("val 不相等");
          return false;
        }
        currentCustomArr.sort((a, b) => {
          return a.select1 - b.select1;
        });
        originCustomArr.sort((a, b) => {
          return a.select1 - b.select1;
        });
        let currentCustomValArr = currentCustomArr.map(val => {
          return [val.select2, val.val];
        });
        let originCustomValArr = originCustomArr.map(val => {
          return [val.select2, val.val];
        });
        console.log(
          JSON.stringify(currentCustomValArr.toString()),
          JSON.stringify(originCustomValArr.toString())
        );
        if (currentCustomValArr.toString() != originCustomValArr.toString()) {
          console.log("球员数据 不相等");
          return false;
        }
        // 以上检验通过则相等
        console.log("相等");
        return true;
      } else {
        console.log("不相等");
        return false;
      }
    },
    closePop() {
      if (this.isEqualFunc()) {
        //true：相等，说明筛选条件没有做变化，可以直接退出
        this.$emit("closeEditCondition", false);
      } else {
        //false: 不相等，说明筛选条件发生了变化，要出提示框
        this.$confirm("您是否放弃已变更的筛选条件?", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        })
          .then(() => {
            this.$emit("closeEditCondition", false);
          })
          .catch(() => {});
      }
    },
    resetBtn() {
      //【重置】按钮
      // 球员信息
      this.playerInforArr.forEach((item, itemIndex) => {
        // 重置 val 等可变字段
        if (itemIndex === 0) {
          item.val = item.valArr[itemIndex].value;
        } else if (item.isCustomInputFlag) {
          item.val = "";
          item.input1 = "";
          item.input2 = "";
          item.isCheckedFlag1 = true; //左边 是否通过验证
          item.isCheckedFlag2 = true; //右边 是否通过验证
        }

        //重置为不限
        item.valArr.forEach((val, index) => {
          if (index === 0) {
            val.isAct = true;
          } else {
            val.isAct = false;
          }
        });
      });

      // 球员数据
      // 重置 val 等可变字段
      this.playerDataArr.val = "";
      this.playerDataArr.selectConditionVal = 0;
      this.playerDataArr.customNum = 1; //递增索引
      this.delPlayerDataCustom(this.playerDataArr.customArr.length, "all");

      //重置为不限
      this.playerDataArr.valArr.forEach((val, index) => {
        if (index === 0) {
          val.isAct = true;
        } else {
          val.isAct = false;
        }
      });

      // 球队信息
      // 重置 val 等可变字段
      this.teamInforArr.val = this.teamInforArr.valArr[0].value;
      //重置为不限
      this.teamInforArr.valArr.forEach((val, index) => {
        if (index === 0) {
          val.isAct = true;
        } else {
          val.isAct = false;
        }
      });

      // 默认恢复到刚编辑时的筛选条件
      console.log("selectedConditionArr:", this.selectedConditionArr);
      this.selectedConditionArr_current = this.selectedConditionArr;
    },
    saveBtn() {
      //【确定】按钮
      console.log(
        "selectedConditionArr_current:",
        this.selectedConditionArr_current
      );
    },
    clickPlayerDataUnlimited(item, cell, state) {
      //点击 按球员数据 中的 【不限】 按钮
      if (cell.value === "-1") {
        this.$confirm(
          "【按球员数据】设置的自定义条件将全部删除，是否继续?",
          "提示",
          {
            confirmButtonText: "确定",
            cancelButtonText: "取消",
            type: "warning"
          }
        )
          .then(() => {
            this.isClickCustomBtn(item, cell, state);
          })
          .catch(() => {});
      } else {
        this.isClickCustomBtn(item, cell, state);
      }
    },
    isClickCustomBtn(item, cell, state) {
      item.valArr.forEach(val => {
        if (val.value === cell.value) {
          val.isAct = true;
          item.val = cell.value;
        } else {
          val.isAct = false;
        }
      });
      if (state === "playerData" && !this.playerDataArr.customArr.length) {
        //按球员数据 第一次点自定义时
        console.log("init");
        this.clickAddCustomCondition();
      }
      this.setDefaultSelectConditionArr(cell.value);
      if (cell.value === "-1") {
        //删除 筛选条件里的元素
        if (state === "playerData") {
          //删除自定义行 和 筛选条件
          this.delPlayerDataCustom(this.playerDataArr.customArr.length, "all");
        } else {
          this.delSelectdConditionItem(item); //删除 非球员数据 筛选条件
          this.$nextTick(() => {
            this.recalculationHeight();
          });
        }
      } else {
        if (item.type === "position" || item.type === "teamId") {
          this.cellAddItemToAnalysisObj(item);
        }
        this.$nextTick(() => {
          this.recalculationHeight();
        });
      }
    },
    setDefaultSelectConditionArr(val) {
      //控制删除和增加 【默认 全部球员】
      if (val === "-1" && this.selectedConditionArr_current.length === 2) {
        this.selectedConditionArr_current.push(this.defaultConditionItem);
      } else if (
        val !== "-1" &&
        this.selectedConditionArr_current.length === 3
      ) {
        let current = [];
        this.selectedConditionArr_current.forEach(val => {
          if (val.type != this.defaultConditionItem.type) {
            current.push(val);
          }
        });
        this.selectedConditionArr_current = current;
      }
    },
    packUpBtn(obj) {
      let flag = null;
      if (obj) {
        flag = !obj.flag;
        this.isPackUpFlag = flag; //控制没有展开时，不需要计算高度
      } else {
        // 初始化时 || 检查
        flag = this.isPackUpFlag;
      }
      if (flag) {
        this.otherScreenAreaListHeight = 150;
      } else {
        this.otherScreenAreaListHeight = this.$refs.otherScreenAreaList.scrollHeight;
      }
      this.packUpBaseArr.forEach(val => {
        if (val.flag === flag) {
          this.packUpObj = val;
        }
      });
    },
    recalculationHeight() {
      // 重新计算【筛选条件】和 下面【滚动区域】高度
      this.analysisObjectDivHeight = this.$refs.resultDom.clientHeight;
      console.log(
        this.isPackUpFlag,
        this.$refs.otherScreenAreaList.scrollHeight
      );
      if (!this.isPackUpFlag) {
        // 没有展开时，不需要计算高度
        this.otherScreenAreaListHeight = this.$refs.otherScreenAreaList.scrollHeight;
      }
    },
    initCustomClickTbale(option, totalWidth) {
      // 初始化自定义切换表格
      let remainderPx = 0;
      option.tableSkin = {
        selectHeaderColor: this.customClickTableSelectHeaderColor,
        actColumnCellBgColor: this.actColumnCellBgColor
      };
      option.totalWidth = Math.floor(totalWidth);
      option.leftWidth = option.leftTablePop.reduce((prev, cur) => {
        return prev + cur.width;
      }, 0);
      if (!option.rightCellWidth) {
        console.log("rightCellWidth为右侧表格单列width，必须有值");
        return;
      }
      let rightWidth = option.totalWidth - option.leftWidth;
      option.screenShowCellNum = rightWidth / option.rightCellWidth;
      if (
        option.screenShowCellNum / Math.floor(option.screenShowCellNum) !==
        1
      ) {
        //将除不尽的宽度平分到左侧表格中，从左到右
        option.screenShowCellNum = Math.floor(option.screenShowCellNum);
        console.log("自定义表格: 右侧表格宽度/右侧表格中单列宽度的值!=整数");
        console.log("获取余数像素");
        remainderPx = rightWidth % option.rightCellWidth;
      }
      if (remainderPx) {
        let everyAddWidthPx = 0;
        let cellAddWidthPx = 0;
        if (remainderPx >= option.leftTablePop.length) {
          everyAddWidthPx = Math.floor(
            remainderPx / option.leftTablePop.length
          );
          cellAddWidthPx = remainderPx % option.leftTablePop.length;
        }
        if (everyAddWidthPx) {
          option.leftTablePop.forEach(val => {
            val.width += everyAddWidthPx;
          });
        }
        if (cellAddWidthPx) {
          for (let i = 0; i < cellAddWidthPx; i++) {
            option.leftTablePop[i].width++;
          }
        }
        option.leftWidth += remainderPx;
      }
      for (let i = 0; i < option.screenShowCellNum; i++) {
        option.leftTablePop.push({
          prop: "",
          label: "",
          alignType: "center",
          width: option.rightCellWidth
        });
      }
      console.log("option:", option);
    },
    selectColumnHanlder(data) {
      //点击 切换表格列时获取 column prop值
      console.log("selectColumnHanlder:", data);
    },
    handleSizeChange(val) {
      console.log(`每页 ${val} 条`);
      this.page.pageSize = val;
    },
    handleCurrentChange(val) {
      console.log(`当前页: ${val}`);
      this.page.currentPage = val;
    },
    scrollEvent(e) {
      //暂时没用
      const scrollTop = e.srcElement.scrollTop;
      console.log(scrollTop);
      if (scrollTop > 0 && !this.isScrollFlag) {
        this.isScrollFlag = true;
      } else if (scrollTop == 0) {
        this.isScrollFlag = false;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s linear;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.pt20 {
  padding-top: 20px;
}
.editPop_main {
  position: fixed;
  top: 84px;
  left: 0;
  z-index: 510;
  padding: 0 6%;
  width: 100%;
  overflow: auto;
  .editPop_header {
    position: fixed;
    top: 84px;
    left: 6%;
    z-index: inherit;
    padding: 0 40px 6px 40px;
    width: 88%;
    height: auto;
    .titleArea {
      .title {
        position: relative;
        float: left;
        width: 50%;
        & > i {
          display: block;
          position: absolute;
          top: 50%;
          left: 0;
          z-index: 2;
          transform: translate(0, -50%);
          content: "\20";
          width: 4px;
          height: 20px;
        }
        & > span {
          display: block;
          padding-left: 10px;
          line-height: 74px;
          font-size: 20px;
          text-align: left;
        }
      }
    }
    &.shadow {
      box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.06);
    }
  }

  .editPop_content {
    margin-bottom: 90px;
    padding: 74px 40px 30px 40px;
    width: 100%;
    height: auto;
    .seizeSeat {
      display: block;
    }
    .otherScreenAreaList {
      position: relative;
      width: 100%;
      border-radius: 6px;
      transition: height 0.3s linear;
      &.packUp {
        overflow: hidden;
      }
      .editPop {
        padding: 0 30px 20px;
        margin-bottom: 0;
        .otherScreenTitle {
          padding-top: 20px;
          border-width: 1px 0 0 0;
          border-style: solid;
        }
        &.first {
          .otherScreenTitle {
            border-width: 0;
          }
        }
        &.last {
          padding: 0 30px 52px;
        }
      }
      .otherScreenLine_title {
        margin-right: -130px;
        width: 130px;
      }
      .otherScreenLine_content {
        padding-left: 130px;
      }
      .last .otherScreenLine_content {
        padding-left: 192px;
        & > span:first-child {
          margin-left: -62px;
        }
      }
      .packUpOptionArea {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        height: 52px;
        padding: 10px 0 20px;
        text-align: center;
      }
    }
    .resultTable {
      position: relative;
      width: 100%;
      height: auto;
      .tableTitleSpan {
        position: absolute;
        top: 27px;
        left: 0;
        z-index: 2;
        display: inline-block;
        width: auto;
        text-align: left;
        font-weight: bold;
        span {
          display: inline-block;
          line-height: 32px;
          font-size: 18px;
          vertical-align: baseline;
        }
        span.number {
          padding: 0 5px;
          font-size: 24px;
        }
      }
    }
  }
  .analysisObject_btnArea {
    width: 180px;
  }
  .analysisObject_result {
    padding: 20px 240px 8px 104px;
  }
  .selectArea {
    margin: 20px 0;
    position: relative;
    width: 100%;
    height: 42px;
    text-align: right;
    & > span {
      margin-right: 12px;
    }
    & > span:last-child {
      margin-right: 0;
    }
  }
}
</style>
