<template>
  <div
    class="editPop_main"
    :style="{ height: editPopMainHeightStyle }"
    @scroll="scrollEvent"
  >
    <div
      class="editPop_header"
      :style="{ backgroundColor: skinPorps.BgColorWhiteUI0.default }"
    >
      <div class="titleArea clearfix">
        <span
          class="title"
          :style="{ color: skinPorps.TextColorBlueUI1.default }"
          ><i
            :style="{ backgroundColor: skinPorps.TextColorBlueUI1.default }"
          ></i
          ><span>筛选球队</span></span
        >
        <ClosePopIcon
          class="iconfont"
          @click="closePop"
          :class="uaBrowserType"
          :TextColorBlueUI3="skinPorps.TextColorBlueUI3.default"
          :TextColorBlueUI1="skinPorps.TextColorBlueUI1.default"
          >&#xe668;</ClosePopIcon
        >
      </div>
      <AnalysisObjectDiv>
        <span
          class="analysisObject_title"
          :style="{ color: skinPorps.TextColorBlackUI1.default }"
          >筛选条件</span
        >
        <span class="analysisObject_btnArea"
          ><EditPopResetBtn
            :class="uaBrowserType"
            @click="closePop('cancel')"
            :LineColorUI8="skinPorps.LineColorUI8.default"
            :TextColorBlueUI2="skinPorps.TextColorBlueUI2.default"
            :TextColorWhiteUI0="skinPorps.TextColorWhiteUI0.default"
            :TextColorBlueUI1="skinPorps.TextColorBlueUI1.default"
            :BgColorBlueUI4="skinPorps.BgColorBlueUI4.default"
            >重置</EditPopResetBtn
          ><EditPopOKBtn
            :class="uaBrowserType"
            @click="closePop('ok')"
            :TextColorWhiteUI0="skinPorps.TextColorWhiteUI0.default"
            :BgColorBlueUI3="skinPorps.BgColorBlueUI3.default"
            :BgColorBlueUI2="skinPorps.BgColorBlueUI2.default"
            >确定</EditPopOKBtn
          >
        </span>
        <div class="analysisObject_result" ref="resultDom">
          <AnalysisObjectItemSpan
            v-for="(item, index) in selectedConditionArr"
            :key="index"
            ><span
              class="itemKey"
              :style="{ color: skinPorps.TextColorBlackUI2.default }"
              >{{ item.key }}</span
            ><span
              class="itemVal"
              :style="{ color: skinPorps.TextColorBlueUI2.default }"
              >{{ item.val }}</span
            ></AnalysisObjectItemSpan
          >
        </div>
      </AnalysisObjectDiv>
    </div>
    <div
      class="editPop_content"
      :style="{
        minHeight: editPopContentMinHeightStyle,
        backgroundColor: skinPorps.BgColorWhiteUI0.default
      }"
    >
      <span
        class="seizeSeat"
        :style="{ height: `${analysisObjectDivHeight}px` }"
      ></span>
      <el-row class="selectArea">
        <span class="selectBigSpan">
          <el-select v-model="competitionVal" placeholder="请选择赛事">
            <el-option
              v-for="item in competitionOptions"
              :key="item.competitionId"
              :label="item.competitionName"
              :value="item.competitionId"
            >
            </el-option>
          </el-select>
        </span>
        <span class="selectBigSpan">
          <el-select v-model="seasonVal" placeholder="请选择赛季">
            <el-option
              v-for="item in seasonOptions"
              :key="item.seasonId"
              :label="item.seasonName"
              :value="item.seasonId"
            >
            </el-option>
          </el-select>
        </span>
      </el-row>
      <div
        class="otherScreenAreaList clearfix"
        :class="packUpObj.flag ? 'packUp' : ''"
        ref="otherScreenAreaList"
        :style="{
          backgroundColor: skinPorps.BgColorWhiteUI1.default,
          height: otherScreenAreaListHeight
        }"
      >
        <OtherScreenAreaDiv class="editPop first">
          <span
            class="otherScreenTitle"
            :style="{
              color: skinPorps.TextColorBlackUI1.default
            }"
            >按球员信息</span
          >
          <span
            class="otherScreenLine clearfix"
            v-for="lineItem in playerInforArr"
            :key="lineItem.key"
          >
            <span
              class="otherScreenLine_title"
              :style="{ color: skinPorps.TextColorBlackUI3.default }"
              >{{ lineItem.title }}</span
            >
            <span class="otherScreenLine_content mr30">
              <TextBtnSpan
                v-for="item in lineItem.valArr"
                :key="item.value"
                :class="item.isAct ? 'act' : ''"
                @click="isClickCustomBtn(lineItem, item)"
                >{{ item.label }}</TextBtnSpan
              >
              <CustomInputBtnSpan
                v-if="lineItem.customArr && lineItem.val === '1'"
              >
                <span class="customInputArea">
                  <span class="inputSpan">
                    <el-input
                      size="small"
                      v-model="lineItem.customArr.inputLeft"
                      type="number"
                      min="0"
                    >
                    </el-input>
                  </span>
                  <span class="divisionSapn">一</span>
                  <span class="inputSpan">
                    <el-input
                      size="small"
                      v-model="lineItem.customArr.inputRight"
                      type="number"
                      min="0"
                    >
                    </el-input>
                  </span>
                </span>
                <CustomInputAreaBtn
                  :TextColorWhiteUI0="skinPorps.TextColorWhiteUI0.default"
                  :BgColorBlueUI3="skinPorps.BgColorBlueUI3.default"
                  :BgColorBlueUI2="skinPorps.BgColorBlueUI2.default"
                >
                  确定
                </CustomInputAreaBtn>
              </CustomInputBtnSpan>
            </span>
          </span>
        </OtherScreenAreaDiv>
        <OtherScreenAreaDiv class="editPop">
          <span
            class="otherScreenTitle"
            :style="{
              color: skinPorps.TextColorBlackUI1.default,
              borderColor: skinPorps.LineColorUI8.default
            }"
            >按球员数据</span
          >
          <span class="otherScreenLine clearfix">
            <span
              class="otherScreenLine_title"
              :style="{ color: skinPorps.TextColorBlackUI3.default }"
              >{{ playerDataArr.title }}</span
            >
            <span class="otherScreenLine_content mr30">
              <TextBtnSpan
                v-for="item in playerDataArr.valArr"
                :key="item.value"
                :class="item.isAct ? 'act' : ''"
                @click="isClickCustomBtn(playerDataArr, item)"
                >{{ item.label }}</TextBtnSpan
              >
              <span
                class="selectMidSpan conditionSelect"
                v-show="playerDataArr.val === '1'"
              >
                <el-select
                  v-model="playerDataArr.selectVal"
                  placeholder="请选择数据类型"
                >
                  <el-option
                    v-for="item in playerDataArr.selectOptions"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </span>
              <AddCustomCondition
                v-show="playerDataArr.val === '1'"
                :class="uaBrowserType"
                :TextColorBlueUI2="skinPorps.TextColorBlueUI2.default"
                :TextColorWhiteUI0="skinPorps.TextColorWhiteUI0.default"
                :BgColorBlueUI2="skinPorps.BgColorBlueUI2.default"
                class="iconfont"
                >&#xe66d;</AddCustomCondition
              >
            </span>
          </span>
          <span
            class="otherScreenLine clearfix"
            v-if="playerDataArr.val === '1'"
          >
            <span class="otherScreenLine_addCondition mr20">
              <span class="selectMidSpan">
                <el-select
                  size="small"
                  v-model="playerDataArr.selectVal"
                  placeholder="请选择数据类型"
                >
                  <el-option
                    v-for="item in playerDataArr.selectOptions"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </span>
              <span class="selectMidSpan">
                <el-select
                  size="small"
                  v-model="playerDataArr.selectVal"
                  placeholder="请选择数据类型"
                >
                  <el-option
                    v-for="item in playerDataArr.selectOptions"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </span>
              <span class="inputSpan">
                <el-input size="small" v-model="aaaa" type="number" min="0">
                </el-input>
              </span>
              <DelCustomCondition
                :class="uaBrowserType"
                class="iconfont"
                :StatusColorUI4="skinPorps.StatusColorUI4.default"
                >&#xe668;</DelCustomCondition
              >
            </span>
          </span>
          <span
            class="otherScreenLine clearfix"
            v-if="playerDataArr.val === '1'"
          >
            <span class="otherScreenLine_addCondition mr20">
              <span class="selectMidSpan">
                <el-select
                  size="small"
                  v-model="playerDataArr.selectVal"
                  placeholder="请选择数据类型"
                >
                  <el-option
                    v-for="item in playerDataArr.selectOptions"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </span>
              <span class="selectMidSpan">
                <el-select
                  size="small"
                  v-model="playerDataArr.selectVal"
                  placeholder="请选择数据类型"
                >
                  <el-option
                    v-for="item in playerDataArr.selectOptions"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </span>
              <span class="inputSpan addCondition">
                <el-input size="small" v-model="aaaa" type="number" min="0">
                </el-input>
              </span>
              <span class="divisionSapn">一</span>
              <span class="inputSpan addCondition">
                <el-input size="small" v-model="aaaa" type="number" min="0">
                </el-input>
              </span>
              <DelCustomCondition
                :class="uaBrowserType"
                class="iconfont"
                :StatusColorUI4="skinPorps.StatusColorUI4.default"
                >&#xe668;</DelCustomCondition
              >
            </span>
          </span>
        </OtherScreenAreaDiv>
        <OtherScreenAreaDiv class="editPop last">
          <span
            class="otherScreenTitle"
            :style="{
              color: skinPorps.TextColorBlackUI1.default,
              borderColor: skinPorps.LineColorUI8.default
            }"
            >按球队信息</span
          >
          <span class="otherScreenLine clearfix">
            <span
              class="otherScreenLine_title"
              :style="{ color: skinPorps.TextColorBlackUI3.default }"
              >{{ teamInforArr.title }}</span
            >
            <span class="otherScreenLine_content mr30">
              <TextBtnSpan
                v-for="item in teamInforArr.valArr"
                :key="item.value"
                :class="item.isAct ? 'act' : ''"
                @click="isClickCustomBtn(teamInforArr, item)"
                >{{ item.label }}</TextBtnSpan
              >
            </span>
          </span>
        </OtherScreenAreaDiv>
        <div
          class="packUpOptionArea"
          :style="{ backgroundColor: skinPorps.BgColorWhiteUI1.default }"
        >
          <PackUpBtn
            :class="uaBrowserType"
            @click="packUpBtn(packUpObj)"
            :TextColorBlueUI2="skinPorps.TextColorBlueUI2.default"
            :TextColorBlueUI1="skinPorps.TextColorBlueUI1.default"
          >
            <i class="packUpFont">{{ packUpObj.title }}</i>
            <i :class="packUpObj.class"></i>
          </PackUpBtn>
        </div>
      </div>
      <div class="resultTable" v-if="totalWidth">
        <span
          class="tableTitleSpan"
          :style="{ color: skinPorps.TextColorBlackUI1.default }"
        >
          <span>根据当前条件，共筛选出</span
          ><span
            class="number"
            :style="{ color: skinPorps.StatusColorUI5.default }"
            >3</span
          ><span>名球员</span>
        </span>
        <CustomClickTable
          :moveType="customClickTableOption.moveType"
          :isClickFlag="customClickTableOption.isClickFlag"
          :tableSkin="customClickTableOption.tableSkin"
          :totalWidth="customClickTableOption.totalWidth"
          :leftWidth="customClickTableOption.leftWidth"
          :screenShowCellNum="customClickTableOption.screenShowCellNum"
          :tableData="customClickTableOption.tableData"
          :rightCellWidth="customClickTableOption.rightCellWidth"
          :clickableColumnIndex="customClickTableOption.clickableColumnIndex"
          :initColumnIndex="customClickTableOption.initColumnIndex"
          :initSelectColumnProp="customClickTableOption.initSelectColumnProp"
          :leftTablePop="customClickTableOption.leftTablePop"
          :rightTablePop="customClickTableOption.rightTablePop"
          @selectColumn="selectColumnHanlder"
        ></CustomClickTable>
        <el-row class="ptb30">
          <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="page.currentPage"
            :page-sizes="page.pageSizeArr"
            :page-size="page.pageSize"
            layout="prev, pager, next, sizes, total"
            :total="page.total"
          >
          </el-pagination>
        </el-row>
      </div>
    </div>
  </div>
</template>

<script>
import globalExtends from "@globalExtends";
import CustomClickTable from "@components/CustomClickTable";
export default {
  extends: globalExtends,
  components: {
    CustomClickTable
  },
  props: {
    selectedConditionArr: {
      //存储筛选条件的数组
      type: Array,
      required: true
    }
  },
  data() {
    return {
      aaaa: "",
      isPackUpFlag: true, // true: 已经收起，展示【更多选项】； false: 展开选项，展示【收起选项】
      otherScreenAreaListHeight: "", //存储 收起展开区域的高度 px
      packUpBaseArr: [
        {
          title: "更多选项",
          flag: true,
          class: "el-icon-arrow-down"
        },
        {
          title: "收起选项",
          flag: false,
          class: "el-icon-arrow-up"
        }
      ],
      packUpObj: {
        title: "",
        flag: null,
        class: ""
      },
      editPopMainHeight: 0, //editPop_main 的高度
      editPopMainTop: 84, // editPop_main top值
      editPopContentMinHeight: 0, //editPop_content 的最小高度
      editPopContentMarginBottom: 90, // editPop_content 底部留白区域
      analysisObjectDivHeight: 82, //默认一行为 82px
      competitionOptions: [], //赛类
      competitionVal: "",
      seasonOptions: [], // 赛季
      seasonVal: "",
      playerInforArr: [
        {
          title: "位置",
          key: "position",
          val: "",
          valArr: [
            { label: "不限", value: "-1", isAct: true },
            { label: "后卫G", value: "G", isAct: false },
            { label: "中锋F", value: "F", isAct: false },
            { label: "前锋C", value: "C", isAct: false }
          ]
        },
        {
          title: "年龄(岁)",
          key: "age",
          val: "",
          valArr: [
            { label: "不限", value: "-1", isAct: true },
            { label: "自定义", value: "1", isAct: false }
          ],
          customArr: {
            inputLeft: "",
            inputRight: "",
            isCheckedFlag: true //是否通过验证
          }
        },
        {
          title: "身高(CM)",
          key: "height",
          val: "",
          valArr: [
            { label: "不限", value: "-1", isAct: true },
            { label: "自定义", value: "1", isAct: false }
          ],
          customArr: {
            inputLeft: "",
            inputRight: "",
            isCheckedFlag: true //是否通过验证
          }
        },
        {
          title: "参赛场次(场)",
          key: "match",
          val: "",
          valArr: [
            { label: "不限", value: "-1", isAct: true },
            { label: "自定义", value: "1", isAct: false }
          ],
          customArr: {
            inputLeft: "",
            inputRight: "",
            isCheckedFlag: true //是否通过验证
          }
        },
        {
          title: "上场时间(分钟)",
          key: "time",
          val: "",
          valArr: [
            { label: "不限", value: "-1", isAct: true },
            { label: "自定义", value: "1", isAct: false }
          ],
          customArr: {
            inputLeft: "",
            inputRight: "",
            isCheckedFlag: true //是否通过验证
          }
        },
        {
          title: "职业年限(年)",
          key: "matchAge",
          val: "",
          valArr: [
            { label: "不限", value: "-1", isAct: true },
            { label: "自定义", value: "1", isAct: false }
          ],
          customArr: {
            inputLeft: "",
            inputRight: "",
            isCheckedFlag: true //是否通过验证
          }
        }
      ],
      playerDataArr: {
        title: "球员数据",
        key: "age",
        val: "",
        valArr: [
          { label: "不限", value: "-1", isAct: true },
          { label: "自定义", value: "1", isAct: false }
        ],
        selectOptions: [
          //数据类型 默认
          {
            name: "条件关系：且",
            id: 0
          },
          {
            name: "条件关系：或",
            id: 1
          }
        ],
        selectVal: 0,
        customArr: [
          {
            select1: "",
            select2: "",
            inputNumber: "",
            isCheckedFlag: true //是否通过验证
          }
        ]
      },
      teamInforArr: {
        title: "球队名称",
        key: "teamId",
        val: "-1",
        valArr: [
          {
            label: "不限",
            value: "-1",
            isAct: true
          },
          {
            label: "八一火箭",
            value: "1",
            isAct: false
          },
          {
            label: "广东华南虎",
            value: "2",
            isAct: false
          },
          {
            label: "北京鸭",
            value: "3",
            isAct: false
          },
          {
            label: "江苏龙",
            value: "4",
            isAct: false
          },
          {
            label: "新疆飞虎",
            value: "5",
            isAct: false
          },
          {
            label: "辽宁飞豹",
            value: "6",
            isAct: false
          },
          {
            label: "吉林东北虎",
            value: "7",
            isAct: false
          },
          {
            label: "上海大鲨鱼",
            value: "8",
            isAct: false
          },
          {
            label: "福建中华鲟",
            value: "9",
            isAct: false
          }
        ]
      },
      defaultTeamLogo: require("@png/team_defaultImg.png"),
      page: {
        competitionVal: "", //赛类
        seasonVal: "", //赛季
        currentPage: 1,
        pageSize: 10,
        pageSizeArr: [10, 20, 50],
        total: 0
      },
      totalWidth: 0,
      customClickTableOption: {
        moveType: "screen",
        isClickFlag: true,
        clickableColumnIndex: 4,
        initColumnIndex: 5,
        initSelectColumnProp: "gp",
        tableSkin: {},
        totalWidth: 0,
        leftWidth: 0,
        rightCellWidth: 100,
        screenShowCellNum: 0,
        leftTablePop: [
          {
            prop: "index",
            label: "",
            alignType: "",
            headerCellClass: "",
            width: 46
          },
          {
            customCell: "text",
            prop: "playerName",
            label: "球员",
            alignType: "left",
            headerCellClass: ".alignLeft",
            width: 150
          },
          {
            customCell: "logoText",
            prop: "teamName",
            label: "球队",
            alignType: "left",
            headerCellClass: "",
            width: 170
          },
          {
            prop: "birthDate",
            label: "出生日期",
            alignType: "",
            headerCellClass: "",
            width: 100
          }
        ],
        rightTablePop: [
          {
            prop: "gp",
            label: "场次"
          },
          {
            prop: "min",
            label: "上场时间"
          },
          {
            prop: "pts",
            label: "得分"
          },
          {
            prop: "fga",
            label: "投篮出手"
          },
          {
            prop: "fgm",
            label: "投篮命中"
          },
          {
            prop: "fgPct",
            label: "投篮,命中率",
            customHeader: true
          },
          {
            prop: "fg3a",
            label: "3分出手"
          },
          {
            prop: "fg3m",
            label: "3分命中"
          },
          {
            prop: "fg3Pct",
            label: "3分,命中率",
            customHeader: true
          },
          {
            prop: "fta",
            label: "罚球出手"
          },
          {
            prop: "ftm",
            label: "罚球命中"
          },
          {
            prop: "ftPct",
            label: "罚球,命中率中率",
            customHeader: true
          },
          {
            prop: "oreb",
            label: "前板"
          },
          {
            prop: "dreb",
            label: "后板"
          },
          {
            prop: "reb",
            label: "篮板"
          },
          {
            prop: "ast",
            label: "助攻"
          },
          {
            prop: "to",
            label: "失误"
          },
          {
            prop: "stl",
            label: "抢断"
          },
          {
            prop: "blk",
            label: "盖帽"
          },
          {
            prop: "pf",
            label: "犯规"
          }
        ],
        tableData: [
          {
            playerId: 1,
            playerName: "姚明",
            teamId: 1001,
            teamLogo: require("@png/team_defaultImg.png"),
            teamName: "火箭",
            height: 180,
            weight: 75,
            position: "中锋",
            nationality: "中国",
            birthDate: "2002-01-01",
            gp: 4,
            min: 4.0,
            pts: 4.0,
            fga: 4.0,
            fgm: 4.0,
            fgPct: 4.0,
            fg3a: 4.0,
            fg3m: 4.0,
            fg3Pct: 4.0,
            fta: 4.0,
            ftm: 4.0,
            ftPct: 4.0,
            oreb: 4.0,
            dreb: 4.0,
            reb: 4.0,
            ast: 4.0,
            to: 4.0,
            stl: 4.0,
            blk: 4.0,
            pf: 4.0
          },
          {
            playerId: 2,
            playerName: "姚明姚明姚明",
            teamId: 1001,
            teamLogo: require("@png/team_defaultImg.png"),
            teamName: "火箭",
            height: 180,
            weight: 75,
            position: "中锋",
            nationality: "中国",
            birthDate: "2002-01-01",
            gp: 4,
            min: 4.0,
            pts: 4.0,
            fga: 4.0,
            fgm: 4.0,
            fgPct: 4.0,
            fg3a: 4.0,
            fg3m: 4.0,
            fg3Pct: 4.0,
            fta: 4.0,
            ftm: 4.0,
            ftPct: 4.0,
            oreb: 4.0,
            dreb: 4.0,
            reb: 4.0,
            ast: 4.0,
            to: 4.0,
            stl: 4.0,
            blk: 4.0,
            pf: 4.0
          },
          {
            playerId: 3,
            playerName: "姚明",
            teamId: 1001,
            teamLogo: require("@png/team_defaultImg.png"),
            teamName: "火箭",
            height: 180,
            weight: 75,
            position: "中锋",
            nationality: "中国",
            birthDate: "2002-01-01",
            gp: 4,
            min: 4.0,
            pts: 4.0,
            fga: 4.0,
            fgm: 4.0,
            fgPct: 4.0,
            fg3a: 4.0,
            fg3m: 4.0,
            fg3Pct: 4.0,
            fta: 4.0,
            ftm: 4.0,
            ftPct: 4.0,
            oreb: 4.0,
            dreb: 4.0,
            reb: 4.0,
            ast: 4.0,
            to: 4.0,
            stl: 4.0,
            blk: 4.0,
            pf: 4.0
          }
        ]
      }
    };
  },
  created() {
    if (window) {
      const vh = window.innerHeight || window.screen.height;
      this.editPopMainHeight = vh - this.editPopMainTop;
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.recalculationHeight();
      this.packUpBtn();
      this.initCustomClickTbale(this.customClickTableOption, this.totalWidth);
      this.isShowTable = true;
    });
  },
  computed: {
    editPopMainHeightStyle() {
      return this.editPopMainHeight + "px";
    },
    editPopContentMinHeightStyle() {
      return this.editPopMainHeight - this.editPopContentMarginBottom + "px";
    },
    actColumnCellBgColor() {
      return this.skinPorps.ActColumnCellBgColor.default;
    },
    customClickTableSelectHeaderColor() {
      return this.skinPorps.StatusColorUI3.default;
    }
  },
  methods: {
    closePop() {
      this.$emit("closeEditCondition", false);
    },
    isClickCustomBtn(item, cell) {
      item.valArr.forEach(val => {
        if (val.value === cell.value) {
          val.isAct = true;
          item.val = cell.value;
        } else {
          val.isAct = false;
        }
      });
      if (cell.value === "-1") {
        this.otherScreenAreaListHeight = "auto";
      }
      this.$nextTick(() => {
        this.recalculationHeight();
      });
    },
    packUpBtn(obj) {
      let flag = null;
      if (obj) {
        flag = !obj.flag;
      } else {
        // 初始化时 || 检查
        flag = this.isPackUpFlag;
      }
      if (flag) {
        this.otherScreenAreaListHeight = "150px";
      } else {
        this.otherScreenAreaListHeight = this.$refs.otherScreenAreaList
          .scrollHeight
          ? this.$refs.otherScreenAreaList.scrollHeight + "px"
          : "auto";
      }
      this.packUpBaseArr.forEach(val => {
        if (val.flag === flag) {
          this.packUpObj = val;
        }
      });
    },
    recalculationHeight() {
      // 重新计算【筛选条件】和 下面【滚动区域】高度
      this.analysisObjectDivHeight = this.$refs.resultDom.clientHeight;
      this.otherScreenAreaListHeight =
        this.$refs.otherScreenAreaList &&
        this.$refs.otherScreenAreaList.scrollHeight
          ? this.$refs.otherScreenAreaList.scrollHeight + "px"
          : "auto";
      this.totalWidth = this.$refs.resultDom.clientWidth;
    },
    initCustomClickTbale(option, totalWidth) {
      // 初始化自定义切换表格
      let remainderPx = 0;
      option.tableSkin = {
        selectHeaderColor: this.customClickTableSelectHeaderColor,
        actColumnCellBgColor: this.actColumnCellBgColor
      };
      option.totalWidth = Math.floor(totalWidth);
      option.leftWidth = option.leftTablePop.reduce((prev, cur) => {
        return prev + cur.width;
      }, 0);
      if (!option.rightCellWidth) {
        console.log("rightCellWidth为右侧表格单列width，必须有值");
        return;
      }
      let rightWidth = option.totalWidth - option.leftWidth;
      option.screenShowCellNum = rightWidth / option.rightCellWidth;
      if (
        option.screenShowCellNum / Math.floor(option.screenShowCellNum) !==
        1
      ) {
        //将除不尽的宽度平分到左侧表格中，从左到右
        option.screenShowCellNum = Math.floor(option.screenShowCellNum);
        console.log("自定义表格: 右侧表格宽度/右侧表格中单列宽度的值!=整数");
        console.log("获取余数像素");
        remainderPx = rightWidth % option.rightCellWidth;
      }
      if (remainderPx) {
        let everyAddWidthPx = 0;
        let cellAddWidthPx = 0;
        if (remainderPx >= option.leftTablePop.length) {
          everyAddWidthPx = Math.floor(
            remainderPx / option.leftTablePop.length
          );
          cellAddWidthPx = remainderPx % option.leftTablePop.length;
        }
        if (everyAddWidthPx) {
          option.leftTablePop.forEach(val => {
            val.width += everyAddWidthPx;
          });
        }
        if (cellAddWidthPx) {
          for (let i = 0; i < cellAddWidthPx; i++) {
            option.leftTablePop[i].width++;
          }
        }
        option.leftWidth += remainderPx;
      }
      for (let i = 0; i < option.screenShowCellNum; i++) {
        option.leftTablePop.push({
          prop: "",
          label: "",
          alignType: "center",
          width: option.rightCellWidth
        });
      }
      console.log("option:", option);
    },
    selectColumnHanlder(data) {
      //点击 切换表格列时获取 column prop值
      console.log("selectColumnHanlder:", data);
    },
    handleSizeChange(val) {
      console.log(`每页 ${val} 条`);
      this.page.pageSize = val;
    },
    handleCurrentChange(val) {
      console.log(`当前页: ${val}`);
      this.page.currentPage = val;
    },
    scrollEvent(e) {
      //暂时没用
      const scrollTop = e.srcElement.scrollTop;
      console.log(scrollTop);
    }
  }
};
</script>

<style lang="scss" scoped>
.editPop_main {
  position: fixed;
  top: 84px;
  left: 0;
  z-index: 510;
  padding: 0 6%;
  width: 100%;
  overflow: auto;
  .editPop_header {
    position: fixed;
    top: 84px;
    left: 6%;
    z-index: inherit;
    padding: 0 40px 6px 40px;
    width: 88%;
    height: auto;
    .titleArea {
      .title {
        position: relative;
        float: left;
        width: 50%;
        & > i {
          display: block;
          position: absolute;
          top: 50%;
          left: 0;
          z-index: 2;
          transform: translate(0, -50%);
          content: "\20";
          width: 4px;
          height: 20px;
        }
        & > span {
          display: block;
          padding-left: 10px;
          line-height: 74px;
          font-size: 20px;
          text-align: left;
        }
      }
    }
  }
  .editPop_content {
    margin-bottom: 90px;
    padding: 74px 40px 30px 40px;
    width: 100%;
    height: auto;
    .seizeSeat {
      display: block;
    }
    .otherScreenAreaList {
      position: relative;
      width: 100%;
      border-radius: 6px;
      transition: height 0.3s linear;
      &.packUp {
        overflow: hidden;
      }
      .editPop {
        padding: 0 30px 20px;
        margin-bottom: 0;
        .otherScreenTitle {
          padding-top: 20px;
          border-width: 1px 0 0 0;
          border-style: solid;
        }
        &.first {
          .otherScreenTitle {
            border-width: 0;
          }
        }
        &.last {
          padding: 0 30px 52px;
        }
      }
      .otherScreenLine_title {
        margin-right: -130px;
        width: 130px;
      }
      .otherScreenLine_content {
        padding-left: 130px;
      }
      .last .otherScreenLine_content {
        padding-left: 192px;
        & > span:first-child {
          margin-left: -62px;
        }
      }
      .packUpOptionArea {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        height: 52px;
        padding: 10px 0 20px;
        text-align: center;
      }
    }
    .resultTable {
      position: relative;
      width: 100%;
      height: auto;
      .tableTitleSpan {
        position: absolute;
        top: 27px;
        left: 0;
        z-index: 2;
        display: inline-block;
        width: auto;
        text-align: left;
        font-weight: bold;
        span {
          display: inline-block;
          line-height: 32px;
          font-size: 18px;
          vertical-align: baseline;
        }
        span.number {
          padding: 0 5px;
          font-size: 24px;
        }
      }
    }
  }
  .analysisObject_btnArea {
    width: 180px;
  }
  .analysisObject_result {
    padding: 20px 240px 8px 104px;
  }
  .selectArea {
    margin: 20px 0;
    position: relative;
    width: 100%;
    height: 42px;
    text-align: right;
    & > span {
      margin-right: 12px;
    }
    & > span:last-child {
      margin-right: 0;
    }
  }
}
</style>
