<template>
  <div id="basketballIndex">
    <div class="messageAreaMain clearfix">
      <div class="noticeMain">
        <span class="index_title" :style="{ color: TextColorBlueUI0 }"
          >通知</span
        >
        <div
          class="noticeMain_content"
          :style="{ backgroundColor: TextColorWhiteUI1 }"
        >
          <ul class="notice_box">
            <li
              v-for="(newItem, index) of noticeData"
              :key="index"
              class="notice_block"
            >
              <span class="notice_title">{{ newItem.title }}</span
              ><span class="notice_time">{{ newItem.time }}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="newsMain">
        <span class="index_title pg24" :style="{ color: TextColorBlueUI0 }"
          >最新比赛</span
        >
        <div class="newsMain_content">
          <ul class="news_box" v-if="newsData.length !== 0">
            <li
              class="news_block"
              :style="{ backgroundColor: TextColorWhiteUI1 }"
              v-for="(newsItem, index) of newsData"
              :key="index"
            >
              <span class="home_img"
                ><img :src="newsItem.homeLogo" alt=""
              /></span>
              <span class="home_name">{{ newsItem.homeName }}</span>
              <span class="news_score">
                <span class="score_vs">
                  <i>{{ newsItem.homeScore }}</i
                  >:<i>{{ newsItem.awayScore }}</i>
                </span>
                <span class="score_time">{{ newsItem.gameTime }}</span>
              </span>
              <span class="home_name away_name">{{ newsItem.awayName }}</span>
              <span class="home_img away_img"
                ><img :src="newsItem.awayLogo" alt=""
              /></span>
              <span class="rightTop_img"
                ><img :src="newsItem.competitionLogo" alt=""
              /></span>
            </li>
          </ul>
          <div
            v-else
            class="no_data"
            :style="{ backgroundColor: TextColorWhiteUI1 }"
          >
            <span>近期暂无比赛～</span>
          </div>
        </div>
      </div>
    </div>
    <div class="topAreaMain clearfix">
      <div class="topAreaMain_childer">
        <span class="index_title" :style="{ color: TextColorBlueUI0 }"
          >热门球队 TOP100</span
        >
        <el-table
          :data="tableData"
          style="width: 100%"
          header-cell-class-name="customTableHeaderCell"
          header-row-class-name="customTableHeader"
          cell-class-name="customTableCell"
          :row-class-name="tableRowClassName"
        >
          <el-table-column prop="heatRank" label="NO." width="73">
          </el-table-column>
          <el-table-column
            prop="teamName"
            label="球队"
            width="340"
            align="center"
            :show-overflow-tooltip="true"
          >
            <template slot-scope="scope">
              <span class="scope_img"
                ><img :src="scope.row.teamLogo" alt=""
              /></span>
              <span
                class="scope_name tableClickFont"
                @click="getDetails('team', scope.row)"
                >{{ scope.row.teamName }}</span
              >
            </template>
          </el-table-column>
          <el-table-column
            prop="competitionName"
            label="赛事"
            width="160"
            align="center"
            :show-overflow-tooltip="true"
          >
            <template slot-scope="scope">
              <span class="scope_match">{{ scope.row.competitionName }}</span>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <div class="topAreaMain_childer warnBgColor">
        <span class="index_title" :style="{ color: TextColorBlueUI0 }"
          >热门球员 TOP100</span
        >
        <el-table
          :data="tableDatas"
          style="width: 100%"
          header-cell-class-name="customTableHeaderCell"
          header-row-class-name="customTableHeader"
          cell-class-name="customTableCell"
          :row-class-name="tableRowClassName"
        >
          <el-table-column prop="heatRank" label="NO." width="73">
          </el-table-column>
          <el-table-column
            prop="playerName"
            label="球员"
            width="230"
            align="center"
            :show-overflow-tooltip="true"
          >
            <template slot-scope="scope">
              <span class="scope_img"
                ><img :src="scope.row.playerLogo" alt=""
              /></span>
              <span
                class="scope_player tableClickFont"
                @click="getDetails('player', scope.row)"
                >{{ scope.row.playerName }}</span
              >
            </template>
          </el-table-column>
          <el-table-column
            prop="teamName"
            label="球队"
            width="270"
            align="center"
            :show-overflow-tooltip="true"
          >
            <template slot-scope="scope">
              <span class="scope_img"
                ><img :src="scope.row.teamLogo" alt=""
              /></span>
              <span
                class="scope_name tableClickFont"
                @click="getDetails('team', scope.row)"
                >{{ scope.row.teamName }}</span
              >
            </template>
          </el-table-column>
        </el-table>
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations } from "vuex";
import globalExtends from "@globalExtends";
import { http_team_latestSchedule, http_team_hotTeam } from "@api/team";
import { http_player_hotPlayer } from "@api/player";
export default {
  extends: globalExtends,
  data() {
    return {
      noticeData: [
        {
          title:
            "超赛3.4初版本超赛3.4初版本超赛3.4初版本超赛3.4初版本超赛3.4初版本超赛3.4初版本",
          time: "2020-01-03 22:00"
        },
        {
          title: "超赛3.4初版本",
          time: "2020-01-03 22:00"
        },
        {
          title: "超赛3.4初版本",
          time: "2020-01-03 22:00"
        },
        {
          title: "超赛3.4初版本",
          time: "2020-01-03 22:00"
        },
        {
          title: "超赛3.4初版本",
          time: "2020-01-03 22:00"
        },
        {
          title: "超赛3.4初版本",
          time: "2020-01-03 22:00"
        },
        {
          title: "超赛3.4初版本",
          time: "2020-01-03 22:00"
        }
      ],
      newsData: [],
      // 热门球员
      tableDatas: [],
      // 热门球队
      tableData: [
        {
          // competitionName: "CBA",
          // heatRank: "1",
          // date: "2016-05-02",
          // playerName: "王小虎王小虎王小虎网",
          // playerLogo: null,
          // playerId: "12",
          // teamLogo: null,
          // teamName: "广东东莞银行华南虎广东的",
          // teamId: "111"
        }
      ],
      // 默认球员头像
      defatImgPlayer: require("@png/player_defaultImg.png"),
      // 默认球队头像
      defatImgTeam: require("@png/team_defaultImg.png")
    };
  },
  created() {},
  computed: {
    TextColorBlueUI0() {
      return this.skinPorps.TextColorBlueUI0.default;
    },
    TextColorWhiteUI1() {
      return this.skinPorps.TextColorWhiteUI1.default;
    }
  },
  mounted() {
    this.getLatestSchedule();
    this.getHotTeam();
    this.getHotPlayer();
  },
  methods: {
    ...mapMutations(["setSkinPorps"]),
    tableRowClassName({ rowIndex }) {
      if (rowIndex % 2) {
        return "evenRowStyle";
      } else {
        return "";
      }
    },
    getLatestSchedule() {
      // 获取最新比赛数据
      http_team_latestSchedule()
        .then(res => {
          console.log(res.data);
          this.newsData = res.data;
          // this.newsData = [
          //   {
          //     gameTime: "今天 周二 15:20",
          //     homeName: "王小虎而非微软微软微软为",
          //     awayName: "王小虎而微分全微分微分全微分",
          //     homeLogo: this.defatImgTeam,
          //     awayLogo: this.defatImgTeam,
          //     homeScore: "132",
          //     awayScore: "32",
          //     competitionLogo: this.defatImgTeam
          //   },
          //   {
          //     gameTime: "今天 周二 15:20",
          //     homeName: "王小虎",
          //     awayName: "王小虎",
          //     homeLogo: this.defatImgTeam,
          //     awayLogo: this.defatImgTeam,
          //     homeScore: "132",
          //     awayScore: "32",
          //     competitionLogo: this.defatImgTeam
          //   },
          //   {
          //     gameTime: "2020-02-02 周二 15:20",
          //     homeName: "王小虎",
          //     awayName: "王小虎",
          //     homeLogo: this.defatImgTeam,
          //     awayLogo: this.defatImgTeam,
          //     homeScore: "132",
          //     awayScore: "32",
          //     competitionLogo: this.defatImgTeam
          //   },
          //   {
          //     gameTime: "2020-02-02 周二 15:20",
          //     homeName: "王小虎",
          //     awayName: "王小虎",
          //     homeLogo: this.defatImgTeam,
          //     awayLogo: this.defatImgTeam,
          //     homeScore: "132",
          //     awayScore: "32",
          //     competitionLogo: this.defatImgTeam
          //   },
          //   {
          //     gameTime: "2020-02-02 周二 15:20",
          //     homeName: "王小虎",
          //     awayName: "王小虎",
          //     homeLogo: this.defatImgTeam,
          //     awayLogo: this.defatImgTeam,
          //     homeScore: "132",
          //     awayScore: "32",
          //     competitionLogo: this.defatImgTeam
          //   }
          // ];
        })
        .catch(err => {
          console.log(err);
          this.$notify({
            title: "警告",
            message: err.tipMessage,
            type: "error",
            customClass: "notify_error"
          });
          this.newsData = [];
        });
    },
    getHotTeam() {
      // 获取热门球队
      http_team_hotTeam()
        .then(res => {
          console.log(res);
          this.tableData = res.data;
          this.tableData.forEach(item => {
            item.playerLogo = item.playerLogo
              ? item.playerLogo
              : this.defatImgPlayer;
            item.teamLogo = item.teamLogo ? item.teamLogo : this.defatImgTeam;
          });
        })
        .catch(err => {
          console.log(err);
          this.$notify({
            title: "警告",
            message: err.tipMessage,
            type: "error",
            customClass: "notify_error"
          });
        });
    },
    getHotPlayer() {
      // 获取热门球员
      http_player_hotPlayer()
        .then(res => {
          console.log(res);
          this.tableDatas = res.data;
          this.tableData.forEach(item => {
            item.playerLogo = item.playerLogo
              ? item.playerLogo
              : this.defatImgPlayer;
            item.teamLogo = item.teamLogo ? item.teamLogo : this.defatImgTeam;
          });
        })
        .catch(err => {
          console.log(err);
          this.$notify({
            title: "警告",
            message: err.tipMessage,
            type: "error",
            customClass: "notify_error"
          });
        });
    },
    getDetails(state, item) {
      console.log(state);
      let name = "";
      let params = {};
      if (state === "player") {
        name = "basketballPlayerDetail";
        params = { playerId: item.playerId };
      } else if (state === "team") {
        name = "basketballTeamDetail";
        params = { teamId: item.teamId };
      } else {
        console.log("路由跳转没有传state");
        return;
      }
      this.$router.push({
        name,
        params
      });
    }
  }
};
</script>

<style lang="scss" scoped>
#basketballIndex {
  width: 100%;
  .index_title {
    display: block;
    padding-bottom: 14px;
    text-align: left;
    font-weight: bold;
    line-height: 26px;
    font-size: 18px;
  }
  .messageAreaMain {
    width: 100%;
    height: auto;
    padding: 30px 0 30px 0;
    .noticeMain {
      float: left;
      margin-right: 20px;
      width: 573px;
      height: auto;
      .noticeMain_content {
        width: 100%;
        height: 212px;
        border-radius: 16px;
        padding: 20px 28px 0 20px;
        overflow: hidden;
        &:hover {
          overflow-x: hidden;
          overflow-y: auto;
          padding: 20px 22px 0 20px;
          &::-webkit-scrollbar-track-piece {
            background-color: #fff;
          }
        }
        .notice_box {
          .notice_block {
            height: 38px;
            .notice_title {
              float: left;
              font-size: 16px;
              font-weight: 400;
              color: rgba(51, 51, 51, 1);
              line-height: 22px;
              width: 370px;
              text-align: left;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            .notice_time {
              float: right;
              font-size: 14px;
              font-weight: 400;
              color: #888888;
              line-height: 20px;
            }
          }
        }
      }
    }
    .newsMain {
      float: left;
      width: 578px;
      height: auto;
      margin-right: -5px;
      .pg24 {
        padding-bottom: 9px;
      }
      .newsMain_content {
        width: 100%;
        height: 217px;
        overflow: hidden;
        &:hover {
          overflow-x: hidden;
          overflow-y: auto;
          &::-webkit-scrollbar-track-piece {
            background-color: #fff;
          }
        }
        .news_box {
          width: 573px;
          position: relative;
          top: 5px;
          .news_block {
            height: 64px;
            padding: 12px 30px;
            border-radius: 16px;
            margin-bottom: 10px;
            position: relative;
            &:hover {
              background-color: #ecedf4 !important;
            }
            .rightTop_img {
              width: 20px;
              height: 25px;
              position: absolute;
              top: -5px;
              right: 2px;
              img {
                width: 100%;
              }
            }
            span {
              display: block;
              float: left;
            }
            .home_img {
              width: 40px;
              height: 40px;
              margin-right: 16px;
              img {
                width: 100%;
                height: 100%;
              }
            }
            .away_img {
              margin-left: 16px;
              margin-right: 0;
            }
            .home_name {
              font-size: 16px;
              font-weight: 600;
              color: rgba(85, 85, 85, 1);
              line-height: 40px;
              width: 120px;
              text-align: left;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            .away_name {
              text-align: right;
            }
            .news_score {
              width: 160px;
              text-align: center;
              span {
                display: block;
              }
              .score_vs {
                font-size: 18px;
                font-weight: 600;
                color: rgba(51, 51, 51, 1);
                line-height: 25px;
                width: 100%;
              }
              .score_time {
                font-size: 14px;
                font-weight: 600;
                color: rgba(136, 136, 136, 1);
                line-height: 20px;
                width: 100%;
              }
            }
          }
        }
        .no_data {
          width: 100%;
          height: 212px;
          border-radius: 16px;
          position: relative;
          top: 5px;
          span {
            font-size: 16px;
            font-weight: 500;
            color: #555555;
            line-height: 22px;
            padding: 20px 0 0 30px;
            text-align: left;
            display: block;
          }
        }
      }
    }
  }
  .topAreaMain {
    width: 100%;
    padding-bottom: 30px;
    .topAreaMain_childer {
      float: left;
      margin-right: 20px;
      width: 573px;
      &:last-child {
        margin-right: 0;
      }
      .scope_img {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin: 0 16px 0 20px;
        img {
          width: 100%;
        }
      }
      .scope_name {
        font-weight: 600;
        font-size: 16px;
        cursor: pointer;
      }
      .scope_player {
        font-weight: 600;
        font-size: 16px;
        cursor: pointer;
      }
      .scope_match {
        font-size: 16px;
        font-weight: 400;
        color: rgba(85, 85, 85, 1);
      }
    }
  }
  // 滚动条样式
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-button {
    display: none;
  }
  // &::-webkit-scrollbar-track-piece {
  //   background-color: #fff;
  //   opacity: 0 !important;
  // }
}
</style>
<style lang="scss">
.topAreaMain_childer .el-table::before {
  height: 0px;
}
.topAreaMain_childer .el-table__empty-text {
  font-size: 16px;
  font-weight: 400;
  color: rgba(153, 153, 153, 1);
  line-height: 22px;
}
.topAreaMain_childer .el-table .el-table__body-wrapper {
  max-height: 540px;
  position: static;
  overflow-x: hidden;
}
.topAreaMain_childer .el-table--scrollable-x .el-table__body-wrapper {
  overflow-x: hidden !important;
}
.topAreaMain_childer .el-table:hover .el-table__body-wrapper {
  overflow-y: auto;
}
.topAreaMain_childer .el-table .customTableHeaderCell {
  text-align: left !important;
}

.topAreaMain_childer .el-table .customTableCell {
  text-align: left !important;
}

.topAreaMain_childer .el-table .customTableHeader th:first-child,
.topAreaMain_childer .el-table .el-table__row td:first-child {
  text-align: center !important;
}
.topAreaMain_childer .el-table .customTableHeader th:nth-child(2),
.warnBgColor .el-table .customTableHeader th:nth-child(3) {
  padding-left: 66px !important;
}
</style>
