<template>
  <div id="teamTheme" class="teamTheme">
    <div v-for="(itemCell, index) in temeData" :key="index" class="theme_main">
      <div class="theme_block">
        <span class="title_theme">{{ itemCell.theme }}</span>
        <!-- <span class="img_name">
          <span class="img_rul">
            <img src="" alt="" />
          </span>
          <span class="name_title">{{ itemCell.temaNmae }}</span>
        </span> -->
      </div>
      <div class="theme_echerts">
        <ScoreRangePlayer
          v-if="itemCell.type == 1"
          :showImgInfo="true"
          :echartData="echartData1"
          :playerInfo="playerInfo"
        ></ScoreRangePlayer>
        <ScoringEfficiency
          v-if="itemCell.type == 2"
          :showImgInfo="true"
          :echartData="echartData2"
          :playerInfo="playerInfo"
        ></ScoringEfficiency>
        <Radar
          v-if="itemCell.type == 3"
          :showImgInfo="true"
          :echartData="echartData3"
          :playerInfo="playerInfo"
        ></Radar>
        <DataBasic
          v-if="itemCell.type == 4"
          :showImgInfo="true"
          :echartData="echartData4"
          :playerInfo="playerInfo"
        ></DataBasic>
        <AbHomeTeamPerformance
          v-if="itemCell.type == 5"
          :showImgInfo="true"
          :homeName="false"
          :echartData="echartData5"
          :playerInfo="playerInfo"
        ></AbHomeTeamPerformance>
        <ShootHotArea10
          v-if="itemCell.type == 6"
          :showImgInfo="true"
          :homeName="false"
          :echartData="echartData6"
          :playerInfo="playerInfo"
        ></ShootHotArea10>
        <DataRank
          v-if="itemCell.type == 7"
          :disName="false"
          :showImgInfo="true"
          :showImgPlayer="false"
          :echartData="echartData7"
          :playerInfo="playerInfo"
        ></DataRank>
        <ShootHotArea4
          v-if="itemCell.type == 8"
          :showImgInfo="true"
          :homeName="false"
          :echartData="echartData8"
          :playerInfo="playerInfo"
        ></ShootHotArea4>
      </div>
    </div>
  </div>
</template>

<script>
import DataRank from "@basketballCharts/dataRank";
import AbHomeTeamPerformance from "@basketballCharts/bar/AbHomeTeamPerformance.vue";
import DataBasic from "@basketballCharts/dataBasic";
import ScoringEfficiency from "@basketballCharts/bar/AbScoringEfficiency.vue";
import Radar from "@basketballCharts/radar/Radar.vue";
import ScoreRangePlayer from "@basketballCharts/scoreRange/scoreRangePlayer.vue";
import ShootHotArea10 from "@basketballCharts/shootHotArea/area10.vue";
import ShootHotArea4 from "@basketballCharts/shootHotArea/area4.vue";
import {
  http_player_playerAreaContribution,
  http_player_playerShootingEfficiency,
  http_player_playerBasicsData,
  http_player_playerHighData,
  http_player_playerGameContribution,
  http_player_playerDataRank,
  http_player_playerShootArea,
  http_player_playerPaintAnalysis
} from "@api/player";
export default {
  name: "teamTheme",
  props: {
    contId: {
      type: Object,
      default: function() {
        return {};
      }
    },
    playerDetail: {
      type: Object,
      default: function() {
        return {};
      }
    }
  },
  data() {
    return {
      // 球队详情
      playerInfo: {},
      temeData: [
        {
          theme: "球员得分区域分布贡献",
          type: 1
        },
        {
          theme: "球员得分效率统计",
          type: 2
        },
        {
          theme: "球员基础数据",
          type: 3
        },
        {
          theme: "球员高阶数据",
          type: 4
        },
        {
          theme: "球员比赛贡献",
          type: 5
        },
        {
          theme: "球员投篮热图",
          type: 6
        },
        {
          theme: "球员数据排名",
          type: 7
        },
        {
          theme: "球员内线分析",
          type: 8
        }
      ],
      competitionId: null,
      seasonId: null,
      // 图表数据
      echartData1: {},
      echartData2: {},
      echartData3: {},
      echartData4: {},
      echartData5: {},
      echartData6: [],
      echartData7: {},
      echartData8: []
    };
  },
  watch: {
    contId: {
      deep: true,
      handler: function() {
        this.ininData();
      }
    },
    playerDetail(n) {
      this.playerInfo = n;
    }
  },
  created() {},
  mounted() {
    this.playerId = this.$route.params.playerId;
  },
  methods: {
    ininData() {
      this.seasonId = this.contId.seasonId;
      this.competitionId = this.contId.competitionId;
      this.getPlayerAreaContribution();
      this.getPlayerShootingEfficiency();
      this.getPlayerBasicsData();
      this.getPlayerHighData();
      this.getPlayerGameContribution();
      this.getPlayerDataRank();
      this.getPlayerShootArea();
      this.getPlayerPaintAnalysis();
    },
    getPlayerShootArea() {
      // 球员投篮热区
      let $getPlayerShootArea = {
        playerId: this.playerId,
        seasonId: this.seasonId,
        competitionId: this.competitionId
      };
      http_player_playerShootArea($getPlayerShootArea)
        .then(res => {
          console.log(res);
          setTimeout(() => {
            console.log("1s 之后");
            this.echartData6 = [
              {
                fga: 57,
                fgm: 21,
                areaType: 6,
                areaState: 2,
                positionClass: "top5"
              },
              {
                fga: 57,
                fgm: 22,
                areaType: 10,
                areaState: 1,
                positionClass: "top1"
              },
              {
                fga: 57,
                fgm: 23,
                areaType: 2,
                areaState: 3,
                positionClass: "top4"
              },
              {
                fga: 157,
                fgm: 124,
                areaType: 5,
                areaState: 2,
                positionClass: "top2"
              },
              {
                fga: 57,
                fgm: 25,
                areaType: 3,
                areaState: 1,
                positionClass: "mid2"
              },
              {
                fga: 157,
                fgm: 126,
                areaType: 4,
                areaState: 3,
                positionClass: "mid1"
              },
              {
                fga: 257,
                fgm: 127,
                areaType: 9,
                areaState: 2,
                positionClass: "bottom1"
              },
              {
                fga: 57,
                fgm: 28,
                areaType: 7,
                areaState: 1,
                positionClass: "bottom3"
              },
              {
                fga: 509,
                fgm: 296,
                areaType: 8,
                areaState: 3,
                positionClass: "bottom2"
              },
              {
                fga: 503,
                fgm: 296,
                areaType: 1,
                areaState: 3,
                positionClass: "top3"
              }
            ];
          }, 1000);

          setTimeout(() => {
            console.log("10s 之后");
            this.echartData6 = [
              {
                fga: 57,
                fgm: 21,
                areaType: 6,
                areaState: 1,
                positionClass: "top5"
              },
              {
                fga: 57,
                fgm: 22,
                areaType: 10,
                areaState: 1,
                positionClass: "top1"
              },
              {
                fga: 57,
                fgm: 23,
                areaType: 2,
                areaState: 3,
                positionClass: "top4"
              },
              {
                fga: 157,
                fgm: 124,
                areaType: 5,
                areaState: 2,
                positionClass: "top2"
              },
              {
                fga: 57,
                fgm: 25,
                areaType: 3,
                areaState: 3,
                positionClass: "mid2"
              },
              {
                fga: 157,
                fgm: 126,
                areaType: 4,
                areaState: 1,
                positionClass: "mid1"
              },
              {
                fga: 257,
                fgm: 127,
                areaType: 9,
                areaState: 3,
                positionClass: "bottom1"
              },
              {
                fga: 257,
                fgm: 228,
                areaType: 7,
                areaState: 3,
                positionClass: "bottom3"
              },
              {
                fga: 509,
                fgm: 296,
                areaType: 8,
                areaState: 3,
                positionClass: "bottom2"
              },
              {
                fga: 503,
                fgm: 296,
                areaType: 1,
                areaState: 1,
                positionClass: "top3"
              }
            ];
          }, 10000);
        })
        .catch(err => {
          console.log(err);
          this.$notify({
            title: "警告",
            message: err.tipMessage,
            type: "error",
            customClass: "notify_error"
          });
        });
    },
    getPlayerPaintAnalysis() {
      // 球员内线分析
      let $getPlayerPaintAnalysis = {
        playerId: this.playerId,
        seasonId: this.seasonId,
        competitionId: this.competitionId
      };
      http_player_playerPaintAnalysis($getPlayerPaintAnalysis)
        .then(res => {
          console.log(res);
          setTimeout(() => {
            console.log("1s 之后");
            this.echartData8 = [
              {
                usage: 10.0,
                fgmBasket: 20,
                fgaBasket: 30,
                fgmPctBasket: 20.0,
                takeAstPer: 50.0,
                fgm1: 120,
                fga1: 400,
                fgmPct1: 20.0,
                fgm2: 50,
                fga2: 400,
                fgmPct2: 10.0,
                fgm34: 140,
                fga34: 400,
                fgmPct34: 40.0,
                fgm5: 130,
                fga5: 400,
                fgmPct5: 30.0
              }
            ];
          }, 1000);

          setTimeout(() => {
            console.log("10s 之后");
            this.echartData8 = [
              {
                usage: 10.0,
                fgmBasket: 20,
                fgaBasket: 30,
                fgmPctBasket: 20.0,
                takeAstPer: 50.0,
                fgm1: 120,
                fga1: 400,
                fgmPct1: 20.0,
                fgm2: 50,
                fga2: 400,
                fgmPct2: 10.0,
                fgm34: 240,
                fga34: 400,
                fgmPct34: 70.0,
                fgm5: 230,
                fga5: 400,
                fgmPct5: 60.0
              }
            ];
          }, 10000);
        })
        .catch(err => {
          console.log(err);
          this.$notify({
            title: "警告",
            message: err.tipMessage,
            type: "error",
            customClass: "notify_error"
          });
        });
    },
    getPlayerAreaContribution() {
      // 球员得分区域分布贡献
      let $getPlayerAreaContribution = {
        playerId: this.playerId,
        seasonId: this.seasonId,
        competitionId: this.competitionId
      };
      http_player_playerAreaContribution($getPlayerAreaContribution)
        .then(res => {
          this.echartData1 = res.data;
        })
        .catch(err => {
          console.log(err);
          this.$notify({
            title: "警告",
            message: err.tipMessage,
            type: "error",
            customClass: "notify_error"
          });
        });
    },
    getPlayerShootingEfficiency() {
      // 球员得分效率统计
      let $getPlayerShootingEfficiency = {
        playerId: this.playerId,
        seasonId: this.seasonId,
        competitionId: this.competitionId
      };
      http_player_playerShootingEfficiency($getPlayerShootingEfficiency)
        .then(res => {
          let datas = res.data;
          //死数据2
          this.echartData2 = {
            list: [
              {
                maxValue: datas.fgmPctMax ? datas.fgmPctMax : 100.0,
                text: "投篮命中率",
                value: datas.fgmPct
              },
              {
                maxValue: datas.fg3mPctMax ? datas.fg3mPctMax : 100.0,
                text: "三分球命中率",
                value: datas.fg3mPct
              },
              {
                maxValue: datas.ftmPctMax ? datas.ftmPctMax : 100.0,
                text: "罚球命中率",
                value: datas.ftmPct
              }
            ],
            circleLists: [
              {
                text: "三分球出手",
                value: datas.fg3a
              },
              {
                text: "罚球出手",
                value: datas.fta
              },
              {
                text: "投篮出手",
                value: datas.fga
              }
            ]
          };
        })
        .catch(err => {
          console.log(err);
          this.$notify({
            title: "警告",
            message: err.tipMessage,
            type: "error",
            customClass: "notify_error"
          });
        });
    },
    getPlayerBasicsData() {
      // 球员基础数据
      let $getPlayerBasicsData = {
        playerId: this.playerId,
        seasonId: this.seasonId,
        competitionId: this.competitionId
      };
      http_player_playerBasicsData($getPlayerBasicsData)
        .then(res => {
          let data = res.data;
          // 死数据3
          this.echartData3 = {
            dimensionNames: [
              "得分",
              "篮板",
              "助攻",
              "抢断",
              "盖帽",
              "上场时间",
              "投篮命中率",
              "罚球命中率"
            ],
            resultData: [
              [
                data.pts,
                data.reb,
                data.ast,
                data.stl,
                data.blk,
                data.min,
                data.fgmPct,
                data.ftmPct
              ],
              [
                data.leaguePts,
                data.leagueReb,
                data.leagueAst,
                data.leagueStl,
                data.leagueBlk,
                data.leagueMin,
                data.leagueFgmPct,
                data.leagueFtmPct
              ]
            ],
            maxData: [
              data.ptsMax,
              data.rebMax,
              data.astMax,
              data.stlMax,
              data.blkMax,
              data.minMax,
              data.fgmPctMax,
              data.ftmPctMax
            ]
          };
        })
        .catch(err => {
          console.log(err);
          this.$notify({
            title: "警告",
            message: err.tipMessage,
            type: "error",
            customClass: "notify_error"
          });
        });
    },
    getPlayerHighData() {
      // 球员高阶数据
      let $getPlayerHighData = {
        playerId: this.playerId,
        seasonId: this.seasonId,
        competitionId: this.competitionId
      };
      http_player_playerHighData($getPlayerHighData)
        .then(res => {
          let datas = res.data;
          this.echartData4 = {
            itemData: [
              {
                name: "使用率",
                time: datas.usage
              },
              {
                name: "+/-值",
                time: datas.pmp
              },
              {
                name: "封盖率",
                time: datas.blkPct
              },
              {
                name: "封盖次数",
                time: datas.blk
              },
              {
                name: "封盖犯规比",
                time: datas.astPct
              },
              {
                name: "助攻率",
                time: datas.astPct
              },
              {
                name: "助攻数",
                time: datas.ast
              },
              {
                name: "助攻失误比",
                time: datas.astPer
              },
              {
                name: "有效投篮命中率",
                time: datas.efg
              },
              {
                name: "投篮命中数",
                time: datas.fgm
              },
              {
                name: "投篮出手数",
                time: datas.fga
              },
              {
                name: "篮板率",
                time: datas.rebPct
              },
              {
                name: "总篮板",
                time: datas.reb
              },
              {
                name: "进攻篮板",
                time: datas.oreb
              },
              {
                name: "防守篮板",
                time: datas.dreb
              },
              {
                name: "抢断率",
                time: datas.stlPct
              },
              {
                name: "抢断次数",
                time: datas.stl
              },
              {
                name: "抢断犯规比",
                time: datas.stlsFoulsRatio
              },
              {
                name: "失误率",
                time: datas.tovPct
              },
              {
                name: "失误次数",
                time: datas.tov
              }
            ]
          };
        })
        .catch(err => {
          console.log(err);
          this.$notify({
            title: "警告",
            message: err.tipMessage,
            type: "error",
            customClass: "notify_error"
          });
        });
    },
    getPlayerGameContribution() {
      // 球员比赛贡献
      let $getPlayerGameContribution = {
        playerId: this.playerId,
        seasonId: this.seasonId,
        competitionId: this.competitionId
      };
      http_player_playerGameContribution($getPlayerGameContribution)
        .then(res => {
          let datas = res.data;
          this.echartData5 = {
            list: [
              {
                maxValue: datas.ptsRelatedMax ? datas.ptsRelatedMax : 100.0,
                text: "得分相关",
                value: datas.ptsRelated
              },
              {
                maxValue: datas.usageMax ? datas.usageMax : 100.0,
                text: "使用率",
                value: datas.usage
              },
              {
                maxValue: datas.pieMax ? datas.pieMax : 100.0,
                text: "比赛影响力PIE",
                value: datas.pie
              }
            ]
          };
          console.log(res);
        })
        .catch(err => {
          console.log(err);
          this.$notify({
            title: "警告",
            message: err.tipMessage,
            type: "error",
            customClass: "notify_error"
          });
        });
    },
    getPlayerDataRank() {
      // 球员数据排名
      let $getPlayerDataRank = {
        playerId: this.playerId,
        seasonId: this.seasonId,
        competitionId: this.competitionId
      };
      http_player_playerDataRank($getPlayerDataRank)
        .then(res => {
          let datas = res.data;
          // 死数据7
          this.echartData7 = {
            itemData: [
              {
                name: "上场时间",
                time: datas.min,
                rank: datas.minRank
              },
              {
                name: "得分",
                time: datas.pts,
                rank: datas.ptsRank
              },
              {
                name: "篮板",
                time: datas.reb,
                rank: datas.rebRank
              },
              {
                name: "进攻篮板",
                time: datas.oreb,
                rank: datas.orebRank
              },
              {
                name: "防守篮板",
                time: datas.dreb,
                rank: datas.drebRank
              },
              {
                name: "助攻",
                time: datas.ast,
                rank: datas.astRank
              },
              {
                name: "抢断",
                time: datas.stl,
                rank: datas.stlRank
              },
              {
                name: "失误",
                time: datas.tov,
                rank: datas.tovRank
              }
            ]
          };
        })
        .catch(err => {
          console.log(err);
          this.$notify({
            title: "警告",
            message: err.tipMessage,
            type: "error",
            customClass: "notify_error"
          });
        });
    }
  },
  components: {
    DataRank,
    AbHomeTeamPerformance,
    ScoringEfficiency,
    DataBasic,
    Radar,
    ScoreRangePlayer,
    ShootHotArea10,
    ShootHotArea4
  }
};
</script>

<style lang="scss" scoped>
.teamTheme {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .theme_main {
    width: 573px;
    height: 354px;
    background: rgba(246, 248, 251, 1);
    border-radius: 16px;
    border: 2px solid rgba(246, 248, 251, 1);
    margin-bottom: 20px;
    transition: all 0.2s linear;
    &:hover {
      transition: all 0.2s linear;
      transform: translateY(-4px);
      box-shadow: 0px 4px 20px 0px rgba(45, 50, 90, 0.16);
    }
    .theme_block {
      display: flex;
      justify-content: flex-start;
      .title_theme {
        font-size: 14px;
        font-weight: 600;
        color: rgba(85, 85, 85, 1);
        line-height: 20px;
        text-align: left;
        padding: 16px 0 0 20px;
        min-width: 250px;
        max-width: 260px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .img_name {
        display: flex;
        justify-content: flex-start;
        padding: 30px 0 0 0;
        display: none;
        .img_rul {
          display: block;
          width: 30px;
          height: 30px;
          margin-right: 8px;
          background-color: yellow;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .name_title {
          font-size: 16px;
          font-weight: 600;
          color: rgba(85, 85, 85, 1);
          line-height: 30px;
          width: 200px;
          text-align: left;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
    .theme_echerts {
      padding: 16px 30px 22px 30px;
      width: 100%;
      height: 300px;
    }
  }
}
</style>
