<template>
  <div id="playerDetail" class="playerDetail">
    <div :class="SuciionTop ? 'header_main_top' : 'header_main'">
      <div class="header_main_block">
        <div class="team_select">
          <div class="select_title">
            <span class="title_bor"></span>
            <span class="title_tl">球员详情</span>
          </div>
          <div class="team_option">
            <span class="selectBigSpan">
              <el-select
                v-model="contId.competitionId"
                @change="changeCompet"
                placeholder="请选择赛事"
              >
                <el-option
                  v-for="item in competitionOptions"
                  :key="item.competitionId"
                  :label="item.competitionName"
                  :value="item.competitionId"
                  :disabled="!item.seasonItems.length"
                >
                </el-option>
              </el-select>
            </span>
            <span class="selectBigSpan">
              <el-select
                v-model="contId.seasonId"
                @change="changeSeason"
                placeholder="请选择赛季"
              >
                <el-option
                  v-for="item in seasonOptions"
                  :key="item.seasonId"
                  :label="item.seasonName"
                  :value="item.seasonId"
                >
                </el-option>
              </el-select>
            </span>
          </div>
        </div>
        <!-- 球队信息 -->
        <div
          class="team_details"
          :style="{ backgroundColor: TextColorWhiteUI1 }"
        >
          <div class="info_left">
            <img :src="playerDetails.playerAvatar" alt="" />
          </div>
          <div class="info_right">
            <div class="info_name">
              <span class="name_pd1">{{ playerDetails.playerName }}</span>
              <span class="name_pd2"
                ><img :src="playerDetails.teamLogo" alt=""
              /></span>
              <span class="name_pd3">{{ playerDetails.teamName }}</span>
            </div>
            <div class="info_item">
              <span
                ><i>国籍：</i><i>{{ playerDetails.nationality }}</i>
              </span>
              <span
                ><i>出身日期：</i><i>{{ playerDetails.birthDate }}</i>
              </span>
              <span
                ><i>身高：</i><i>{{ playerDetails.height }}</i>
              </span>
              <span
                ><i>体重：</i><i>{{ playerDetails.weight }}</i>
              </span>
              <span
                ><i>位置：</i><i>{{ playerDetails.position }}</i>
              </span>
              <span
                ><i>球衣号：</i><i>{{ playerDetails.jerseyNum }}</i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 联盟对比 -->
    <div class="analys_theme">
      <h5 class="team_title" :style="{ color: TextColorBlueUI0 }">
        <span>联盟对比</span>
      </h5>
      <el-table
        :data="contrastData"
        style="width: 100%"
        header-cell-class-name="customTableHeaderCell"
        header-row-class-name="customTableHeader"
        cell-class-name="customTableCell"
        :row-class-name="tableRowClassName"
      >
        <el-table-column
          v-for="(item, index) of contrastTitle"
          :key="index"
          :prop="item.prop"
          :label="item.label"
          :show-overflow-tooltip="true"
          :width="getWIdth(item.prop)"
        >
        </el-table-column>
      </el-table>
    </div>
    <!-- 球队数据-->
    <div class="analys_theme warnBgColor">
      <div class="selct_btn">
        <h5 class="team_title" :style="{ color: TextColorBlueUI0 }">
          球队数据
        </h5>
        <SwitchBtn
          :callBackObj="playerDetails"
          :switchText="switchTextArr"
          :switchDefault="flag"
          @changeSwitchState="isDisplayDataItem"
        ></SwitchBtn>
      </div>
      <el-table
        :data="statisticsDataVal"
        style="width: 100%"
        header-cell-class-name="customTableHeaderCell"
        header-row-class-name="customTableHeader"
        cell-class-name="customTableCell"
        :row-class-name="tableRowClassName"
      >
        <el-table-column
          v-for="(item, index) of statisticsTitle.slice(1, 10)"
          :key="index"
          :prop="item.prop"
          :label="item.label"
          :show-overflow-tooltip="true"
        >
        </el-table-column>
      </el-table>
      <el-table
        :data="statisticsDataVal"
        style="width: 100%"
        header-cell-class-name="customTableHeaderCell"
        header-row-class-name="customTableHeader"
        cell-class-name="customTableCell"
        :row-class-name="tableRowClassName"
      >
        <el-table-column
          v-for="(item, index) of statisticsTitle.slice(11, 20)"
          :key="index"
          :prop="item.prop"
          :label="item.label"
          :show-overflow-tooltip="true"
        >
        </el-table-column>
      </el-table>
    </div>
    <!-- 分析主题 -->
    <div class="analys_theme">
      <h5 class="team_title" :style="{ color: TextColorBlueUI0 }">
        分析主题
      </h5>
      <PlayerTheme :contId="contId" :playerDetail="playerDetails"></PlayerTheme>
    </div>
    <!-- 转会记录 -->
    <div class="analys_theme transfer">
      <h5 class="team_title" :style="{ color: TextColorBlueUI0 }">
        转会记录
      </h5>
      <el-table
        :data="transferItem"
        style="width: 100%"
        header-cell-class-name="customTableHeaderCell"
        header-row-class-name="customTableHeader"
        cell-class-name="customTableCell"
        :row-class-name="tableRowClassName"
      >
        <el-table-column
          v-for="(item, index) of transferData"
          :key="index"
          :prop="item.prop"
          :label="item.label"
          :show-overflow-tooltip="true"
          :width="getWIdth(item.prop)"
        >
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>

<script>
import { mapMutations, mapState } from "vuex";
import globalExtends from "@globalExtends";
import SwitchBtn from "@components/switch/SliderSwitch";
import PlayerTheme from "../basketball/playerTheme";
import {
  http_player_getCompetitionAndSeasonItem,
  http_player_playerDetail,
  http_player_playerDataSum,
  http_player_playerDataAvg
} from "@api/player";
export default {
  extends: globalExtends,
  name: "playerDetail",
  data() {
    return {
      competitionOptions: [],
      seasonOptions: [],
      // 传给子组件的id
      contId: {
        competitionId: null,
        seasonId: null
      },
      // 球员详情数据
      playerDetails: {},
      // 联盟数据
      contrastData: [],
      // 联盟标题
      contrastTitle: [
        {
          prop: "name",
          label: ""
        },
        {
          prop: "pts",
          label: "场均得分"
        },
        {
          prop: "fgPct",
          label: "投篮(%)"
        },
        {
          prop: "fg3Pct",
          label: "三分(%)"
        },
        {
          prop: "ftPct",
          label: "罚球(%)"
        },
        {
          prop: "reb",
          label: "场均篮板"
        },
        {
          prop: "ast",
          label: "场均助攻"
        },
        {
          prop: "blk",
          label: "场均盖帽"
        },
        {
          prop: "stl",
          label: "场均抢断"
        },
        {
          prop: "stl",
          label: "场均抢断"
        }
      ],
      // 球队数据标题
      statisticsTitle: [
        {
          prop: "gp",
          label: "场次"
        },
        {
          prop: "min",
          label: "分钟"
        },
        {
          prop: "pts",
          label: "得分"
        },
        {
          prop: "fga",
          label: "投篮出手"
        },
        {
          prop: "fgm",
          label: "投篮命中"
        },
        {
          prop: "fgPct",
          label: "投篮命中率"
        },
        {
          prop: "fg3a",
          label: "3分出手"
        },
        {
          prop: "fg3m",
          label: "3分命中"
        },
        {
          prop: "fg3Pct",
          label: "3分命中率"
        },
        {
          prop: "fta",
          label: "罚球出手"
        },
        {
          prop: "ftm",
          label: "罚球命中"
        },
        {
          prop: "ftPct",
          label: "罚球命中率"
        },
        {
          prop: "oreb",
          label: "前板"
        },
        {
          prop: "dreb",
          label: "后板"
        },
        {
          prop: "reb",
          label: "篮板"
        },
        {
          prop: "ast",
          label: "助攻"
        },
        {
          prop: "to",
          label: "失误"
        },
        {
          prop: "stl",
          label: "抢断"
        },
        {
          prop: "blk",
          label: "盖帽"
        },
        {
          prop: "pf",
          label: "犯规"
        }
      ],
      statisticsDataVal: [],
      // 是否是场均或总数
      switchTextArr: ["总数", "场均"],
      defaultImg: require("@png/event1.png"),
      // 默认总数
      flag: false,
      teamName: "",
      transferData: [
        {
          prop: "num",
          label: "序号"
        },
        {
          prop: "time",
          label: "转会时间"
        },
        {
          prop: "qianTeam",
          label: "转会前球队"
        },
        {
          prop: "houTeam",
          label: "转会后球队"
        }
      ],
      transferItem: [
        {
          num: "9",
          time: "7",
          qianTeam: "8",
          houTeam: "444"
        },
        {
          num: "9",
          time: "7",
          qianTeam: "8",
          houTeam: "444"
        }
      ],
      // 默认球员头像
      defatImgPlayer: require("@png/playerBig_default.png"),
      // 默认球员头像
      defatImgTeam: require("@png/team_defaultImg.png")
    };
  },
  created() {
    this.setIsClickSecondMenu(true);
  },
  mounted() {
    this.playerId = this.$route.params.playerId;
    this.getCompetitionAndSeasonItem();
  },
  computed: {
    ...mapState("home", ["SuciionTop"]),
    TextColorBlueUI0() {
      return this.skinPorps.TextColorBlueUI0.default;
    },
    TextColorWhiteUI1() {
      return this.skinPorps.TextColorWhiteUI1.default;
    }
  },
  methods: {
    ...mapMutations({ setIsClickSecondMenu: "home/setIsClickSecondMenu" }),
    tableRowClassName({ row, rowIndex }) {
      console.debug(row);
      if (rowIndex % 2) {
        return "evenRowStyle";
      } else {
        return "";
      }
    },
    getWIdth(name) {
      if (name == "name") {
        return 180;
      } else if (name == "num") {
        return 112;
      } else if (name == "time") {
        return 184;
      } else if (name == "qianTeam") {
        return 300;
      }
    },
    getCompetitionAndSeasonItem() {
      // 赛事和赛季数据
      http_player_getCompetitionAndSeasonItem()
        .then(res => {
          console.log(res);
          this.competitionOptions = res.data;
          this.contId.competitionId = this.competitionOptions[1].competitionId;
          this.competitionOptions.forEach(item => {
            if (this.contId.competitionId == item.competitionId) {
              this.seasonOptions = item.seasonItems;
              this.contId.seasonId = item.seasonItems[0].seasonId;
            }
          });
          this.getPlayerDetail();
          if (this.flag) {
            this.getPlayerDataAvg();
          } else {
            this.getPlayerDataSum();
          }
        })
        .catch(err => {
          console.log(err);
          this.$notify({
            title: "警告",
            message: err.tipMessage,
            type: "error",
            customClass: "notify_error"
          });
        });
    },
    // 赛事点击事件
    changeCompet(v) {
      this.contId.competitionId = v;
      this.competitionOptions.forEach(item => {
        if (this.contId.competitionId == item.competitionId) {
          this.seasonOptions = item.seasonItems;
          this.contId.seasonId = item.seasonItems[0].seasonId;
        }
      });
      this.getPlayerDetail();
      if (this.flag) {
        this.getPlayerDataAvg();
      } else {
        this.getPlayerDataSum();
      }
    },
    // 赛季点击事件
    changeSeason(v) {
      this.contId.seasonId = v;
      this.getPlayerDetail();
      if (this.flag) {
        this.getPlayerDataAvg();
      } else {
        this.getPlayerDataSum();
      }
    },
    getPlayerDetail() {
      // 球队信息
      let $getPlayerDetail = {
        playerId: this.playerId,
        seasonId: this.contId.seasonId,
        competitionId: this.contId.competitionId
      };
      http_player_playerDetail($getPlayerDetail)
        .then(res => {
          let datas = res.data;
          this.playerDetails = {
            playerId: datas.playerId ? datas.playerId : 1,
            playerName: datas.playerName ? datas.playerName : "-",
            playerAvatar: datas.playerAvatar
              ? datas.playerAvatar
              : this.defatImgPlayer,
            teamName: datas.teamName ? datas.teamName : "-",
            teamLogo: datas.playerAvatar
              ? datas.playerAvatar
              : this.defatImgTeam,
            nationality: datas.nationality ? datas.nationality : "-",
            birthDate: datas.birthDate ? datas.birthDate : "-",
            height: datas.height ? datas.height + "CM" : "-",
            weight: datas.weight ? datas.weight + "KG" : "-",
            position: datas.position ? datas.position : "-",
            jerseyNum: datas.jerseyNum ? datas.jerseyNum : "-"
          };
          this.teamName = this.playerDetails.teamName;
          this.contrastData = res.data.playerLeagueData
            ? res.data.playerLeagueData
            : [];
          // this.contrastData = [
          //   {
          //     pts: "9",
          //     fgPct: "7",
          //     ftPct: "8",
          //     fg3Pct: "444",
          //     reb: "8",
          //     ast: "6",
          //     blk: "55",
          //     stl: "3"
          //   },
          //   {
          //     pts: "5",
          //     ftPct: "8",
          //     fgPct: "4",
          //     fg3Pct: "6",
          //     reb: "5",
          //     ast: "66",
          //     blk: "5",
          //     stl: "4"
          //   }
          // ];
          if (
            this.contrastData &&
            this.contrastData[0] &&
            this.contrastData[1]
          ) {
            this.contrastData[0].name = this.teamName;
            this.contrastData[1].name = "联盟";
          }
        })
        .catch(err => {
          console.log(err);
          this.$notify({
            title: "警告",
            message: err.tipMessage,
            type: "error",
            customClass: "notify_error"
          });
          this.playerDetails = {
            playerId: this.playerDetails.playerId
              ? this.playerDetails.playerId
              : 1,
            playerName: this.playerDetails.playerName
              ? this.playerDetails.playerName
              : "-",
            playerAvatar: this.playerDetails.playerAvatar
              ? this.playerDetails.playerAvatar
              : this.defatImgPlayer,
            teamName: this.playerDetails.teamName
              ? this.playerDetails.teamName
              : "-",
            teamLogo: this.playerDetails.playerAvatar
              ? this.playerDetails.playerAvatar
              : this.defatImgTeam,
            nationality: this.playerDetails.nationality
              ? this.playerDetails.nationality
              : "-",
            birthDate: this.playerDetails.birthDate
              ? this.playerDetails.birthDate
              : "-",
            height: this.playerDetails.height ? this.playerDetails.height : "-",
            weight: this.playerDetails.weight ? this.playerDetails.weight : "-",
            position: this.playerDetails.position
              ? this.playerDetails.position
              : "-",
            jerseyNum: this.playerDetails.jerseyNum
              ? this.playerDetails.jerseyNum
              : "-"
          };
        });
    },
    getPlayerDataSum() {
      // 球队数据总数
      let $getPlayerDataSum = {
        playerId: this.playerId,
        seasonId: this.contId.seasonId,
        competitionId: this.contId.competitionId
      };
      http_player_playerDataSum($getPlayerDataSum)
        .then(res => {
          this.statisticsDataVal = [];
          this.statisticsDataVal.push(res.data);
        })
        .catch(err => {
          console.log(err);
          this.$notify({
            title: "警告",
            message: err.tipMessage,
            type: "error",
            customClass: "notify_error"
          });
        });
    },
    getPlayerDataAvg() {
      // 球队数据场均
      let $getPlayerDataAvg = {
        playerId: this.playerId,
        seasonId: this.contId.seasonId,
        competitionId: this.contId.competitionId
      };
      http_player_playerDataAvg($getPlayerDataAvg)
        .then(res => {
          this.statisticsDataVal = [];
          this.statisticsDataVal.push(res.data);
        })
        .catch(err => {
          console.log(err);
          this.$notify({
            title: "警告",
            message: err.tipMessage,
            type: "error",
            customClass: "notify_error"
          });
        });
    },
    isDisplayDataItem(data) {
      // 场均和总数
      this.flag = data.flag;
      if (this.flag) {
        this.getPlayerDataAvg();
      } else {
        this.getPlayerDataSum();
      }
    }
  },
  components: {
    PlayerTheme,
    SwitchBtn
  }
};
</script>

<style lang="scss" scoped>
.playerDetail {
  padding-bottom: 30px;
  .header_main_top {
    position: fixed;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.06);
    border-radius: 30px 0px 0px 0px;
    width: calc(100% - 194px);
    left: 194px;
    .header_main_block {
      width: 1160px;
      margin: 0 auto;
    }
    .team_select {
      padding-top: 12px;
      .select_title {
        margin-top: 4px;
      }
      .team_option {
        margin-top: 0;
      }
    }
    .team_details {
      height: 60px;
      margin: 12px 0 10px 0;
      .info_left {
        width: 60px;
        height: 70px;
        margin-left: 50px;
        float: left;
        top: -10px;
      }
      .info_right {
        width: 100%;
        height: 100%;
        text-align: left;
        padding: 14px 0 14px 150px;
        margin-right: -150px;
        .info_name {
          line-height: 32px;
          padding: 0 40px 0 0;
          float: left;
          .name_pd2 {
            position: relative;
            top: -3px;
          }
          .name_pd3 {
            position: relative;
            top: -2px;
          }
        }
        .info_item span {
          line-height: 32px;
        }
      }
    }
  }
  .team_select {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    .select_title {
      width: 92px;
      display: flex;
      justify-content: space-between;
      .title_bor {
        background-color: rgba(53, 49, 149, 1);
        width: 4px;
        height: 20px;
        border-radius: 30px;
      }
      .title_tl {
        font-size: 20px;
        font-weight: 600;
        color: rgba(53, 49, 149, 1);
        line-height: 20px;
      }
    }
    .team_option {
      margin-top: 20px;
      .selectBigSpan {
        margin-left: 30px;
      }
    }
  }
  .team_title {
    font-size: 18px;
    font-weight: 600;
    // color: rgba(45, 50, 90, 1);
    line-height: 25px;
    padding-bottom: 14px;
    text-align: left;
    span {
      position: relative;
      left: -165px;
    }
  }
  .team_details {
    width: 100%;
    height: 115px;
    border-radius: 16px;
    margin: 20px 0 0 0;
    .info_left {
      width: 125px;
      height: 150px;
      float: left;
      position: relative;
      top: -32px;
      margin-left: 30px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .info_right {
      width: 100%;
      text-align: left;
      padding: 30px 0 22px 185px;
      margin-right: -185px;
      .info_name {
        line-height: 33px;
        padding-bottom: 3px;
        .name_pd1 {
          font-size: 24px;
          font-weight: 600;
          color: rgba(51, 51, 51, 1);
          padding-right: 30px;
        }
        .name_pd2 {
          display: inline-block;
          width: 30px;
          height: 30px;
          margin-right: 8px;
          img {
            vertical-align: middle;
            width: 100%;
            height: 100%;
          }
        }
        .name_pd3 {
          font-size: 16px;
          font-weight: 600;
          color: rgba(85, 85, 85, 1);
        }
      }
      .info_item {
        span {
          margin-right: 40px;
          font-size: 14px;
          font-weight: 400;
          color: rgba(93, 93, 93, 1);
          line-height: 20px;
        }
      }
    }
  }
  .analys_theme {
    padding-top: 30px;
    .selct_btn {
      display: flex;
      justify-content: space-between;
    }
  }
}
</style>
<style lang="scss">
.analys_theme .el-table .customTableHeaderCell {
  text-align: center !important;
}
.analys_theme .el-table::before {
  height: 0px;
}
.analys_theme .el-table .cell {
  height: 28px !important;
  line-height: 28px !important;
}
.analys_theme .el-table {
  border-radius: 16px;
  border-bottom: 2px solid rgba(246, 248, 251, 1);
  border-left: 2px solid rgba(246, 248, 251, 1);
  border-right: 2px solid rgba(246, 248, 251, 1);
}
.warnBgColor .el-table {
  border-radius: 0;
  border-left: 2px solid rgba(246, 248, 251, 1);
  border-right: 2px solid rgba(246, 248, 251, 1);
  border-bottom: none;
}
.analys_theme .el-table .customTableCell {
  text-align: center !important;
  .cell {
    font-weight: 600;
    color: #5d5d5d;
    font-size: 16px;
  }
}
.analys_theme .el-table .customTableHeader th:first-child,
.analys_theme .el-table .el-table__row td:first-child {
  text-align: left !important;
  padding-left: 40px !important;
}
.warnBgColor .el-table .customTableHeader th:first-child,
.warnBgColor .el-table .el-table__row td:first-child,
.transfer .el-table .customTableHeader th:first-child,
.transfer .el-table .el-table__row td:first-child {
  text-align: center !important;
  padding-left: 0 !important;
}
.warnBgColor .el-table:last-child {
  border-radius: 0 0 16px 16px;
  border-bottom: 2px solid rgba(246, 248, 251, 1);
}
.warnBgColor .el-table:last-child .customTableHeader th:first-child,
.warnBgColor .el-table:last-child .customTableHeader th:nth-last-child(2) {
  border-radius: 0 !important;
}
</style>
