<template>
  <div id="basketballPlayer">
    <IntegratedDataPane>
      <span class="dataPane_title" :style="{ color: TextColorBlueUI0 }"
        >球队数据</span
      >
      <div class="dataPane_content">
        <IntegratedDataPaneCell
          v-for="paneCell in dataPaneArr"
          :class="paneCell.className"
          :key="paneCell.title"
          :style="{
            backgroundColor: paneCell.bgColor,
            backgroundImage: `url(${paneCell.bgUrl})`
          }"
        >
          <span class="paneCell_num" :style="{ color: TextColorWhiteUI0 }">{{
            paneCell.num
          }}</span>
          <span class="paneCell_title">{{ paneCell.title }}</span>
        </IntegratedDataPaneCell>
      </div>
    </IntegratedDataPane>
    <el-row class="selectArea">
      <span class="selectBigSpan">
        <el-select v-model="competitionVal" placeholder="请选择赛事">
          <el-option
            v-for="item in competitionOptions"
            :key="item.competitionId"
            :label="item.competitionName"
            :value="item.competitionId"
          >
          </el-option>
        </el-select>
      </span>
      <span class="selectBigSpan">
        <el-select
          v-model="seasonVal"
          @change="seasonChange"
          placeholder="请选择赛季"
        >
          <el-option
            v-for="item in seasonOptions"
            :key="item.seasonId"
            :label="item.seasonName"
            :value="item.seasonId"
          >
          </el-option>
        </el-select>
      </span>
      <span class="selectBigSpan">
        <el-select v-model="phaseVal" placeholder="请选择比赛类型">
          <el-option
            v-for="item in phaseOptions"
            :key="item.phaseId"
            :label="item.phaseName"
            :value="item.phaseId"
          >
          </el-option>
        </el-select>
      </span>
      <span class="selectBigSpan">
        <el-select v-model="teamVal" placeholder="请选择球队">
          <el-option
            v-for="item in teamOptions"
            :key="item.teamId"
            :label="item.teamName"
            :value="item.teamId"
          >
          </el-option>
        </el-select>
      </span>
      <span class="selectBigSpan">
        <el-select v-model="dataTypeVal" placeholder="请选择数据类型">
          <el-option
            v-for="item in dataTypeOptions"
            :key="item.id"
            :label="item.name"
            :value="item.id"
          >
          </el-option>
        </el-select>
      </span>
      <span class="seachArea">
        <el-row style="height: 42px;">
          <el-input
            placeholder="请输入球队名称，空格隔断，最多3人，如：广东 北京 辽宁"
            v-model="inputVal"
            clearable
          >
          </el-input>
          <SeachBtn
            :class="uaBrowserType"
            :BgColorBlueUI3="BgColorBlueUI3"
            :BgColorBlueUI2="BgColorBlueUI2"
            :TextColorWhiteUI0="TextColorWhiteUI0"
            @click="seachBtn"
            ><i>搜索</i></SeachBtn
          >
        </el-row>
      </span>
    </el-row>
    <div class="customClickTableDiv" ref="customClickTable">
      <div v-if="totalWidth">
        <CustomClickTable
          :moveType="customClickTableOption.moveType"
          :isClickFlag="customClickTableOption.isClickFlag"
          :tableSkin="customClickTableOption.tableSkin"
          :totalWidth="customClickTableOption.totalWidth"
          :leftWidth="customClickTableOption.leftWidth"
          :screenShowCellNum="customClickTableOption.screenShowCellNum"
          :tableData="customClickTableOption.tableData"
          :rightCellWidth="customClickTableOption.rightCellWidth"
          :clickableColumnIndex="customClickTableOption.clickableColumnIndex"
          :initColumnIndex="customClickTableOption.initColumnIndex"
          :initSelectColumnProp="customClickTableOption.initSelectColumnProp"
          :leftTablePop="customClickTableOption.leftTablePop"
          :rightTablePop="customClickTableOption.rightTablePop"
          @selectColumn="selectColumnHanlder"
        ></CustomClickTable>
        <el-row class="ptb30">
          <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="page.currentPage"
            :page-sizes="page.pageSizeArr"
            :page-size="page.pageSize"
            layout="prev, pager, next, sizes, total"
            :total="page.total"
          >
          </el-pagination>
        </el-row>
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations } from "vuex";
import CustomClickTable from "@components/CustomClickTable";
import globalExtends from "@globalExtends";
import {
  http_team_getTotalTeamData,
  http_team_getCompetitionAndSeasonItem,
  http_team_getPhaseItem,
  http_team_getTeamItem,
  http_team_getTeamAvgPage,
  http_team_getTeamSumPage
} from "@api/team";
export default {
  extends: globalExtends,
  components: {
    CustomClickTable
  },
  data() {
    return {
      isInitFlag: true, // 第一次获取表格数据需要它来控制，之后是靠【搜索】按钮，true：自动，false： 不自动
      dataPaneArr: [
        //球员数据
        {
          key: "teamCount",
          bgUrl: require("@png/dataPane_bg0.png"),
          title: "球队（支）",
          bgColor: "",
          className: "",
          num: ""
        },
        {
          key: "dataCount",
          bgUrl: require("@png/dataPane_bg1.png"),
          title: "技术指标数据（万）",
          bgColor: "",
          className: "",
          num: ""
        },
        {
          key: "season",
          bgUrl: require("@png/dataPane_bg2.png"),
          title: "赛季",
          bgColor: "",
          className: "",
          num: ""
        },
        {
          key: "competitionList",
          bgUrl: require("@png/dataPane_bg3.png"),
          title: "支持赛事",
          bgColor: "",
          className: "lastPaneCell",
          num: ""
        }
      ],
      competitionOptions: [], //赛类
      competitionVal: 56,
      seasonOptions: [], // 赛季
      seasonVal: null,
      phaseBaseOptions: [{ phaseId: -1, phaseName: "全部比赛类型" }],
      phaseOptions: [], // 赛段
      phaseVal: -1,
      teamBaseOptions: [
        {
          teamId: -1,
          teamName: "全部球队",
          teamLogo: ""
        }
      ], // 球员位置 默认
      teamOptions: [],
      teamVal: -1,
      dataTypeOptions: [
        //数据类型 默认
        {
          name: "总数",
          id: 0
        },
        {
          name: "均数",
          id: 1
        }
      ],
      dataTypeVal: 0,
      inputVal: "",
      defaultTeamLogo: require("@png/team_defaultImg.png"),
      page: {
        competitionVal: "", //赛类
        seasonVal: "", //赛季
        phaseVal: "", //比赛类型
        teamVal: "", //位置
        dataTypeVal: "", // 数据类型
        inputVal: "", //输入框 模糊查询
        currentPage: 1,
        pageSize: 10,
        pageSizeArr: [10, 20, 50],
        total: 0
      },
      totalWidth: 0,
      customClickTableOption: {
        moveType: "cell",
        isClickFlag: true,
        clickableColumnIndex: 4,
        initColumnIndex: 5,
        initSelectColumnProp: "gp",
        tableSkin: {},
        totalWidth: 0,
        leftWidth: 0,
        rightCellWidth: 100,
        screenShowCellNum: 0,
        leftTablePop: [
          {
            prop: "index",
            label: "",
            alignType: "",
            headerCellClass: "",
            width: 46
          },
          {
            customCell: "text",
            prop: "teamName",
            label: "球队",
            alignType: "left",
            headerCellClass: ".alignLeft",
            width: 120
          },
          {
            customCell: "logo",
            prop: "teamLogo",
            label: "Logo",
            alignType: "",
            headerCellClass: "",
            width: 100
          },
          {
            prop: "coachName",
            label: "教练",
            alignType: "",
            headerCellClass: "",
            width: 100
          }
        ],
        rightTablePop: [
          {
            prop: "gp",
            label: "场次"
          },
          {
            prop: "min",
            label: "上场时间"
          },
          {
            prop: "pts",
            label: "得分"
          },
          {
            prop: "fga",
            label: "投篮出手"
          },
          {
            prop: "fgm",
            label: "投篮命中"
          },
          {
            prop: "fgPct",
            label: "投篮,命中率",
            customHeader: true
          },
          {
            prop: "fg3a",
            label: "3分出手"
          },
          {
            prop: "fg3m",
            label: "3分命中"
          },
          {
            prop: "fg3Pct",
            label: "3分,命中率",
            customHeader: true
          },
          {
            prop: "fta",
            label: "罚球出手"
          },
          {
            prop: "ftm",
            label: "罚球命中"
          },
          {
            prop: "ftPct",
            label: "罚球,命中率中率",
            customHeader: true
          },
          {
            prop: "oreb",
            label: "前板"
          },
          {
            prop: "dreb",
            label: "后板"
          },
          {
            prop: "reb",
            label: "篮板"
          },
          {
            prop: "ast",
            label: "助攻"
          },
          {
            prop: "to",
            label: "失误"
          },
          {
            prop: "stl",
            label: "抢断"
          },
          {
            prop: "blk",
            label: "盖帽"
          },
          {
            prop: "pf",
            label: "犯规"
          }
        ],
        tableData: [{}]
      }
    };
  },
  created() {
    this.getTotalTeamData();
    this.getCompetitionAndSeasonItem();
  },
  mounted() {
    this.$nextTick(() => {
      this.totalWidth = this.$refs.customClickTable.clientWidth;
      this.initCustomClickTbale(this.customClickTableOption, this.totalWidth);
    });
  },
  computed: {
    TextColorBlueUI0() {
      return this.skinPorps.TextColorBlueUI0.default;
    },
    actColumnCellBgColor() {
      return this.skinPorps.ActColumnCellBgColor.default;
    },
    customClickTableSelectHeaderColor() {
      return this.skinPorps.StatusColorUI3.default;
    },
    StatusColorUI2() {
      return this.skinPorps.StatusColorUI2.default;
    },
    BgColorBlueUI3() {
      return this.skinPorps.BgColorBlueUI3.default;
    },
    BgColorBlueUI2() {
      return this.skinPorps.BgColorBlueUI2.default;
    },
    TextColorWhiteUI0() {
      return this.skinPorps.TextColorWhiteUI0.default;
    }
  },
  methods: {
    ...mapMutations(["setSkinPorps"]),
    initCustomClickTbale(option, totalWidth) {
      // 初始化自定义切换表格
      let remainderPx = 0;
      option.tableSkin = {
        selectHeaderColor: this.customClickTableSelectHeaderColor,
        actColumnCellBgColor: this.actColumnCellBgColor
      };
      option.totalWidth = Math.floor(totalWidth);
      option.leftWidth = option.leftTablePop.reduce((prev, cur) => {
        return prev + cur.width;
      }, 0);
      if (!option.rightCellWidth) {
        console.log("rightCellWidth为右侧表格单列width，必须有值");
        return;
      }
      let rightWidth = option.totalWidth - option.leftWidth;
      option.screenShowCellNum = rightWidth / option.rightCellWidth;
      if (
        option.screenShowCellNum / Math.floor(option.screenShowCellNum) !==
        1
      ) {
        //将除不尽的宽度平分到左侧表格中，从左到右
        option.screenShowCellNum = Math.floor(option.screenShowCellNum);
        console.log("自定义表格: 右侧表格宽度/右侧表格中单列宽度的值!=整数");
        console.log("获取余数像素");
        remainderPx = rightWidth % option.rightCellWidth;
      }
      if (remainderPx) {
        let everyAddWidthPx = 0;
        let cellAddWidthPx = 0;
        if (remainderPx >= option.leftTablePop.length) {
          everyAddWidthPx = Math.floor(
            remainderPx / option.leftTablePop.length
          );
          cellAddWidthPx = remainderPx % option.leftTablePop.length;
        }
        if (everyAddWidthPx) {
          option.leftTablePop.forEach(val => {
            val.width += everyAddWidthPx;
          });
        }
        if (cellAddWidthPx) {
          for (let i = 0; i < cellAddWidthPx; i++) {
            option.leftTablePop[i].width++;
          }
        }
        option.leftWidth += remainderPx;
      }
      for (let i = 0; i < option.screenShowCellNum; i++) {
        option.leftTablePop.push({
          prop: "",
          label: "",
          alignType: "center",
          width: option.rightCellWidth
        });
      }
      console.log(option.leftTablePop);
    },
    selectColumnHanlder(data) {
      //点击 切换表格列时获取 column prop值
      console.log("selectColumnHanlder:", data);
    },
    seasonChange() {
      //赛季变化，需要联动赛段 和 球队 数据
      this.getPhaseItem();
      this.getTeamItem();
    },
    seachBtn() {
      if (this.competitionVal != this.page.competitionVal) {
        this.page.competitionVal = this.competitionVal;
      }
      if (this.seasonVal != this.page.seasonVal) {
        this.page.seasonVal = this.seasonVal;
      }
      if (this.phaseVal != this.page.phaseVal) {
        this.page.phaseVal = this.phaseVal;
      }
      if (this.teamVal != this.page.teamVal) {
        this.page.teamVal = this.teamVal;
      }
      if (this.dataTypeVal != this.page.dataTypeVal) {
        this.page.dataTypeVal = this.dataTypeVal;
      }
      if (this.inputVal != this.page.inputVal) {
        this.page.inputVal = this.inputVal;
      }
      this.page.currentPage = 1;
      this.getTableData();
    },
    recoverySelectVal() {
      //恢复之前筛选的值，因此选择条件是由点击搜索按钮确定的
      if (this.competitionVal != this.page.competitionVal) {
        this.competitionVal = this.page.competitionVal;
      }
      if (this.seasonVal != this.page.seasonVal) {
        this.seasonChange(); // 恢复之前赛段和球队的数据，因为有之前的赛段和球队id，数据恢复后会自动映射
        this.seasonVal = this.page.seasonVal;
      }
      if (this.phaseVal != this.page.phaseVal) {
        this.phaseVal = this.page.phaseVal;
      }
      if (this.teamVal != this.page.teamVal) {
        this.teamVal = this.page.teamVal;
      }
      if (this.dataTypeVal != this.page.dataTypeVal) {
        this.dataTypeVal = this.page.dataTypeVal;
      }
      if (this.inputVal != this.page.inputVal) {
        this.inputVal = this.page.inputVal;
      }
      this.getTableData();
    },
    getTotalTeamData() {
      //顶部 球员数据
      http_team_getTotalTeamData()
        .then(res => {
          // console.log(res);
          res.data.season = `${res.data.minSeason}-${res.data.maxSeason}`;
          this.dataPaneArr.forEach((val, index) => {
            val.num = res.data[val.key] ? res.data[val.key] : 0;
            if (index === 0) {
              val.bgColor = this.skinPorps.StatusColorUI3.default;
            } else if (index === 1) {
              val.bgColor = this.skinPorps.StatusColorUI2.default;
            } else if (index === 2) {
              val.bgColor = this.skinPorps.StatusColorUI4.default;
            } else if (index === 3) {
              val.bgColor = this.skinPorps.StatusColorUI5.default;
            }
          });
        })
        .catch(err => {
          this.$notify({
            title: "警告",
            message: err.tipMessage,
            type: "error",
            customClass: "notify_error"
            // duration: 0
          });
        });
    },
    getCompetitionAndSeasonItem() {
      // 赛类和赛季筛选框数据
      http_team_getCompetitionAndSeasonItem()
        .then(res => {
          // console.log(res);
          this.competitionOptions = res.data.map(val => {
            if (val.competitionId === this.competitionVal) {
              this.seasonOptions = val.seasonItems;
            }
            return {
              competitionId: val.competitionId,
              competitionName: val.competitionName,
              competitionLogo: val.competitionLogo
            };
          });
          const dataPaneArrLastCell = this.dataPaneArr[
            this.dataPaneArr.length - 1
          ];
          dataPaneArrLastCell.title = `支持${this.competitionOptions.length}种赛事`;
          this.dataPaneArr[this.dataPaneArr.length - 1] = dataPaneArrLastCell;
          this.seasonVal = this.seasonOptions[0].seasonId;
          this.getPhaseItem();
        })
        .catch(err => {
          this.$notify({
            title: "警告",
            message: err.tipMessage,
            type: "error",
            customClass: "notify_error"
            // duration: 0
          });
        });
    },
    getPhaseItem() {
      // 赛段 筛选框 数据
      let $getPhaseItem = {
        competitionId: this.competitionVal,
        seasonId: this.seasonVal
      };
      console.log("$getPhaseItem:", $getPhaseItem);
      http_team_getPhaseItem($getPhaseItem)
        .then(res => {
          // console.log(res);
          this.phaseOptions = [].concat(this.phaseBaseOptions, res.data);
          this.phaseVal = this.phaseOptions[0].phaseId;
          if (!this.isInitFlag) return; //只有初始化时需要该接口自动调用接口球队，之后不需要
          this.getTeamItem();
        })
        .catch(err => {
          console.log(err);
          this.$notify({
            title: "警告",
            message: err.tipMessage,
            type: "error",
            customClass: "notify_error"
            // duration: 0
          });
        });
    },
    getTeamItem() {
      // 球队 筛选框 数据
      let $getTeamItem = {
        competitionId: this.competitionVal,
        seasonId: this.seasonVal
      };
      console.log("$getTeamItem:", $getTeamItem);
      http_team_getTeamItem($getTeamItem)
        .then(res => {
          console.log(res);
          const res3 = [
            {
              teamId: 2,
              teamName: "湖人",
              teamLogo: null
            },
            {
              teamId: 1,
              teamName: "火箭",
              teamLogo: null
            }
          ];
          this.teamOptions = [].concat(this.teamBaseOptions, res3);
          this.teamVal = this.teamOptions[0].teamId;
          // 根据数据类型判断是调总数接口还是均数接口
          if (!this.isInitFlag) return; //只有初始化时需要改接口自动调用接口获取表格数据，之后不需要
          this.isInitFlag = false;
          this.seachBtn();
        })
        .catch(err => {
          console.log(err);
          this.$notify({
            title: "警告",
            message: err.tipMessage,
            type: "error",
            customClass: "notify_error"
            // duration: 0
          });
        });
    },
    getPlayerAvgPage() {
      let $getPlayerAvgPage = {
        competitionId: this.page.competitionVal,
        seasonId: this.page.seasonVal,
        phaseId: this.page.phaseVal,
        teamId: this.page.teamVal,
        name: this.page.inputVal,
        page: this.page.currentPage,
        size: this.page.pageSize
      };
      http_team_getTeamAvgPage($getPlayerAvgPage);
    },
    getPlayerSumPage() {
      let $getPlayerSumPage = {
        competitionId: this.page.competitionVal,
        seasonId: this.page.seasonVal,
        phaseId: this.page.phaseVal,
        teamId: this.page.teamVal,
        name: this.page.inputVal,
        page: this.page.currentPage,
        size: this.page.pageSize
      };
      http_team_getTeamSumPage($getPlayerSumPage)
        .then(res => {
          console.log(res);
          const res1 = {
            data: [
              {
                teamId: 1,
                teamName: "火箭火箭火箭",
                teamLogo: this.defaultTeamLogo,
                coachId: 2,
                coachName: "coach",
                rank: 0,
                gp: 4,
                min: 4.0,
                pts: 4.0,
                fga: 4.0,
                fgm: 4.0,
                fgPct: 4.0,
                fg3a: 4.0,
                fg3m: 4.0,
                fg3Pct: 4.0,
                fta: 4.0,
                ftm: 4.0,
                ftPct: 4.0,
                oreb: 4.0,
                dreb: 4.0,
                reb: 4.0,
                ast: 4.0,
                to: 4.0,
                stl: 4.0,
                blk: 4.0,
                pf: 4.0
              },
              {
                teamId: 2,
                teamName: "火箭",
                teamLogo: this.defaultTeamLogo,
                coachId: 2,
                coachName: "coach",
                rank: 0,
                gp: 4,
                min: 4.0,
                pts: 4.0,
                fga: 4.0,
                fgm: 4.0,
                fgPct: 4.0,
                fg3a: 4.0,
                fg3m: 4.0,
                fg3Pct: 4.0,
                fta: 4.0,
                ftm: 4.0,
                ftPct: 4.0,
                oreb: 4.0,
                dreb: 4.0,
                reb: 4.0,
                ast: 4.0,
                to: 4.0,
                stl: 4.0,
                blk: 4.0,
                pf: 4.0
              },
              {
                teamId: 3,
                teamName: "火箭",
                teamLogo: this.defaultTeamLogo,
                coachId: 2,
                coachName: "coach",
                rank: 0,
                gp: 4,
                min: 4.0,
                pts: 4.0,
                fga: 4.0,
                fgm: 4.0,
                fgPct: 4.0,
                fg3a: 4.0,
                fg3m: 4.0,
                fg3Pct: 4.0,
                fta: 4.0,
                ftm: 4.0,
                ftPct: 4.0,
                oreb: 4.0,
                dreb: 4.0,
                reb: 4.0,
                ast: 4.0,
                to: 4.0,
                stl: 4.0,
                blk: 4.0,
                pf: 4.0
              }
            ],
            pageMetadata: {
              page: 1,
              size: 10,
              totalPages: 2,
              totalElements: 12
            },
            status: 0,
            message: "success"
          };
          this.page.total = res1.pageMetadata.totalElements;
          this.customClickTableOption.tableData = res1.data.map(
            (val, index) => {
              val.index = index + 1;
              return val;
            }
          );
        })
        .catch(err => {
          this.$notify({
            title: "警告",
            message: err.tipMessage,
            type: "error",
            customClass: "notify_error"
            // duration: 0
          });
        });
    },
    getTableData() {
      //经过dataTypeVal判断最终调用哪个接口
      if (this.dataTypeVal) {
        //均数
        this.getPlayerAvgPage();
      } else {
        // 总数
        this.getPlayerSumPage();
      }
    },
    handleSizeChange(val) {
      console.log(`每页 ${val} 条`);
      this.page.pageSize = val;
      this.recoverySelectVal();
    },
    handleCurrentChange(val) {
      console.log(`当前页: ${val}`);
      this.page.currentPage = val;
      this.recoverySelectVal();
    }
  }
};
</script>

<style lang="scss" scoped>
#basketballPlayer {
  width: 100%;
  padding-top: 30px;
  .ptb30 {
    padding: 30px 0;
  }
  .customClickTableDiv {
    position: relative;
    width: 100%;
    .customClickTable_select {
      position: absolute;
      right: 109px;
      top: 26px;
      z-index: 2;
    }
  }
  .selectArea {
    position: relative;
    width: 100%;
    height: 42px;
    text-align: left;
    & > span {
      margin-right: 12px;
    }
    & > span:last-child {
      margin-right: 0;
    }
    .seachArea {
      position: absolute;
      bottom: -58px;
      left: 0;
      z-index: 2;
      width: 662px;
      height: 42px;
    }
  }
}
</style>
