<template>
  <div id="teamTheme" class="teamTheme">
    <div v-for="(itemCell, index) in temeData" :key="index" class="theme_main">
      <div class="theme_block">
        <span class="title_theme">{{ itemCell.theme }}</span>
        <span class="img_name">
          <span class="img_rul">
            <img :src="details.teamLogo" alt="" />
          </span>
          <span class="name_title">{{ details.teamName }}</span>
        </span>
      </div>
      <div class="theme_echerts">
        <div class="select_block" v-if="itemCell.type == 6">
          <span class="selectBigSpan">
            <el-select
              v-model="period"
              @change="cretSectionChange"
              placeholder="请选择赛事"
            >
              <el-option
                v-for="item in cretSection"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              >
              </el-option>
            </el-select>
          </span>
        </div>
        <ScoreRangeTeam
          v-if="itemCell.type == 1"
          :showImgInfo="false"
          :echartData="echartData1"
        ></ScoreRangeTeam>
        <Pie
          v-if="itemCell.type == 2"
          :showImgInfo="false"
          :showCicle="true"
          :echartData="echartData2"
        ></Pie>
        <Pie
          v-if="itemCell.type == 3"
          :showImgInfo="false"
          :showCicle="false"
          :echartData="echartData3"
        ></Pie>
        <ShootHotArea10
          v-if="itemCell.type == 4"
          :showImgInfo="false"
          :echartData="echartData4"
        ></ShootHotArea10>
        <AbHomeTeamPerformance
          v-if="itemCell.type == 5"
          :homeName="true"
          :showImgInfo="false"
          :echartData="echartData5"
        ></AbHomeTeamPerformance>
        <CreateChance
          v-if="itemCell.type == 6"
          :echartData="echartData6"
          :periodLable="periodLable"
        ></CreateChance>
        <TeamInfor
          v-if="itemCell.type == 7"
          :echartData="echartData7"
        ></TeamInfor>
        <DataRank
          v-if="itemCell.type == 8"
          :disName="true"
          :showImgInfo="false"
          :showImgPlayer="true"
          :marginTop="30"
          :echartData="echartData8"
        ></DataRank>
        <DataRank
          v-if="itemCell.type == 9"
          :disName="true"
          :showImgInfo="false"
          :showImgPlayer="false"
          :echartData="echartData9"
        ></DataRank>
        <DataBasic
          v-if="itemCell.type == 10"
          :disName="true"
          :showImgInfo="false"
          :echartData="echartData10"
        ></DataBasic>
      </div>
    </div>
  </div>
</template>

<script>
import ScoreRangeTeam from "@basketballCharts/scoreRange/scoreRangeTeam.vue";
import CreateChance from "@basketballCharts/createChance/createChance";
import DataRank from "@basketballCharts/dataRank";
import DataBasic from "@basketballCharts/dataBasic";
import AbHomeTeamPerformance from "@basketballCharts/bar/AbHomeTeamPerformance.vue";
import Pie from "@basketballCharts/pie/Pie.vue";
import ShootHotArea10 from "@basketballCharts/shootHotArea/area10.vue";
import TeamInfor from "@basketballCharts/teamInfor";
import {
  http_team_seasonTeamShootEfficiency,
  http_team_seasonTeamFgaPct,
  http_team_seasonTeamPtsDistribution,
  http_team_seasonTeamFourElements,
  http_team_seasonTeamOffensiveOpportunity,
  http_team_seasonTeamLineup,
  http_team_seasonTeamDataRank,
  http_team_seasonTeamBasicsData,
  http_team_seasonTeamShootArea,
  http_team_seasonTeamProfile
} from "@api/team";
export default {
  name: "teamTheme",
  props: {
    contId: {
      type: Object,
      default: function() {
        return {};
      }
    },
    details: {
      type: Object,
      default: function() {
        return {};
      }
    }
  },
  data() {
    return {
      temeData: [
        {
          theme: "球队得分区域分布贡献",
          type: 1
        },
        {
          theme: "球队出手比例分布图",
          type: 2
        },
        {
          theme: "球队得分方式分布",
          type: 3
        },
        {
          theme: "球队投篮热图",
          type: 4
        },
        {
          theme: "制胜四要素",
          type: 5
        },
        {
          theme: "创造进攻机会",
          type: 6
        },
        {
          theme: "球队介绍",
          type: 7
        },
        {
          theme: "球队阵容",
          type: 8
        },
        {
          theme: "球队数据排名",
          type: 9
        },
        {
          theme: "球队基础数据",
          type: 10
        }
      ],
      // 节次数据
      cretSection: [
        {
          value: 1,
          label: "第一节"
        },
        {
          value: 2,
          label: "第二节"
        },
        {
          value: 3,
          label: "第三节"
        },
        {
          value: 4,
          label: "第四节"
        }
      ],
      // 节次id
      period: 1,
      // 节次展示名
      periodLable: "",
      // 默认球员头像
      defatImgPlayer: require("@png/player_defaultImg.png"),
      // 默认球员头像
      defatImgTeam: require("@png/team_defaultImg.png"),
      // 图表数据
      echartData1: {},
      echartData2: {},
      echartData3: {},
      echartData4: [],
      echartData5: {},
      echartData6: {},
      echartData7: {},
      echartData8: {},
      echartData9: {},
      echartData10: {}
    };
  },
  watch: {
    contId: {
      deep: true,
      handler: function() {
        this.ininData();
      }
    }
  },
  created() {},
  mounted() {
    this.teamId = this.$route.params.teamId;
    this.periodLable = this.cretSection[0].label;
  },
  methods: {
    cretSectionChange(v) {
      // 进攻机会下拉框选择
      this.period = v;
      this.cretSection.forEach(item => {
        if (item.value === v) {
          this.periodLable = item.label;
        }
      });
      this.getSeasonTeamOffensiveOpportunity();
    },
    ininData() {
      this.seasonId = this.contId.seasonId;
      this.competitionId = this.contId.competitionId;
      this.getSeasonTeamShootEfficiency();
      this.getSeasonTeamFgaPct();
      this.getSeasonTeamPtsDistribution();
      this.getSeasonTeamFourElements();
      this.getSeasonTeamOffensiveOpportunity();
      this.getSeasonTeamLineup();
      this.getSeasonTeamDataRank();
      this.getSeasonTeamBasicsData();
      this.getSeasonTeamShootArea();
      this.getSeasonTeamProfile();
    },
    getSeasonTeamProfile() {
      // 球队介绍
      let $getSeasonTeamProfile = {
        teamId: this.teamId,
        seasonId: this.seasonId,
        competitionId: this.competitionId
      };
      http_team_seasonTeamProfile($getSeasonTeamProfile)
        .then(res => {
          let datas = res.data;
          setTimeout(() => {
            console.log("1s 之后");
            this.echartData7 = {
              teamId: 0,
              teamName: null,
              teamLogo: null,
              teamAllLogo: datas.teamAllLogo
                ? datas.teamAllLogo
                : "https://bdimage.cba.net.cn/upload/match/img/20191120/1574252510930023.jpg",
              leagueRank: datas.leagueRank,
              ageAvg: datas.ageAvg,
              heightAvg: datas.heightAvg,
              championCnt: datas.championCnt
            };
          }, 1000);

          setTimeout(() => {
            console.log("10s 之后");
            this.echartData7 = {
              teamId: 0,
              teamName: null,
              teamLogo: null,
              teamAllLogo: datas.teamAllLogo
                ? datas.teamAllLogo
                : "https://bdimage.cba.net.cn/upload/match/img/20191114/1573717623419875.jpg",
              leagueRank: datas.leagueRank,
              ageAvg: datas.ageAvg,
              heightAvg: datas.heightAvg,
              championCnt: datas.championCnt
            };
          }, 10000);
        })
        .catch(err => {
          console.log(err);
          this.$notify({
            title: "警告",
            message: err.tipMessage,
            type: "error",
            customClass: "notify_error"
          });
        });
    },
    getSeasonTeamShootArea() {
      // 球队投篮热区
      let $getSeasonTeamShootArea = {
        teamId: this.teamId,
        seasonId: this.seasonId,
        competitionId: this.competitionId
      };
      http_team_seasonTeamShootArea($getSeasonTeamShootArea)
        .then(res => {
          console.log(res);
          setTimeout(() => {
            console.log("1s 之后");
            this.echartData4 = [
              {
                fga: 57,
                fgm: 21,
                areaType: 6,
                areaState: 2,
                positionClass: "top5"
              },
              {
                fga: 57,
                fgm: 22,
                areaType: 10,
                areaState: 1,
                positionClass: "top1"
              },
              {
                fga: 57,
                fgm: 23,
                areaType: 2,
                areaState: 3,
                positionClass: "top4"
              },
              {
                fga: 157,
                fgm: 124,
                areaType: 5,
                areaState: 2,
                positionClass: "top2"
              },
              {
                fga: 57,
                fgm: 25,
                areaType: 3,
                areaState: 1,
                positionClass: "mid2"
              },
              {
                fga: 157,
                fgm: 126,
                areaType: 4,
                areaState: 3,
                positionClass: "mid1"
              },
              {
                fga: 257,
                fgm: 127,
                areaType: 9,
                areaState: 2,
                positionClass: "bottom1"
              },
              {
                fga: 57,
                fgm: 28,
                areaType: 7,
                areaState: 1,
                positionClass: "bottom3"
              },
              {
                fga: 509,
                fgm: 296,
                areaType: 8,
                areaState: 3,
                positionClass: "bottom2"
              },
              {
                fga: 503,
                fgm: 296,
                areaType: 1,
                areaState: 3,
                positionClass: "top3"
              }
            ];
          }, 1000);

          setTimeout(() => {
            console.log("10s 之后");
            this.echartData4 = [
              {
                fga: 57,
                fgm: 21,
                areaType: 6,
                areaState: 1,
                positionClass: "top5"
              },
              {
                fga: 57,
                fgm: 22,
                areaType: 10,
                areaState: 1,
                positionClass: "top1"
              },
              {
                fga: 57,
                fgm: 23,
                areaType: 2,
                areaState: 3,
                positionClass: "top4"
              },
              {
                fga: 157,
                fgm: 124,
                areaType: 5,
                areaState: 2,
                positionClass: "top2"
              },
              {
                fga: 57,
                fgm: 25,
                areaType: 3,
                areaState: 3,
                positionClass: "mid2"
              },
              {
                fga: 157,
                fgm: 126,
                areaType: 4,
                areaState: 1,
                positionClass: "mid1"
              },
              {
                fga: 257,
                fgm: 127,
                areaType: 9,
                areaState: 3,
                positionClass: "bottom1"
              },
              {
                fga: 257,
                fgm: 228,
                areaType: 7,
                areaState: 3,
                positionClass: "bottom3"
              },
              {
                fga: 509,
                fgm: 296,
                areaType: 8,
                areaState: 3,
                positionClass: "bottom2"
              },
              {
                fga: 503,
                fgm: 296,
                areaType: 1,
                areaState: 1,
                positionClass: "top3"
              }
            ];
          }, 10000);
        })
        .catch(err => {
          console.log(err);
          this.$notify({
            title: "警告",
            message: err.tipMessage,
            type: "error",
            customClass: "notify_error"
          });
        });
    },
    getSeasonTeamShootEfficiency() {
      // 球队得分区域分布贡献
      let $getSeasonTeamShootEfficiency = {
        teamId: this.teamId,
        seasonId: this.seasonId,
        competitionId: this.competitionId
      };
      http_team_seasonTeamShootEfficiency($getSeasonTeamShootEfficiency)
        .then(res => {
          this.echartData1 = res.data;
        })
        .catch(err => {
          console.log(err);
          this.$notify({
            title: "警告",
            message: err.tipMessage,
            type: "error",
            customClass: "notify_error"
          });
        });
    },
    getSeasonTeamFgaPct() {
      // 球队出手比例分布图
      let $getSeasonTeamFgaPct = {
        teamId: this.teamId,
        seasonId: this.seasonId,
        competitionId: this.competitionId
      };
      http_team_seasonTeamFgaPct($getSeasonTeamFgaPct)
        .then(res => {
          let datas = res.data;
          // 死数据2
          this.echartData2 = {
            dimensionNames: [
              "三分球出手",
              "底角三分球出手",
              "两分球出手",
              "篮下两分球出手"
            ],
            resultData: [
              datas.fg3aTPpct,
              datas.baFg3aTPct,
              datas.fg2aTPpct,
              datas.ubFg2aTPct
            ]
          };
        })
        .catch(err => {
          console.log(err);
          this.$notify({
            title: "警告",
            message: err.tipMessage,
            type: "error",
            customClass: "notify_error"
          });
        });
    },
    getSeasonTeamPtsDistribution() {
      // 球队得分方式分布
      let $getSeasonTeamPtsDistribution = {
        teamId: this.teamId,
        seasonId: this.seasonId,
        competitionId: this.competitionId
      };
      http_team_seasonTeamPtsDistribution($getSeasonTeamPtsDistribution)
        .then(res => {
          let datas = res.data;
          // 死数据3
          this.echartData3 = {
            dimensionNames: [
              "扣篮",
              "上篮",
              "后仰投篮",
              "点拨投篮",
              "跳投",
              "空中接力",
              "突破上篮",
              "勾手投篮",
              "抛投",
              "转身跳投",
              "后撤步投篮",
              "急停跳投"
            ],
            resultData: [
              datas.sdTPct,
              datas.luTPct,
              datas.fdTPct,
              datas.dsTPct,
              datas.jsTPct,
              datas.alTPct,
              datas.btlTPct,
              datas.hsTPct,
              datas.tsTPct,
              datas.tajTPct,
              datas.bsTPct,
              datas.pujTPct
            ]
          };
        })
        .catch(err => {
          console.log(err);
          this.$notify({
            title: "警告",
            message: err.tipMessage,
            type: "error",
            customClass: "notify_error"
          });
        });
    },
    getSeasonTeamFourElements() {
      // 制胜四要素
      let $getSeasonTeamFourElements = {
        teamId: this.teamId,
        seasonId: this.seasonId,
        competitionId: this.competitionId
      };
      http_team_seasonTeamFourElements($getSeasonTeamFourElements)
        .then(res => {
          let datas = res.data;
          //死数据5
          this.echartData5 = {
            list: [
              {
                maxValue: datas.fgmPctMax ? datas.fgmPctMax : 100.0,
                text: "有效投篮命中率",
                value: datas.fgmPct
              },
              {
                maxValue: datas.fg3mPctMax ? datas.fg3mPctMax : 100.0,
                text: "失误率",
                value: datas.fg3mPct
              },
              {
                maxValue: datas.ftmPctMax ? datas.ftmPctMax : 100.0,
                text: "进攻篮板率",
                value: datas.ftmPct
              },
              {
                maxValue: datas.ftmPctMax ? datas.ftmPctMax : 100.0,
                text: "罚球比率",
                value: datas.ftmPct
              }
            ]
          };
        })
        .catch(err => {
          this.$notify({
            title: "警告",
            message: err.tipMessage,
            type: "error",
            customClass: "notify_error"
          });
        });
    },
    getSeasonTeamOffensiveOpportunity() {
      // 创造进攻机会
      let $getSeasonTeamOffensiveOpportunity = {
        teamId: this.teamId,
        seasonId: this.seasonId,
        competitionId: this.competitionId,
        period: this.period
      };
      http_team_seasonTeamOffensiveOpportunity(
        $getSeasonTeamOffensiveOpportunity
      )
        .then(res => {
          this.echartData6 = res.data;
        })
        .catch(err => {
          this.$notify({
            title: "警告",
            message: err.tipMessage,
            type: "error",
            customClass: "notify_error"
          });
        });
    },
    getSeasonTeamLineup() {
      // 球队阵容(各种王)
      let $getSeasonTeamLineup = {
        teamId: this.teamId,
        seasonId: this.seasonId,
        competitionId: this.competitionId
      };
      http_team_seasonTeamLineup($getSeasonTeamLineup)
        .then(res => {
          let datas = res.data;
          // 死数据8
          this.echartData8 = {
            itemData: [
              {
                name: "得分王",
                time: datas.pts,
                rank: datas.ptsPlayerName,
                playerTd: datas.ptsPlayerId,
                teamImg: datas.ptsPlayerLogo
                  ? datas.ptsPlayerLogo
                  : this.defatImgPlayer
              },
              {
                name: "抢断王",
                time: datas.stl,
                rank: datas.stlPlayerName,
                playerTd: datas.stlPlayerId,
                teamImg: datas.stlPlayerLogo
                  ? datas.stlPlayerLogo
                  : this.defatImgPlayer
              },
              {
                name: "三分王",
                time: datas.fg3m,
                rank: datas.fg3mPlayerName,
                playerTd: datas.fg3mPlayerId,
                teamImg: datas.fg3mPlayerLogo
                  ? datas.fg3mPlayerLogo
                  : this.defatImgPlayer
              },
              {
                name: "助攻王",
                time: datas.ast,
                rank: datas.astPlayerName,
                playerTd: datas.astPlayerId,
                teamImg: datas.astPlayerLogo
                  ? datas.astPlayerLogo
                  : this.defatImgPlayer
              },
              {
                name: "封盖王",
                time: datas.blk,
                rank: datas.blkPlayerName,
                playerTd: datas.blkPlayerId,
                teamImg: datas.blkPlayerLogo
                  ? datas.blkPlayerLogo
                  : this.defatImgPlayer
              }
            ]
          };
        })
        .catch(err => {
          this.$notify({
            title: "警告",
            message: err.tipMessage,
            type: "error",
            customClass: "notify_error"
          });
        });
    },
    getSeasonTeamDataRank() {
      // 球队数据排名
      let $getSeasonTeamDataRank = {
        teamId: this.teamId,
        seasonId: this.seasonId,
        competitionId: this.competitionId
      };
      http_team_seasonTeamDataRank($getSeasonTeamDataRank)
        .then(res => {
          let datas = res.data;
          // 死数据9
          this.echartData9 = {
            itemData: [
              {
                name: "上场时间",
                time: datas.min,
                rank: datas.minRn ? datas.minRn : 0
              },
              {
                name: "得分",
                time: datas.pts,
                rank: datas.ptsRn ? datas.ptsRn : 0
              },
              {
                name: "篮板",
                time: datas.reb,
                rank: datas.rebRn ? datas.rebRn : 0
              },
              {
                name: "进攻篮板",
                time: datas.oreb,
                rank: datas.orebRn ? datas.orebRn : 0
              },
              {
                name: "防守篮板",
                time: datas.dreb,
                rank: datas.drebRn ? datas.drebRn : 0
              },
              {
                name: "助攻",
                time: datas.ast,
                rank: datas.astRn ? datas.astRn : 0
              },
              {
                name: "抢断",
                time: datas.stl,
                rank: datas.stlRn ? datas.stlRn : 0
              },
              {
                name: "失误",
                time: datas.tov,
                rank: datas.tovRn ? datas.tovRn : 0
              }
            ]
          };
        })
        .catch(err => {
          this.$notify({
            title: "警告",
            message: err.tipMessage,
            type: "error",
            customClass: "notify_error"
          });
        });
    },
    getSeasonTeamBasicsData() {
      // 球队基础数据
      let $getSeasonTeamBasicsData = {
        teamId: this.teamId,
        seasonId: this.seasonId,
        competitionId: this.competitionId
      };
      http_team_seasonTeamBasicsData($getSeasonTeamBasicsData)
        .then(res => {
          let datas = res.data;
          // 死数据10
          this.echartData10 = {
            itemData: [
              {
                name: "得分",
                time: datas.pts
              },
              {
                name: "投篮命中率",
                time: datas.fgmPct
              },
              {
                name: "三分命中率",
                time: datas.fg3mPct
              },
              {
                name: "罚球命中率",
                time: datas.ftmPct
              },
              {
                name: "快攻得分",
                time: datas.qbPts
              },
              {
                name: "助攻率",
                time: datas.astPct
              },
              {
                name: "限制区得分",
                time: datas.pipPts
              },
              {
                name: "二次机会得分",
                time: datas.scp
              },
              {
                name: "扣篮次数",
                time: datas.duk
              },
              {
                name: "替补得分",
                time: datas.subPts
              },
              {
                name: "助攻",
                time: datas.ast
              },
              {
                name: "总篮板",
                time: datas.reb
              },
              {
                name: "抢断",
                time: datas.stl
              },
              {
                name: "封盖",
                time: datas.blk
              },
              {
                name: "失误",
                time: datas.tov
              },
              {
                name: "抢断率",
                time: datas.stlPct
              },
              {
                name: "球队犯规",
                time: datas.teamFouls
              },
              {
                name: "最大领先分数",
                time: datas.maxLead
              },
              {
                name: "领先时长",
                time: datas.leadTime
              },
              {
                name: "球权时长",
                time: datas.possTime
              }
            ]
          };
        })
        .catch(err => {
          this.$notify({
            title: "警告",
            message: err.tipMessage,
            type: "error",
            customClass: "notify_error"
          });
        });
    }
  },
  components: {
    ScoreRangeTeam,
    CreateChance,
    Pie,
    DataRank,
    DataBasic,
    AbHomeTeamPerformance,
    ShootHotArea10,
    TeamInfor
  }
};
</script>

<style lang="scss" scoped>
.teamTheme {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .theme_main {
    width: 573px;
    height: 358px;
    background: rgba(246, 248, 251, 1);
    border-radius: 16px;
    border: 2px solid rgba(246, 248, 251, 1);
    margin-bottom: 20px;
    transition: all 0.2s linear;
    &:hover {
      transition: all 0.2s linear;
      transform: translateY(-4px);
      box-shadow: 0px 4px 20px 0px rgba(45, 50, 90, 0.16);
    }
    .theme_block {
      display: flex;
      justify-content: flex-start;
      .title_theme {
        font-size: 14px;
        font-weight: 600;
        color: rgba(85, 85, 85, 1);
        line-height: 20px;
        text-align: left;
        padding: 16px 0 0 20px;
        min-width: 250px;
        max-width: 260px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .img_name {
        display: flex;
        justify-content: flex-start;
        padding: 28px 0 0 0;
        .img_rul {
          display: block;
          width: 30px;
          height: 30px;
          margin-right: 8px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .name_title {
          font-size: 16px;
          font-weight: 600;
          color: rgba(85, 85, 85, 1);
          line-height: 30px;
          width: 200px;
          text-align: left;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
    .theme_echerts {
      padding: 6px 36px 0px 36px;
      width: 100%;
      height: 300px;
      position: relative;
      .select_block {
        position: absolute;
        right: 30px;
        z-index: 5;
        top: -10px;
      }
    }
  }
}
</style>
<style>
.select_block .selectBigSpan .el-input__inner {
  width: 142px !important;
  background-color: #ecedf4 !important;
  line-height: 36px !important;
  height: 36px !important;
}
</style>
