<template>
  <div id="teamDetail" class="teamDetail">
    <div :class="SuciionTop ? 'header_main_top' : 'header_main'">
      <div class="header_main_block">
        <div class="team_select">
          <div class="select_title">
            <span class="title_bor"></span>
            <span class="title_tl">球队详情</span>
          </div>
          <div class="team_option">
            <span class="selectBigSpan">
              <el-select
                v-model="contId.competitionId"
                @change="changeCompet"
                placeholder="请选择赛事"
              >
                <el-option
                  v-for="item in competitionOptions"
                  :key="item.competitionId"
                  :label="item.competitionName"
                  :value="item.competitionId"
                  :disabled="!item.seasonItems"
                >
                </el-option>
              </el-select>
            </span>
            <span class="selectBigSpan">
              <el-select
                v-model="contId.seasonId"
                @change="changeSeason"
                placeholder="请选择赛季"
              >
                <el-option
                  v-for="item in seasonOptions"
                  :key="item.seasonId"
                  :label="item.seasonName"
                  :value="item.seasonId"
                >
                </el-option>
              </el-select>
            </span>
          </div>
        </div>
        <!-- 球队信息 -->
        <div
          class="team_details"
          :style="{ backgroundColor: TextColorWhiteUI1 }"
        >
          <div class="info_left"><img :src="details.teamLogo" alt="" /></div>
          <div class="info_right">
            <div class="info_name">{{ details.teamName }}</div>
            <div class="info_item">
              <span
                ><i>胜：</i><i>{{ details.wins }}</i>
              </span>
              <span
                ><i>负：</i><i>{{ details.losses }}</i>
              </span>
              <span
                ><i>胜率：</i><i>{{ details.winsPct }}</i>
              </span>
              <span
                ><i>赛季排名：</i><i>{{ details.rank }}</i>
              </span>
              <span
                ><i>主教练：</i><i>{{ details.coachName }}</i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 联盟对比 -->
    <div class="analys_theme">
      <h5 class="team_title" :style="{ color: TextColorBlueUI0 }">
        <span>联盟对比</span>
      </h5>
      <el-table
        :data="contrastData"
        style="width: 100%"
        header-cell-class-name="customTableHeaderCell"
        header-row-class-name="customTableHeader"
        cell-class-name="customTableCell"
        :row-class-name="tableRowClassName"
      >
        <el-table-column
          v-for="(item, index) of contrastTitle"
          :key="index"
          :prop="item.prop"
          :label="item.label"
          :show-overflow-tooltip="true"
          :width="getWIdth(item.prop)"
        >
        </el-table-column>
      </el-table>
    </div>
    <!-- 球队数据-->
    <div class="analys_theme warnBgColor">
      <div class="selct_btn">
        <h5 class="team_title" :style="{ color: TextColorBlueUI0 }">
          球队数据
        </h5>
        <SwitchBtn
          :callBackObj="details"
          :switchText="switchTextArr"
          :switchDefault="flag"
          @changeSwitchState="isDisplayDataItem"
        ></SwitchBtn>
      </div>
      <el-table
        :data="statisticsDataVal"
        style="width: 100%"
        header-cell-class-name="customTableHeaderCell"
        header-row-class-name="customTableHeader"
        cell-class-name="customTableCell"
        :row-class-name="tableRowClassName"
      >
        <el-table-column
          v-for="(item, index) of statisticsTitle.slice(1, 10)"
          :key="index"
          :prop="item.prop"
          :label="item.label"
          :show-overflow-tooltip="true"
        >
        </el-table-column>
      </el-table>
      <el-table
        :data="statisticsDataVal"
        style="width: 100%"
        header-cell-class-name="customTableHeaderCell"
        header-row-class-name="customTableHeader"
        cell-class-name="customTableCell"
        :row-class-name="tableRowClassName"
      >
        <el-table-column
          v-for="(item, index) of statisticsTitle.slice(11, 20)"
          :key="index"
          :prop="item.prop"
          :label="item.label"
          :show-overflow-tooltip="true"
        >
        </el-table-column>
      </el-table>
    </div>
    <!-- 阵容 -->
    <div class="analys_theme lineup">
      <h5 class="team_title" :style="{ color: TextColorBlueUI0 }">阵容</h5>
      <el-table
        :data="palyData"
        style="width: 100%"
        header-cell-class-name="customTableHeaderCell"
        header-row-class-name="customTableHeader"
        cell-class-name="customTableCell"
        :row-class-name="tableRowClassName"
      >
        <el-table-column
          v-for="(item, index) of playItem"
          :key="index"
          :prop="item.prop"
          :label="item.label"
          :show-overflow-tooltip="true"
          :width="getWIdth(item.prop)"
        >
          <template slot-scope="scope">
            <span
              v-if="item.prop == 'playerName'"
              class="scope_name tableClickFont"
              @click="getDetails('player', scope.row)"
            >
              {{ scope.row.playerName }}
            </span>
            <span v-if="item.prop !== 'playerName'" class="scope_name">
              {{ scope.row[scope.column.property] }}
            </span>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <!-- 分析主题 -->
    <div class="analys_theme">
      <h5 class="team_title" :style="{ color: TextColorBlueUI0 }">
        分析主题
      </h5>
      <teamTheme :contId="contId" :details="details"></teamTheme>
    </div>
  </div>
</template>

<script>
import { mapMutations, mapState } from "vuex";
import globalExtends from "@globalExtends";
import SwitchBtn from "@components/switch/SliderSwitch";
import teamTheme from "../basketball/teamTheme";
import {
  http_team_teamInfo,
  http_team_seasonTeamStatisticsUnionContrast,
  http_team_seasonTeamStatistics,
  http_team_seasonTeamSquad,
  http_team_getCompetitionAndSeasonItem
} from "@api/team";
export default {
  extends: globalExtends,
  name: "teamDetail",
  data() {
    return {
      competitionOptions: [],
      seasonOptions: [],
      // 传给子组件的id
      contId: {
        competitionId: null,
        seasonId: null
      },
      // 球队信息
      details: {},
      // 联盟数据
      contrastData: [],
      // 联盟标题
      contrastTitle: [
        {
          prop: "name",
          label: ""
        },
        {
          prop: "pts",
          label: "场均得分"
        },
        {
          prop: "fgPct",
          label: "投篮(%)"
        },
        {
          prop: "fg3Pct",
          label: "三分(%)"
        },
        {
          prop: "ftPct",
          label: "罚球(%)"
        },
        {
          prop: "reb",
          label: "场均篮板"
        },
        {
          prop: "ast",
          label: "场均助攻"
        },
        {
          prop: "blk",
          label: "场均盖帽"
        },
        {
          prop: "stl",
          label: "场均抢断"
        },
        {
          prop: "stl",
          label: "场均抢断"
        }
      ],
      // 球队数据标题
      statisticsTitle: [
        {
          prop: "gp",
          label: "场次"
        },
        {
          prop: "min",
          label: "分钟"
        },
        {
          prop: "pts",
          label: "得分"
        },
        {
          prop: "fga",
          label: "投篮出手"
        },
        {
          prop: "fgm",
          label: "投篮命中"
        },
        {
          prop: "fgPct",
          label: "投篮命中率"
        },
        {
          prop: "fg3a",
          label: "3分出手"
        },
        {
          prop: "fg3m",
          label: "3分命中"
        },
        {
          prop: "fg3Pct",
          label: "3分命中率"
        },
        {
          prop: "fta",
          label: "罚球出手"
        },
        {
          prop: "ftm",
          label: "罚球命中"
        },
        {
          prop: "ftPct",
          label: "罚球命中率"
        },
        {
          prop: "oreb",
          label: "前板"
        },
        {
          prop: "dreb",
          label: "后板"
        },
        {
          prop: "reb",
          label: "篮板"
        },
        {
          prop: "ast",
          label: "助攻"
        },
        {
          prop: "tov",
          label: "失误"
        },
        {
          prop: "stl",
          label: "抢断"
        },
        {
          prop: "blk",
          label: "盖帽"
        },
        {
          prop: "pf",
          label: "犯规"
        }
      ],
      // 阵容数据
      palyData: [],
      // 阵容标题
      playItem: [
        {
          prop: "jerseyNum",
          label: "号码"
        },
        {
          prop: "playerName",
          label: "姓名"
        },
        {
          prop: "position",
          label: "位置"
        },
        {
          prop: "height",
          label: "身高"
        },
        {
          prop: "weight",
          label: "体重"
        },
        {
          prop: "birthDate",
          label: "出生日期"
        },
        {
          prop: "aiEvaluation",
          label: "AI评价"
        }
      ],
      statisticsDataVal: [],
      // 是否是场均或总数
      switchTextArr: ["总数", "场均"],
      defaultImg: require("@png/event1.png"),
      // 默认总数
      flag: false,
      // 联盟对比标题名字
      teamName: "",
      // 默认球员头像
      defatImgPlayer: require("@png/playerBig_default.png"),
      // 默认球员头像
      defatImgTeam: require("@png/team_defaultImg.png")
    };
  },
  created() {
    this.setIsClickSecondMenu(true);
  },
  mounted() {
    this.teamId = this.$route.params.teamId;
    this.getCompetitionAndSeasonItem();
  },
  computed: {
    ...mapState("home", ["SuciionTop"]),
    TextColorBlueUI0() {
      return this.skinPorps.TextColorBlueUI0.default;
    },
    TextColorWhiteUI1() {
      return this.skinPorps.TextColorWhiteUI1.default;
    }
  },
  methods: {
    ...mapMutations({ setIsClickSecondMenu: "home/setIsClickSecondMenu" }),
    tableRowClassName({ rowIndex }) {
      if (rowIndex % 2) {
        return "evenRowStyle";
      } else {
        return "";
      }
    },
    getWIdth(name) {
      // 列表宽度
      if (name == "name") {
        return 180;
      } else if (name == "playerName") {
        return 200;
      } else if (name == "weight") {
        return 185;
      } else if (name == "birthDate") {
        return 185;
      } else if (name == "aiEvaluation") {
        return 300;
      }
    },
    getCompetitionAndSeasonItem() {
      // 赛事和赛季数据
      http_team_getCompetitionAndSeasonItem()
        .then(res => {
          this.competitionOptions = res.data;
          this.contId.competitionId = this.competitionOptions[1].competitionId;
          this.competitionOptions.forEach(item => {
            if (this.contId.competitionId == item.competitionId) {
              this.seasonOptions = item.seasonItems;
              this.contId.seasonId = item.seasonItems[1].seasonId;
            }
          });
          this.getTeamInfo();
          this.getSeasonTeamStatistics();
          this.getseasonTeamSquad();
        })
        .catch(err => {
          this.$notify({
            title: "警告",
            message: err.tipMessage,
            type: "error",
            customClass: "notify_error"
          });
        });
    },
    // 赛事点击事件
    changeCompet(v) {
      this.contId.competitionId = v;
      this.competitionOptions.forEach(item => {
        if (this.contId.competitionId == item.competitionId) {
          this.seasonOptions = item.seasonItems;
          this.contId.seasonId = item.seasonItems[0].seasonId;
        }
      });
      this.getTeamInfo();
      this.getSeasonTeamStatistics();
      this.getseasonTeamSquad();
    },
    // 赛季点击事件
    changeSeason(v) {
      this.contId.seasonId = v;
      this.getSeasonTeamStatisticsUnionContrast();
      this.getSeasonTeamStatistics();
      this.getseasonTeamSquad();
    },
    getTeamInfo() {
      // 球队信息
      let $getTeamInfo = {
        teamId: this.teamId,
        competitionId: this.contId.competitionId
      };
      http_team_teamInfo($getTeamInfo)
        .then(res => {
          let datas = res.data;
          this.details = {
            losses: datas.losses ? datas.losses : "-",
            wins: datas.wins ? datas.wins : "-",
            teamName: datas.teamName ? datas.teamName : "-",
            teamLogo: datas.teamLogo ? datas.teamLogo : this.defatImgTeam,
            coachName: datas.coachName ? datas.coachName : "-",
            winsPct: datas.winsPct ? datas.winsPct : "-",
            rank: datas.rankNum ? datas.rankNum : "-"
          };
          this.teamName = this.details.teamName;
          this.getSeasonTeamStatisticsUnionContrast();
        })
        .catch(err => {
          console.log(err);
          this.$notify({
            title: "警告",
            message: err.tipMessage,
            type: "error",
            customClass: "notify_error"
          });
        });
    },
    getSeasonTeamStatisticsUnionContrast() {
      // 联盟对比
      let $getSeasonTeamStatisticsUnionContrast = {
        teamId: this.teamId,
        seasonId: this.contId.seasonId,
        competitionId: this.contId.competitionId
      };
      http_team_seasonTeamStatisticsUnionContrast(
        $getSeasonTeamStatisticsUnionContrast
      )
        .then(res => {
          this.contrastData = res.data;
          // this.contrastData = [
          //   {
          //     pts: "9",
          //     fgPct: "7",
          //     ftPct: "8",
          //     fg3Pct: "444",
          //     reb: "8",
          //     ast: "6",
          //     blk: "55",
          //     stl: "3"
          //   },
          //   {
          //     pts: "5",
          //     ftPct: "8",
          //     fgPct: "4",
          //     fg3Pct: "6",
          //     reb: "5",
          //     ast: "66",
          //     blk: "5",
          //     stl: "4"
          //   }
          // ];
          if (
            this.contrastData &&
            this.contrastData[0] &&
            this.contrastData[1]
          ) {
            this.contrastData[0].name = this.teamName;
            this.contrastData[1].name = "联盟";
          }
        })
        .catch(err => {
          this.$notify({
            title: "警告",
            message: err.tipMessage,
            type: "error",
            customClass: "notify_error"
          });
        });
    },
    getSeasonTeamStatistics() {
      // 球队数据
      let $getSeasonTeamStatistics = {
        teamId: this.teamId,
        seasonId: this.contId.seasonId,
        competitionId: this.contId.competitionId
      };
      http_team_seasonTeamStatistics($getSeasonTeamStatistics)
        .then(res => {
          this.StatisticsData = res.data;
          this.statisticsDataVal = [];
          this.statisticsDataVal.push(
            this.StatisticsData.teamStatisticsTotalVo
          );
          this.statisticsDataVal[0].min = this.statisticsDataVal[0].min
            ? this.statisticsDataVal[0].min
            : 0;
        })
        .catch(err => {
          console.log(err);
          this.$notify({
            title: "警告",
            message: err.tipMessage,
            type: "error",
            customClass: "notify_error"
          });
        });
    },
    isDisplayDataItem(data) {
      // 场均和总数
      this.statisticsDataVal = [];
      if (data.flag) {
        this.statisticsDataVal.push(this.StatisticsData.teamStatisticsAvgVo);
      } else {
        this.statisticsDataVal.push(this.StatisticsData.teamStatisticsTotalVo);
      }
      this.statisticsDataVal[0].min = this.statisticsDataVal[0].min
        ? this.statisticsDataVal[0].min
        : 0;
    },
    getseasonTeamSquad() {
      // 阵容
      let $getseasonTeamSquad = {
        teamId: this.teamId,
        seasonId: this.contId.seasonId,
        competitionId: this.contId.competitionId
      };
      http_team_seasonTeamSquad($getseasonTeamSquad)
        .then(res => {
          console.log(res);
          // let datas = res.data;
          this.palyData = res.data;
          // this.palyData = [
          //   {
          //     jerseyNum: datas.jerseyNum,
          //     playerName: "易建联",
          //     playerId: 1111,
          //     position: "组织后卫",
          //     height: "192CM",
          //     weight: "100KG / 220磅",
          //     birthDate: "1987-10-27",
          //     aiEvaluation: "正在评估,敬请期待"
          //   },
          //   {
          //     jerseyNum: "1",
          //     playerName: "易建联",
          //     playerId: 1112,
          //     position: "组织后卫",
          //     height: "192CM",
          //     weight: "100KG / 220磅",
          //     birthDate: "1987-10-27",
          //     aiEvaluation: "正在评估,敬请期待"
          //   }
          // ];
        })
        .catch(err => {
          console.log(err);
          this.$notify({
            title: "警告",
            message: err.tipMessage,
            type: "error",
            customClass: "notify_error"
          });
        });
    },
    getDetails(state, item) {
      let name = "";
      let params = {};
      if (state === "player") {
        name = "basketballPlayerDetail";
        params = { playerId: item.playerId };
      } else if (state === "team") {
        name = "basketballTeamDetail";
        params = { teamId: item.teamId };
      } else {
        console.log("路由跳转没有传state");
        return;
      }
      this.$router.push({
        name,
        params
      });
    }
  },
  components: {
    teamTheme,
    SwitchBtn
  }
};
</script>

<style lang="scss" scoped>
.teamDetail {
  .header_main_top {
    position: fixed;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.06);
    border-radius: 30px 0px 0px 0px;
    width: calc(100% - 194px);
    left: 194px;
    .header_main_block {
      width: 1160px;
      margin: 0 auto;
    }
    .team_select {
      padding-top: 12px;
      .select_title {
        margin-top: 4px;
      }
      .team_option {
        margin-top: 0;
      }
    }
    .team_details {
      height: 60px;
      margin: 12px 0 10px 0;
      .info_left {
        width: 60px;
        height: 60px;
        margin-left: 50px;
        float: left;
        position: static;
      }
      .info_right {
        width: 100%;
        height: 100%;
        text-align: left;
        padding: 14px 0 14px 150px;
        margin-right: -150px;
        .info_name {
          line-height: 32px;
          padding: 0 40px 0 0;
          float: left;
        }
        .info_item span {
          line-height: 32px;
        }
      }
    }
  }
  .team_select {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    .select_title {
      width: 92px;
      display: flex;
      justify-content: space-between;
      .title_bor {
        background-color: rgba(53, 49, 149, 1);
        width: 4px;
        height: 20px;
        border-radius: 30px;
      }
      .title_tl {
        font-size: 20px;
        font-weight: 600;
        color: rgba(53, 49, 149, 1);
        line-height: 20px;
      }
    }
    .team_option {
      margin-top: 20px;
      .selectBigSpan {
        margin-left: 30px;
      }
    }
  }
  .team_title {
    font-size: 18px;
    font-weight: 600;
    // color: rgba(45, 50, 90, 1);
    line-height: 25px;
    padding-bottom: 14px;
    text-align: left;
    span {
      position: relative;
      left: -180px;
    }
  }
  .team_details {
    width: 100%;
    height: 115px;
    border-radius: 16px;
    margin: 20px 0 0 0;
    .info_left {
      width: 150px;
      height: 150px;
      float: left;
      position: relative;
      top: -35px;
      margin-left: 30px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .info_right {
      width: 100%;
      text-align: left;
      padding: 30px 0 22px 210px;
      margin-right: -210px;
      .info_name {
        font-size: 24px;
        font-weight: 600;
        color: rgba(51, 51, 51, 1);
        line-height: 33px;
        padding-bottom: 3px;
      }
      .info_item {
        span {
          margin-right: 40px;
          font-size: 14px;
          font-weight: 400;
          color: rgba(93, 93, 93, 1);
          line-height: 20px;
        }
      }
    }
  }
  .analys_theme {
    padding-top: 30px;
    .selct_btn {
      display: flex;
      justify-content: space-between;
    }
  }
}
</style>
<style lang="scss">
.analys_theme .el-table .customTableHeaderCell {
  text-align: center !important;
}
.analys_theme .el-table::before {
  height: 0px;
}
.analys_theme .el-table .cell {
  height: 28px !important;
  line-height: 28px !important;
}
.analys_theme .el-table {
  border-radius: 16px;
  border-bottom: 2px solid rgba(246, 248, 251, 1);
  border-left: 2px solid rgba(246, 248, 251, 1);
  border-right: 2px solid rgba(246, 248, 251, 1);
}
.warnBgColor .el-table {
  border-radius: 0;
  border-left: 2px solid rgba(246, 248, 251, 1);
  border-right: 2px solid rgba(246, 248, 251, 1);
  border-bottom: none;
}
.analys_theme .el-table .customTableCell {
  text-align: center !important;
  .cell {
    font-weight: 600;
    color: #5d5d5d;
    font-size: 16px;
  }
}
.analys_theme .el-table .customTableHeader th:first-child,
.analys_theme .el-table .el-table__row td:first-child {
  text-align: left !important;
  padding-left: 40px !important;
}
.warnBgColor .el-table .customTableHeader th:first-child,
.warnBgColor .el-table .el-table__row td:first-child,
.lineup .el-table .customTableHeader th:first-child,
.lineup .el-table .el-table__row td:first-child {
  text-align: center !important;
  padding-left: 0 !important;
}
.warnBgColor .el-table:last-child {
  border-radius: 0 0 16px 16px;
  border-bottom: 2px solid rgba(246, 248, 251, 1);
}
.warnBgColor .el-table:last-child .customTableHeader th:first-child,
.warnBgColor .el-table:last-child .customTableHeader th:nth-last-child(2) {
  border-radius: 0 !important;
}
</style>
