<template>
  <div class="team-performance" :class="homeName ? 'teamWidth' : ''">
    <div class="team_left">
      <HeadIfno
        v-if="showImgInfo"
        :playerImg="playerInfo.playerAvatar"
        :playerNum="playerInfo.jerseyNum"
        :playerName="playerInfo.playerName"
        :countryImg="playerInfo.teamLogo"
        :countryName="playerInfo.teamName"
      >
      </HeadIfno>
    </div>
    <div class="items-box">
      <div class="item" v-for="(item, index) in echartData.list" :key="index">
        <div class="left-box">
          {{ item.text }}
        </div>
        <div class="right-box">
          <AbHistogram
            :value="item.value"
            :textValue="item.text"
            :maxValue="item.maxValue"
            :textWidth="defaultValue.textWidth"
            :position="defaultValue.position"
            :mainColor="StatusColorUI4"
            :lineHeight="defaultValue.lineHeight"
            :isTime="item.text === '上场时间' ? true : false"
          >
          </AbHistogram>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// 球队表现，主队
import globalExtends from "@globalExtends";
import HeadIfno from "../components/headInfo";
import AbHistogram from "../components/AbHistogram.vue";
export default {
  extends: globalExtends,
  props: {
    homeName: Boolean,
    showImgInfo: {
      default: false
    },
    echartData: Object,
    playerInfo: Object
  },
  data() {
    return {
      defaultValue: {
        textWidth: 80,
        position: "left",
        mainColor: "#C12C3A",
        lineHeight: 20
      }
    };
  },
  created() {},
  computed: {
    StatusColorUI4() {
      return this.skinPorps.StatusColorUI4.default;
    }
  },
  components: {
    AbHistogram,
    HeadIfno
  }
};
</script>

<style lang="scss" scoped>
.team-performance {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  .team_left {
    margin-top: 60px;
  }
  .items-box {
    padding-left: 22px;
    width: 100%;
    .item {
      font-size: 0;
      line-height: 23px;
      margin-top: 20px;
      .left-box {
        display: inline-block;
        width: 104px;
        padding-right: 6px;
        font-size: 14px;
        font-weight: 600;
        color: rgba(93, 93, 93, 1);
        vertical-align: middle;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .right-box {
        display: inline-block;
        width: calc(100% - 105px);
      }
    }
  }
}
.teamWidth {
  width: 80.5%;
  margin-top: 40px;
}
</style>
