<template>
  <div class="scoring-efficiency-warpper">
    <div class="left-img">
      <HeadIfno
        v-if="showImgInfo"
        :playerImg="playerInfo.playerAvatar"
        :playerNum="playerInfo.jerseyNum"
        :playerName="playerInfo.playerName"
        :countryImg="playerInfo.teamLogo"
        :countryName="playerInfo.teamName"
      ></HeadIfno>
    </div>
    <div class="right-box">
      <div class="first-line">
        <div
          class="circle"
          v-for="(item, index) in echartData.circleLists"
          :key="index"
          :style="{ backgroundColor: StatusColorUI4 }"
        >
          <div class="title">
            {{ item.text }}
          </div>
          <div class="value">
            {{ item.value }}
          </div>
        </div>
      </div>
      <div class="second-line">
        <div
          v-for="(item, index) in echartData.list"
          :key="index"
          class="items"
        >
          <div class="left-box">
            {{ item.text }}
          </div>
          <div class="right">
            <AbHistogram
              :value="item.value"
              :maxValue="item.maxValue"
              :textWidth="defaultValue.textWidth"
              :position="defaultValue.position"
              :mainColor="StatusColorUI4"
              :backgroundColor="LineColorUI8"
              :lineHeight="defaultValue.lineHeight"
            ></AbHistogram>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import globalExtends from "@globalExtends";
import HeadIfno from "../components/headInfo";
import AbHistogram from "../components/AbHistogram";
// 得分效率
export default {
  extends: globalExtends,
  props: {
    showImgInfo: Boolean,
    echartData: Object,
    playerInfo: Object
  },
  watch: {
    datas() {}
  },
  data() {
    return {
      defaultValue: {
        textWidth: 50,
        position: "left",
        mainColor: "#C12C3A",
        lineHeight: 8
      }
    };
  },
  mounted() {},
  computed: {
    StatusColorUI4() {
      return this.skinPorps.StatusColorUI4.default;
    },
    LineColorUI8() {
      return this.skinPorps.LineColorUI8.default;
    }
  },
  methods: {},
  components: {
    HeadIfno,
    AbHistogram
  }
};
</script>

<style lang="scss" scoped>
.scoring-efficiency-warpper {
  margin: 0 auto;
  // padding: 40px 0 40px 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .left-img {
    margin: 60px 36px 0 0;
  }
  .right-box {
    margin-top: 30px;
    .first-line {
      width: 308px;
      margin-bottom: 33px;
      .circle {
        color: #fff;
        display: inline-block;
        width: 76px;
        height: 76px;
        border-radius: 50%;
        border: 2px solid #3e467f;
        // background: #c12c3a;
        text-align: center;
        box-sizing: border-box;
        padding-top: 16px;
        .title {
          font-size: 12px;
          line-height: 17px;
        }
        .value {
          font-size: 24px;
          font-weight: 600;
          line-height: 33px;
          vertical-align: middle;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      .circle:nth-child(2) {
        margin-left: 40px;
        margin-right: 40px;
      }
    }
    .second-line {
      font-size: 0;
      width: 326px;
      display: inline-block;
      .items:nth-child(2) {
        margin-bottom: 12px;
        margin-top: 12px;
      }
      .left-box {
        display: inline-block;
        width: 88px;
        margin-right: 12px;
        font-size: 14px;
        font-weight: 600;
        color: rgba(93, 93, 93, 1);
        line-height: 20px;
        vertical-align: middle;
        text-align: left;
      }
      .right {
        display: inline-block;
        width: calc(100% - 104px);
        font-weight: 600;
      }
    }
  }
}
</style>
