<template>
  <div id="customClickTable" :style="{ width: totalWidthStyle }">
    <div class="clickBtnArea" v-if="isClickFlag">
      <el-button
        icon="el-icon-arrow-left"
        circle
        :disabled="moveNum >= moveMaxNum"
        @click="moveTable('left')"
      ></el-button>
      <el-button
        icon="el-icon-arrow-right"
        circle
        :disabled="!moveNum"
        @click="moveTable('right')"
      ></el-button>
    </div>
    <div class="table_left" :style="{ width: totalWidthStyle }">
      <el-table
        :data="tableData"
        style="width: 100%"
        header-cell-class-name="customTableHeaderCell"
        header-row-class-name="customTableHeader"
        cell-class-name="customTableCell"
        :header-cell-style="headerRowStyle"
        :cell-style="cellStyle"
        :row-class-name="tableRowClassName"
        @header-click="headerClick"
      >
        <el-table-column
          v-for="(item, index) of leftTablePop"
          :key="index"
          :prop="item.prop"
          :align="item.alignType ? item.alignType : 'center'"
          :label="item.label"
          :width="item.width"
          :header-cell-class-name="item.headerCellClass"
          :show-overflow-tooltip="true"
          :index="index"
        >
          <template slot-scope="scope">
            <span
              v-if="item.customCell === 'text'"
              @click="pageSkip(item.prop, scope.row)"
              class="tableClickFont"
              >{{ scope.row[scope.column.property] }}</span
            >
            <span
              v-if="
                item.customCell === 'logoText' || item.customCell === 'logo'
              "
              class="iconSpan"
              ><img :src="scope.row.teamLogo" alt=""
            /></span>
            <span
              v-if="item.customCell === 'logoText'"
              @click="pageSkip(item.prop, scope.row)"
              class="iconAddFont tableClickFont"
              >{{ scope.row.teamName }}</span
            >
            <span v-if="!item.customCell">{{
              scope.row[scope.column.property]
            }}</span>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <div
      class="table_right"
      :style="{ width: rightWidthStyle, left: rightTableAbsLeft }"
    >
      <div
        class="tableRight_content"
        :style="{ width: moveTableTotalWidthStyle }"
      >
        <el-table
          class="moveTable"
          :data="tableData"
          style="width: 100%"
          header-cell-class-name="customTableHeaderCell"
          cell-class-name="customTableCell"
          :style="{ left: moveTableValStyle }"
          :row-class-name="tableRowClassName"
        >
          <el-table-column
            v-for="(item, index) of rightTablePop"
            :key="index"
            :align="item.alignType ? item.alignType : 'center'"
            :prop="item.prop"
            :label="item.label"
            :width="rightCellWidth"
          >
            <!--customHeader: true 自定义表头样式 -->
            <template slot="header" v-if="item.customHeader">
              <span class="lineHeight20">{{ item.label.split(",")[0] }}</span>
              <span class="lineHeight20">{{ item.label.split(",")[1] }}</span>
            </template>
            <template slot="header" v-else>
              <span>{{ item.label }}</span>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  // 该组件只支持ie11以上(包括ie11)及大多数主流浏览器
  name: "CustomClickTable",
  props: {
    moveType: {
      //cell: 按一列移动， screen: 按一屏移动
      type: String,
      required: true
    },
    isClickFlag: {
      // 头部header column 是否可以被点击
      type: Boolean,
      required: true
    },
    tableSkin: {
      // 表格的皮肤
      type: Object,
      required: true
    },
    totalWidth: {
      //整个表格的宽度
      type: Number,
      required: true
    },
    leftWidth: {
      //左侧固定表格的宽度
      type: Number,
      required: true
    },
    screenShowCellNum: {
      // 一屏显示几列
      type: Number,
      required: true
    },
    tableData: {
      //表格数据
      type: Array,
      required: true
    },
    rightCellWidth: {
      //右侧表格单列宽度
      type: Number,
      required: true
    },
    leftTablePop: {
      // 左侧表格为不需要滑动的列
      type: Array,
      required: true,
      default: () => []
    },
    clickableColumnIndex: {
      //左侧表格从第几列开始可以点击，下标从0开始
      type: Number,
      default: 1
    },
    initColumnIndex: {
      //当默认选中列在右侧表格时，column列对应的index下标从0开始  且 initColumnIndex>=clickableColumnIndex
      type: Number,
      default: 2
    },
    initSelectColumnProp: {
      //当默认选中列在右侧表格时，此参数必传，为column列的prop对应value值
      type: String,
      default: ""
    },
    rightTablePop: {
      // 右侧表格只放需要滑动的列
      type: Array,
      required: true,
      default: () => []
    }
  },
  data() {
    return {
      moveTableVal: 0, //表格需要移动的位置，初始值是0
      moveNum: 0, //偏移了几列，默认是0偏移
      moveMaxNum: 10, //最大偏移列数，默认假设为10,
      showRightColumnPropArr: [], //存储当前右侧表格列数的prop
      selectColumnProp: "", // 选择某一列时对应的prop值
      leftNotMoveColumnNum: 0, // 左侧表格固定的列数
      columnIndex: 0, // 默认 选中表格的索引
      surplusNum: 0 //如果是screen模式下，这个是用来存储当不够一屏时剩余几列
    };
  },
  created() {
    this.columnIndex = this.initColumnIndex;
    this.leftNotMoveColumnNum =
      this.leftTablePop.length - this.screenShowCellNum;
    if (this.columnIndex > this.leftNotMoveColumnNum - 1) {
      this.selectColumnProp = this.initSelectColumnProp;
    }
    if (this.moveType === "cell") {
      this.moveMaxNum =
        (this.rightCellWidth * this.rightTablePop.length -
          (this.totalWidth - this.leftWidth)) /
        this.rightCellWidth;
    } else {
      let moveMaxNum =
        Math.ceil(
          (
            (this.rightCellWidth * this.rightTablePop.length) /
            (this.totalWidth - this.leftWidth)
          ).toFixed(2)
        ) - 1;
      this.moveMaxNum = moveMaxNum >= 0 ? moveMaxNum : 0;
      this.surplusNum =
        (this.rightCellWidth * this.rightTablePop.length -
          this.moveMaxNum * (this.totalWidth - this.leftWidth)) /
        this.rightCellWidth;
      console.log("surplusNum:", this.surplusNum);
    }
    for (let i = 0; i < this.screenShowCellNum; i++) {
      let cell = this.rightTablePop[i];
      if (cell) {
        this.showRightColumnPropArr.push(cell.prop);
      } else {
        console.log("startIndex计算错误");
      }
    }
    console.log("showRightColumnPropArr:", this.showRightColumnPropArr);
  },
  computed: {
    totalWidthStyle() {
      //表格整体宽度
      return `${this.totalWidth}px`;
    },
    rightWidthStyle() {
      //右侧滑动表格所展示的宽度
      const rigthWidth = this.totalWidth - this.leftWidth;
      return `${rigthWidth}px`;
    },
    rightTableAbsLeft() {
      //右侧滑动表格table_right的position-left值
      const absLeft = this.leftWidth;
      return `${absLeft}px`;
    },
    moveTableTotalWidthStyle() {
      // 右侧滑动表格内部tableRight_content实际宽度
      //this.rightTablePop.length:右侧滑动表格有几列
      return `${this.rightCellWidth * this.rightTablePop.length}px`;
    },
    moveTableValStyle() {
      // 右侧滑动表格内部tableRight_content移动的位移值
      return `${this.moveTableVal}px`;
    }
  },
  methods: {
    pageSkip(state, item) {
      console.log(state, item);
      let name = "";
      let params = {};
      if (state === "playerName") {
        name = "basketballPlayerDetail";
        params = { playerId: item.playerId };
      } else if (state === "teamName") {
        name = "basketballTeamDetail";
        params = { teamId: item.teamId };
      } else {
        console.log("路由跳转没有传state");
        return;
      }
      this.$router.push({
        name,
        params
      });
    },
    moveTable(state) {
      //left: 点击左边按钮； right:点击右边按钮
      if (this.moveType === "cell") {
        //移动单列
        if (state === "left") {
          this.moveTableVal -= this.rightCellWidth;
          this.moveNum++;
        } else {
          this.moveTableVal += this.rightCellWidth;
          this.moveNum--;
        }
      } else {
        //移动整屏
        let unScreenWidth = this.surplusNum * this.rightCellWidth;
        let screenWidth = this.totalWidth - this.leftWidth;
        if (state === "left") {
          if (this.moveNum + 1 === this.moveMaxNum) {
            this.moveTableVal -= unScreenWidth;
          } else {
            this.moveTableVal -= screenWidth;
          }
          this.moveNum++;
        } else {
          if (this.moveNum === this.moveMaxNum) {
            this.moveTableVal += unScreenWidth;
          } else {
            this.moveTableVal += screenWidth;
          }
          this.moveNum--;
        }
      }
      if (!this.isClickFlag) return; //【点击】模式时才需要往下执行
      this.moveNumHanlder(state);
    },
    tableRowClassName({ row, rowIndex }) {
      console.debug(row);
      if (rowIndex % 2) {
        return "evenRowStyle";
      } else {
        return "";
      }
    },
    moveNumHanlder(state) {
      //由于screen时整个数组替换，而cell是改变数组里面的某个元素
      // 获得this.showRightColumnPropArr
      let screenShowCellNum = this.screenShowCellNum;
      let showRightColumnPropArr = [];
      let rightTablePop = this.rightTablePop;
      let allLength = rightTablePop.length;
      console.log("allLength:", allLength);
      let startIndex = null;
      let endIndex = null;
      if (this.moveType === "cell") {
        let i = null;
        if (state === "left") {
          i = this.moveNum + this.screenShowCellNum - 1;
          console.log(showRightColumnPropArr);
          // showRightColumnPropArr.push(
          //   this.rightTablePop[this.moveNum + this.screenShowCellNum - 1].prop
          // );
          showRightColumnPropArr = [].concat(
            this.showRightColumnPropArr,
            this.rightTablePop[i].prop
          );
          console.log(showRightColumnPropArr);
          showRightColumnPropArr.shift();
        } else {
          // showRightColumnPropArr.unshift(
          //   this.rightTablePop[this.moveNum + this.screenShowCellNum - 1].prop
          // );
          i = this.moveNum;
          showRightColumnPropArr = [].concat(
            this.rightTablePop[i].prop,
            this.showRightColumnPropArr
          );
          showRightColumnPropArr.pop();
        }
        this.showRightColumnPropArr = showRightColumnPropArr;
      } else {
        if (this.moveNum === this.moveMaxNum) {
          startIndex = allLength - screenShowCellNum;
          endIndex = allLength;
        } else {
          startIndex = this.moveNum * screenShowCellNum;
          endIndex = startIndex + screenShowCellNum;
        }
        for (let i = startIndex; i < endIndex; i++) {
          let cell = rightTablePop[i];
          if (cell) {
            showRightColumnPropArr.push(cell.prop);
          } else {
            console.log("startIndex计算错误");
          }
        }
      }
      this.showRightColumnPropArr = showRightColumnPropArr;
      console.log("showRightColumnPropArr:", this.showRightColumnPropArr);
    },
    headerClick: function(column) {
      if (!this.isClickFlag) return; //【点击】模式时才需要往下执行
      //点击头部获取 this.columnIndex 的值
      //点击字段，进行排序
      console.log(column);
      if (!this.tableData.length) return;
      // var arr = column.id.split("_");
      // var columnIndex = Number(arr[arr.length - 1]) - 1;
      let columnIndex = column.index;
      console.log("headerClick columnIndex:", columnIndex);
      if (columnIndex < this.clickableColumnIndex) return;
      this.columnIndex = columnIndex;
      console.log("columnIndex:", columnIndex);
      if (this.columnIndex > this.leftNotMoveColumnNum - 1) {
        //这里是下标比对， leftNotMoveColumnNum不是下标是个数
        this.selectColumnProp = this.showRightColumnPropArr[
          this.columnIndex - this.leftNotMoveColumnNum
        ];
      } else {
        this.selectColumnProp = this.leftTablePop[this.columnIndex].prop;
      }
      // this.columnStr =column.property ? column.property : null
      // this.getData()
      this.$emit("selectColumn", this.selectColumnProp);
    },
    cellStyle: function(row) {
      if (!this.isClickFlag) return; //【点击】模式时才需要往下执行
      // console.log(row);
      let columnIndex = -1;
      if (this.columnIndex > this.leftNotMoveColumnNum - 1) {
        this.showRightColumnPropArr.forEach((val, index) => {
          if (val === this.selectColumnProp) {
            columnIndex = index;
          }
        });
        if (columnIndex > -1) {
          columnIndex += this.leftNotMoveColumnNum;
        }
      } else {
        columnIndex = this.columnIndex;
      }
      if (columnIndex == row.columnIndex) {
        console.log("rowIndex:,", row);
        if (row.row.index) {
          return {
            background: `${this.tableSkin.actColumnCellBgColor} !important`
          };
        } else {
          return "";
        }
      }
    },
    headerRowStyle: function(row) {
      console.log("columnIndex:", row.columnIndex);
      if (!this.isClickFlag) return; //【点击】模式时才需要往下执行
      let cursor = "pointer";
      let columnIndex = -1;
      if (this.columnIndex > this.leftNotMoveColumnNum - 1) {
        this.showRightColumnPropArr.forEach((val, index) => {
          if (val === this.selectColumnProp) {
            columnIndex = index;
          }
        });
        if (columnIndex > -1) {
          columnIndex += this.leftNotMoveColumnNum;
        }
      } else {
        columnIndex = this.columnIndex;
      }
      if (columnIndex == row.columnIndex) {
        return { background: this.tableSkin.selectHeaderColor, cursor: cursor };
      } else if (this.clickableColumnIndex <= row.columnIndex) {
        return { cursor: cursor };
      }
      return "";
    }
  }
};
</script>

<style lang="scss" scoped>
#customClickTable {
  position: relative;
  width: 100%;
  padding-top: 78px;
  & .clickBtnArea {
    position: absolute;
    top: 32px;
    right: 20px;
    z-index: 2;
  }
  & .table_right {
    pointer-events: none;
    position: absolute;
    top: 78px;
    z-index: 1;
    overflow: hidden;
    .tableRight_content {
      position: relative;
      .moveTable {
        transition: all 0.3s linear;
      }
    }
  }
}
</style>
