<template>
  <div id="dataBasic" class="dataBasic">
    <div class="rank_box" :class="disName ? 'disName' : ''">
      <div class="block_left">
        <HeadIfno
          v-if="showImgInfo"
          :playerImg="playerInfo.playerAvatar"
          :playerNum="playerInfo.jerseyNum"
          :playerName="playerInfo.playerName"
          :countryImg="playerInfo.teamLogo"
          :countryName="playerInfo.teamName"
        >
        </HeadIfno>
      </div>
      <div class="rank_info">
        <div
          class="info_li"
          v-for="(infoItem, index) of echartData.itemData"
          :key="index"
        >
          <div class="info_left" :style="{ backgroundColor: echartBgColor }">
            <span>
              {{ infoItem.name }}
            </span>
          </div>
          <div class="info_right">
            <span class="right_time">{{ infoItem.time }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import globalExtends from "@globalExtends";
import HeadIfno from "./components/headInfo";
export default {
  extends: globalExtends,
  name: "dataBasic",
  props: {
    showImgInfo: Boolean,
    disName: Boolean,
    showImgPlayer: Boolean,
    echartData: Object,
    playerInfo: Object
  },
  data() {
    return {};
  },
  created() {},
  computed: {
    echartBgColor() {
      return this.skinPorps.echartBgColor.default;
    }
  },
  methods: {},
  components: {
    HeadIfno
  }
};
</script>

<style lang="scss" scoped>
.dataBasic {
  .rank_box {
    display: flex;
    .block_left {
      margin-top: 60px;
    }
    .rank_portrait {
      width: 108px;
      margin: 60px 20px 0 0;
      .portrait_top {
        width: 100%;
        height: 90px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .portrait_center {
        font-size: 14px;
        font-weight: 600;
        color: rgba(85, 85, 85, 1);
        line-height: 20px;
        margin: 10px 0 15px 0;
        .center_num {
          margin-right: 6px;
        }
      }
      .portrait_bot {
        font-size: 14px;
        font-weight: 600;
        color: rgba(85, 85, 85, 1);
        line-height: 20px;
        .bot_img {
          display: inline-block;
          width: 30px;
          height: 30px;
          margin-right: 6px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .rank_info {
      border: 1px solid rgba(236, 237, 244, 1);
      border-radius: 4px;
      width: 400px;
      .info_li {
        width: 50%;
        height: 28px;
        float: left;
        &:nth-child(1) .info_left {
          border-radius: 4px 0px 0px 0px;
        }
        &:nth-child(2) .info_left {
          border-radius: 4px 0px 0px 0;
        }
        &:nth-child(19) .info_left {
          border-radius: 0px 0px 0px 4px;
        }
        &:last-child .info_left {
          border-radius: 0px 0px 0px 4px;
        }
        .info_left {
          width: 80px;
          height: 28px;
          // background-color: rgba(62, 70, 127, 0.7);
          font-size: 12px;
          font-weight: 600;
          color: rgba(255, 255, 255, 1);
          line-height: 28px;
          text-align: left;
          padding-left: 14px;
          position: absolute;
          span {
            display: inline-block;
            line-height: 14px;
          }
        }
        &:nth-child(4n + 1),
        &:nth-child(4n + 2) {
          background: rgba(236, 237, 244, 1);
        }
        .info_right {
          width: 200px;
          height: 28px;
          display: flex;
          justify-content: flex-end;
          span {
            width: 60%;
            font-size: 12px;
            font-weight: 600;
            color: rgba(93, 93, 93, 1);
            line-height: 28px;
            .player_info_img {
              display: inline-block;
              width: 20px;
              height: 24px;
              margin-right: 20px;
              img {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }
  }
  .rank_box.disName {
    .rank_info {
      width: 500px;
      .info_li .info_left {
        width: 100px;
      }
      .info_li .info_right {
        width: 240px;
      }
    }
  }
}
</style>
