<template>
  <div class="prompt_box" @click="closeEvent">
    <div
      class="prompt_box_item"
      @click.stop="noBubbles"
      :style="{ width: contentWidth, height: contentHeight }"
    >
      <div class="prompt_box_title">{{ alertMes.showTitle }}</div>
      <div class="prompt_box_btn" :style="{ color: color }">
        {{ alertMes.showtAable }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    // 内容宽度
    contentWidth: {
      type: String,
      default: "460px"
    },
    alertMes: {
      type: Object,
      default: () => ({
        state: "error",
        showTitle: "2313213",
        showtAable: "asdadasd"
      })
    },
    // 内容高度
    contentHeight: {
      type: String,
      default: "150px"
    },
    // 用于关闭弹层的事件  回调函数
    closeEvent: {
      type: Function
    }
  },
  data() {
    return {
      color: ""
    };
  },
  mounted() {
    this.getColor();
  },
  methods: {
    getColor() {
      if (this.alertMes.state === "success") {
        console.log(1);
        this.color = "#205CA9";
      } else if (this.alertMes.state === "error") {
        this.color = "#C23531";
        console.log(2);
      } else if (this.alertMes.state === "waring") {
        this.color = "#efef1b";
        console.log(3);
      }
    },
    // 用于禁止冒泡
    noBubbles() {
      return;
    }
  }
};
</script>

<style lang="scss" scope>
// 弹窗
.prompt_box {
  position: fixed;
  z-index: 500;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  .prompt_box_item {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    border: 1px solid rgba(228, 231, 237, 1);
    padding: 40px 0;
    .prompt_box_title {
      color: #333333;
      font-size: 16px;
      padding-bottom: 30px;
    }
    .prompt_box_btn {
      font-size: 16px;
    }
  }
}
</style>
