<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover"/> -->
    <meta name="format-detection" content="telephone=no, address=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <link rel="icon" href="./favicon.ico" />
    <link href="./css/reset.css" rel="stylesheet"/>
    <link href="./css/element-ui@2.9.1.css" rel="stylesheet"/>
    <link href="./css/element-theme-chalk.css" rel="stylesheet"/>
    <link href="./css/elementUI_custom.css" rel="stylesheet" />
    <link
    href="./css/elementUI_darkSkin.css"
    rel="stylesheet"
    skin="darkSkin"
    />
    <link href="./css/login.css" rel="stylesheet"/>
    <link href="./css/checkCodeSilder.css" rel="stylesheet"/>
    <title>超赛体育</title>
  </head>

  <body>
    <div id="login">
      <div v-if="browserTipFlag" id="browserTip_toast" style="opacity: 0;" onclick="closeTip()">
        <div class="browserTip_pop"></div>
        <i class="browserTip_bg"></i>
        <p class="browserTip_font">
          建议使用Chrome、Firefox、IE浏览器最新版本获得更佳观览体验
        </p>
        <p class="browserTip_ido">我知道了</p>
      </div>
      <div class="outerBgDiv2"
        :class="uaBrowserType"
        >
        <div class="inAgreet">
            <p class="inBorder"></p>
            <div class="inMain">
                <h5>超赛使用协议</h5>
                <div class="inWrapper">
                    <div>
                        <h6></h6>
                        <p> 超赛是由北京晓数聚传媒科技有限公司（以下简称“晓数聚”或“我们”）开发运营。 本使用协议是你与晓数聚之间的协议，晓数聚如在必要的时候进行修订，无需另行通知。修订后的条款一旦在网页上公布即有效代替原来的使用协议。如果你使用超赛，你必须同意此使用协议。</p>
                    </div>
                    <div>
                        <h6>1. 超赛的使用</h6>
                        <p>你在使用超赛之前需要注册超赛的账户，同时你需要仔细阅读本协议，并在充分阅读和理解了相关协议的约定后提交必要的个人信息完成注册。 你可以免费使用超赛的非付费功能。 如果你有意愿使用超赛的某些付费服务，这将表示你将同意支付其中的所有费用。 在你提交使用付费产品的申请后，我们将提供经我们认可的第三方在线服务机构的支付方式，并要求你支付相关费用。成功支付后，表明你已经获得使用付费服务的权利并且已经达成此项交易，除非因为我们的原因导致服务无法正常提供，否则我们将不会退还你已经支付的服务费。 超赛的所有付费服务项目，均针对注册用户本人的单人单账户。如果你代表某机构或某企业而非你个人使用超赛产品，则你将被认为获得充分授权代表该机构或该企业同意本协议条款以及本协议条款不时的修改和补充。 以下行为是禁止的： (a) 滥用超赛的服务，多人使用同一个账号； (b) 未经授权，转售超赛的软件、功能和服务，包括不限于：完整的软件、全部或部分的专业付费功能和服务； (c) 采取恶意手段使用超赛, 造成服务器异常； (d) 使用超赛从事非法活动或为非法活动提供帮助。 如果你采取了上述行为，我们有权单方面终止/暂停你使用超赛并且不会退还你的付费，同时，我们将视该行为引起后果的严重性，追究责任并保留通过法律途径追偿合理损失的权利。</p>
                    </div>
                    <div>
                        <h6>2. 知识产权 </h6>
                        <p>超赛的知识产权，包括（但不仅限于） 软件、源代码、文字、内容、录像、音乐、声音、图形、照片、图表、美术设计、图片、名称、标识、商标和/或服务标志（包括已注册和未注册的），以及其它资料（以下简称知识产权内容）都受到版权法、商标法和一切知识产权公约的保护。 任何通过超赛注册的账号上传的内容的版权均归上传者所有，上传者承担所有被上传内容的版权责任。 我们有权在网站上，展示上传者上传到超赛网站公共区域的内容。</p>
                    </div>
                    <div>
                        <h6>3. 用户数据私密性 对于免费或者付费使用超赛软件的用户：</h6>
                        <p>(a) 对于你创建的本地项目文件，如果不使用云同步上传，你所创建的项目文件保存在你的电脑中，该项目文件的内容私密性由你个人负责，超赛不涉及也不承担该项目文件的数据私密性责任。 (b) 如使用同步功能上传到云，对于上传到云的项目文件，超赛承诺确保该项目文件的私密性，不会以任何方式传播用户数据。 对于付费使用超赛Web应用的用户，你的项目是私密的，也即：除非用户本人自行传播数据（通过分享、审阅等方式），超赛承诺确保用户数据的私密性，不会以任何方式传播用户数据。 以上条款的不可抗力及免责，见条款5。 </p>
                    </div>
                    <div>
                        <h6>4. 关于用户个人信息</h6>
                        <p>我们尊重访问超赛网站的任何个人的隐私信息。 当你访问网站的时候可能被要求提供你个人的基本资料（如姓名、电子邮件、电话号码等），你可以自行选择是否提供。 对于你提供的个人信息，我们将根据国家相关法律进行保密并严格保管，不会将这些信息以任何方式提供或展示给任何第三方，但下述情况除外（即：得以免责）： (a) 当司法机关或行政机关依照法定程序和法定职权要求我们披露个人资料时，我们将依法提供相关资料；</p>
                    </div>
                    <div>
                        <h6>5. 不可抗力及免责</h6>
                        <p>你理解并同意：在使用本服务的过程中，可能会遇到不可抗力等风险因素，使本服务发生中断。不可抗力是指不能预见、不能克服并不能避免且对一方或双方造成重大影响的客观事件，包括但不限于自然灾害如洪水、地震、瘟疫流行和风暴等以及社会事件如战争、动乱、政府行为等。 出现上述情况时，我们将努力在第一时间与相关单位配合，及时进行修复，但是由此给你造成的损失，我们在法律允许的范围内免责。 在法律允许的范围内，我们对以下情形导致的服务中断或受阻不承担责任： (a) 受到计算机病毒、木马或其它恶意程序、黑客攻击的破坏； (b) 用户或我们的电脑软件、系统、硬件和通信线路出现故障； (c) 用户操作不当； (d) 用户通过非我们授权的方式使用本服务； (e) 其它我们无法控制或合理预见的情形。 你理解并同意：本服务并非为某些特定目的而设计，包括但不限于核设施、军事用途、 医疗设施、交通通讯等重要领域。 如果因为软件或服务的原因导致上述操作失败而带来的人员伤亡、财产损失和环境破坏等，我们不承担法律责任。</p>
                    </div>
                    <div>
                        <h6>6. 生效与终止</h6>
                        <p>使用我们的服务即视为你已阅读本协议并接受本协议的约束。 我们有权在必要时修改本协议条款，你可以在相关服务页面查阅最新版本的协议条款。 本协议条款变更后，如果你继续使用我们提供的软件或服务，即视为你已接受修改后的协议。 如果你不接受修改后的协议，应当停止使用我们提供的软件或服务。 我们可能会对服务内容进行变更，也可能会中断、中止或终止服务。 如发生下列任何一种情形，我们有权不经过通知而中断或终止向你提供的服务： (a) 根据法律规定你应提交真实信息，而你提供的个人资料不真实、或与注册时信息不一致又未能提供合理证明； (b) 你违反相关法律法规或本协议的约定； (c) 按照法律规定或主管部门的要求； (d) 出于安全的原因或其它必要的情形。 若你使用了我们提供的付费服务，但你未按时足额付费，我们有权中断或终止相关的服务。</p>
                    </div>
                    <div>
                        <h6> 7. 准据法和管辖权</h6>
                        <p>本协议的解释和适用均适用国家法律，由于使用超赛而产生的一切纠纷，均由晓数聚所在地人民法院管辖。如果本使用条款中的部分条款被有关机关认定为无效，则此无效部分并不影响本使用条款其它部分的效力，其它部分仍然有效。</p>
                    </div>
                    <div>
                        <h6>8. 其它</h6>
                        <p>如果你对本协议或本服务有意见或建议，可与我们客户服务部门联系，联系方式为：liu_shuhao@newautogroup.cn，我们会给予你必要的帮助。</p>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
    <!-- built files will be auto injected -->
  </body>
  <script src="./js/vue@2.6.10.min.js"></script>
  <script src="./js/element-ui@2.9.1.js"></script>
  <script type="text/javascript">
    if (!'defineProperty' in Object) {
        console.log('当前浏览器不支持Vue');
        var browserTipDom = window.document.getElementById("browserTip_toast");
      if (browserTipDom) {
        console.log("browserTipDom:", browserTipDom);
        browserTipDom.style.opacity = 1;
        var browserTipStyle =
          "#browserTip_toast .browserTip_pop{position: fixed;top: 0;left: 0;z-index: 9999;width: 100%;height: 100%;background-color: rgba(0,0,0,.8);}" +
          "#browserTip_toast .browserTip_bg{ display: block; position: fixed; margin: -250px 0 0 -433px; top: 50%; left: 50%; z-index: 10000; width: 865px; height: 447px; background-image: url(../img/browserTip_bg.png); background-size: 100% auto; background-position: left top; background-repeat: no-repeat; background: none\9; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../r/cms/www/default/img/browserTip_bg.png', sizingMethod='scale');}" +
          "#browserTip_toast .browserTip_font{ position: fixed; margin: 15px 0 0 -433px; padding-left: 80px; top: 50%; left: 50%; z-index: 10001; width: 865px; text-align: center; line-height: 40px; font-size: 22px; color: #666;}" +
          "#browserTip_toast .browserTip_ido{ position: fixed; margin: 140px 0 0 -433px; padding-left: 80px; top: 50%; left: 50%; z-index: 10001; width: 865px; text-align: center; line-height: 30px; font-size: 18px; color: rgba(250, 193, 28, 1); text-decoration: underline; letter-spacing: 2px; cursor: pointer;}";
        if (document.all) {
          // document.createStyleSheet(url)
          window.style = browserTipStyle;
          document.createStyleSheet("javascript:style");
        } else {
          //document.createElement(style)
          var style = document.createElement("style");
          style.type = "text/css";
          style.innerHTML = browserTipStyle;
          document
            .getElementsByTagName("HEAD")
            .item(0)
            .appendChild(style);
        }
        window.closeTip = function() {
          browserTipDom.style.display = "none";
        };
      }
    }else{
      new Vue({
        el: "#agreement",
        data: function(){
          return{
            showAll:false,
            uaBrowserType: 'ua_pc',
            browserTipFlag: false,

          }
        },
        created: function() {
        },
        mounted: function() {
        },
        methods: {
        }
      })
    }
    console.log("window:", window)

  </script>
</html>
