<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover"/> -->
    <meta name="format-detection" content="telephone=no, address=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <link rel="icon" href="./favicon.ico" />
    <link href="./css/reset.css" rel="stylesheet"/>
    <link href="./css/element-ui@2.9.1.css" rel="stylesheet"/>
    <link href="./css/element-theme-chalk.css" rel="stylesheet"/>
    <link href="./css/elementUI_custom.css" rel="stylesheet" />
    <link
    href="./css/elementUI_darkSkin.css"
    rel="stylesheet"
    skin="darkSkin"
    />
    <link href="./css/login.css" rel="stylesheet"/>
    <link href="./css/checkCodeSilder.css" rel="stylesheet"/>
    <title>超赛体育</title>
  </head>

<body>
<div id="login">
    <div v-if="browserTipFlag" id="browserTip_toast" style="opacity: 0;" onclick="closeTip()">
        <div class="browserTip_pop"></div>
        <i class="browserTip_bg"></i>
        <p class="browserTip_font">
          建议使用Chrome、Firefox、IE浏览器最新版本获得更佳观览体验
        </p>
        <p class="browserTip_ido">我知道了</p>
    </div>
    <div class="outerBgDiv"
      :class="uaBrowserType"
        >
        <div class="login_img">
            <img class="login_tit_img" src="./img/login_logo.png" alt />
        </div>
        <div class="innerBg registerOK" v-show="!state">
            <div class="innerContentDiv"
            class="innerContent"
            >
            <span class="titleName">密码找回</span>
            <div class="contentInfo">
                <p class="defaultFontColor rest_new">请输入你的新密码</p>
                <el-row class="pb15">
                <el-input
                    v-model="passwordVal"
                    placeholder="请输入新密码"
                    @blur="getPassword()"
                    @focus="focusTitle()"
                    show-password
                    clearable
                ></el-input>
                <span class="tip_Text" :class="showPsdTitle ? 'show_tiptext' : ''">新密码</span>
                </el-row>
                <el-row class="pb15">
                <span class="warn_tip"></span>
                </el-row>
                <el-row >
                    <span class="hideText "
                        :class="!loginBtn?'defaultBtn':'loginBtn'"
                    >确定</sapn>
                </el-row>
            </div>
            </div>
        </div>
        <div class="innerBg registerOK" v-show="state">
            <div
            class="innerContent innerContentDiv"
            >
                <span class="titleName defaultFontColor">密码找回</span>
                <div 
                    class="hideText"
                    :class="!loginBtn?'contentInfo resetInfo':'contentInfo resetInfo'"
                >
                    <div class="reset_ok">
                        <img src="./img/sucess.png" alt="">
                    </div>
                    <p
                        class="lineHeight24 pb70 defaultFontColor"
                    >
                    密码已重置成功
                    </p>
                    <el-row class="pb18">
                      <span class="loginBtn"
                        :class="uaBrowserType"
                        >前往登录</sapn
                      >
                    </el-row>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- built files will be auto injected -->
</body>
  <script src="./js/checkCodeSilder.js"></script>
  <script src="./js/vue@2.6.10.min.js"></script>
  <script src="./js/element-ui@2.9.1.js"></script>
  <script type="text/javascript">
    if (!'defineProperty' in Object) {
        console.log('当前浏览器不支持Vue');
        var browserTipDom = window.document.getElementById("browserTip_toast");
      if (browserTipDom) {
        console.log("browserTipDom:", browserTipDom);
        browserTipDom.style.opacity = 1;
        var browserTipStyle =
          "#browserTip_toast .browserTip_pop{position: fixed;top: 0;left: 0;z-index: 9999;width: 100%;height: 100%;background-color: rgba(0,0,0,.8);}" +
          "#browserTip_toast .browserTip_bg{ display: block; position: fixed; margin: -250px 0 0 -433px; top: 50%; left: 50%; z-index: 10000; width: 865px; height: 447px; background-image: url(../img/browserTip_bg.png); background-size: 100% auto; background-position: left top; background-repeat: no-repeat; background: none\9; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../r/cms/www/default/img/browserTip_bg.png', sizingMethod='scale');}" +
          "#browserTip_toast .browserTip_font{ position: fixed; margin: 15px 0 0 -433px; padding-left: 80px; top: 50%; left: 50%; z-index: 10001; width: 865px; text-align: center; line-height: 40px; font-size: 22px; color: #666;}" +
          "#browserTip_toast .browserTip_ido{ position: fixed; margin: 140px 0 0 -433px; padding-left: 80px; top: 50%; left: 50%; z-index: 10001; width: 865px; text-align: center; line-height: 30px; font-size: 18px; color: rgba(250, 193, 28, 1); text-decoration: underline; letter-spacing: 2px; cursor: pointer;}";
        if (document.all) {
          // document.createStyleSheet(url)
          window.style = browserTipStyle;
          document.createStyleSheet("javascript:style");
        } else {
          //document.createElement(style)
          var style = document.createElement("style");
          style.type = "text/css";
          style.innerHTML = browserTipStyle;
          document
            .getElementsByTagName("HEAD")
            .item(0)
            .appendChild(style);
        }
        window.closeTip = function() {
          browserTipDom.style.display = "none";
        };
      }
    }else{
      Vue.component('check-code-slider', window.checkCodeSliderOption)
      new Vue({
        el: "#login",
        data: function(){
          return{
            uaBrowserType: 'ua_pc',
            browserTipFlag: false,
            state: 0, //0: 填写新密码页面； 1: 修改成功
            loginBtn:0,//0：默认注册按钮，1：可点击下一步按钮
            emailVal: "",
            passwordVal: "",
            showPsdTitle: false //显示密码提示
          }
        },
        created: function() {
        },
        methods: {
          focusTitle: function(){
              this.showPsdTitle = true
          },
          getPassword: function() {
            this.showPsdTitle = false
            this.canClick()
          },
          // 可按按钮方法
          canClick: function() {
            if(this.passwordVal !== "") {
              this.loginBtn = 1
            }
          },
        }
      })
    }
    console.log("window:", window)

  </script>
</html>
