/* ----- 登录注册 start ----- */

/* 登录注册输入框 */
.darkSkin .innerBg .el-input__inner {
  background-color: #2d325a;
  color: #abadbd;
  border: 1px solid #7c7f98;
}

/* 注册 【同意】前多选框颜色 */
.darkSkin .agreementDiv .el-checkbox__inner{
  background-color: #2D325A;
  border-color: #7C7F98;
}

/* 注册 【同意】二字颜色 */
.darkSkin .agreementDiv .el-checkbox{
  color: #ABADBD;
}

/* ----- 登录注册 end ----- */

/* ----- 自定义点击表格 customClickTabel  样式 start ----- */
#customClickTable .el-table .customTableHeader th, #customClickTable .el-table .customTableHeader tr{
  background-color: #5960AE;
}
/* head 标题字体颜色 */
#customClickTable .el-table thead{
  color: #fff;
}
/* 去掉每行border 1px */
#customClickTable .el-table td, #customClickTable .el-table th.is-leaf{
  border: 0;
}
/* 左右切换按钮描边颜色 */
#customClickTable .clickBtnArea .el-button{
  border-color: #5960AE;
}
#customClickTable .clickBtnArea .el-button:focus, #customClickTable .clickBtnArea .el-button:hover {
  color: #fff;
  background-color: #353195;
  border-color: #353195;
}

/* 左右切换按钮不可点击颜色 */
#customClickTable .clickBtnArea  .is-disabled{
  border-color: #C0C4CC;
}
#customClickTable .clickBtnArea .is-disabled.el-button:focus, #customClickTable .clickBtnArea .is-disabled.el-button:hover {
  color: #C0C4CC;
  
}
#customClickTable .clickBtnArea .is-disabled.el-button:hover{
  background-color: #fff;
  border-color: #C0C4CC;
}
/* ----- 自定义点击表格 customClickTabel end ----- */


/* ----- 其他默认表格 tabel  样式 start ----- */

.darkSkin .el-table .customTableHeader th, .darkSkin .el-table .customTableHeader tr{
  background-color: #5960AE;
}
.darkSkin .warnBgColor .el-table .customTableHeader th, .darkSkin .warnBgColor .el-table .customTableHeader tr{
  background-color: #F0A638;
}
/* head 标题字体颜色 */
.darkSkin .el-table thead{
  color: #fff;
}
/* 去掉每行border 1px */
.darkSkin .el-table td, .darkSkin .el-table th.is-leaf{
  border: 0;
}
/* 偶数行背景色 */
.darkSkin .el-table .evenRowStyle{  
  background-color: #F6F8FB;
}
/* 鼠标经过的颜色 */
.darkSkin .el-table--enable-row-hover .el-table__body tr:hover>td{
  background-color: transparent;
}
.darkSkin .el-table--enable-row-hover .el-table__body tr:hover {
  background-color: rgba(53, 49, 149, .15);
}
.darkSkin .el-table .tableClickFont{
  color: #5960AE;
}
.darkSkin .el-table .tableClickFont:hover{
  color: #353195;
}

/* ----- 其他默认表格 tabel end ----- */


/* ----- home 左侧 菜单样式 start ----- */
/* 菜单字体颜色 */
.homeSliderContent.el-menu, .homeSliderContent .el-menu {
  background-color: transparent;
  border-right: 0;
}

.homeSliderContent.el-menu .el-submenu__title, .homeSliderContent.el-menu .el-menu-item{
  color: #8C93C3;
}

/* 菜单被打开且子菜单被选中时样式 */
.homeSliderContent.el-menu .is-active .el-submenu__title {
  color: #fff;
  background-color: #3E467F;
}

/* 菜单没打开时图标颜色 */
.homeSliderContent.el-menu .el-submenu__title i, .homeSliderContent.el-menu .el-menu-item i{
  color: #8C93C3;
}

/* 菜单打开时和经过时图标颜色 */
.homeSliderContent.el-menu .is-active .el-submenu__title i, .homeSliderContent.el-menu .el-submenu__title:hover i, .homeSliderContent.el-menu .el-menu-item:hover i{
  color: #fff;
}

/* 菜单 hover focus的样式 */
.homeSliderContent.el-menu .el-submenu__title:focus, .homeSliderContent.el-menu .el-submenu__title:hover, .homeSliderContent.el-menu .el-menu-item:focus, .homeSliderContent.el-menu .el-menu-item:hover, .homeSliderContent.el-menu .el-menu-item.is-active {
  color: #fff;
  background-color: #5960AE;
}



/* ----- home 左侧 菜单样式 end ----- */



/* ----- notify 通知弹窗样式 start ----- */
.el-notification.notify_success, .el-notification.notify_wraning, .el-notification.notify_error{
  margin-top: 82px;
}
.el-notification.notify_success .el-notification__title, .el-notification.notify_wraning .el-notification__title, .el-notification.notify_error .el-notification__title{
  color: #333;
}
.el-notification.notify_success .el-notification__content, .el-notification.notify_wraning .el-notification__content, .el-notification.notify_error .el-notification__content{
  color: #888;
}
.el-notification.notify_success {
  border:2px solid rgba(104, 191, 123, 1);
}
.el-notification.notify_success .el-icon-error{
  color: rgba(104, 191, 123, 1);
}
.el-notification.notify_wraning {
  border:2px solid rgba(250, 180, 39, 1);
}
.el-notification.notify_wraning .el-icon-error{
  color: rgba(250, 180, 39, 1);
}
.el-notification.notify_error {
  border:2px solid rgba(245, 34, 45, 1);
}
.el-notification.notify_error .el-icon-error{
  color: rgba(245, 34, 45, 1);
}
/* .darkSkin .notify_default {

} */

/* ----- notify 通知弹窗样式 end ----- */


/* ----- el-select || el-input 样式 start ----- */
.darkSkin .el-input__inner{
  font-weight: 700;
  color: #353195;
  background-color: #F6F8FB;
  border-color: #F6F8FB;
}
.darkSkin .el-input__inner:hover{
  border-color: #7881B6;
}
.darkSkin .el-input__inner:focus{
  color: #353195;
  border-color: #353195;
}

.darkSkin .el-select .el-input .el-select__caret, .darkSkin .el-select .el-input .el-input__inner {
  color: #7881B6;
}
.darkSkin .el-select .el-input .el-input__inner:hover{
  color: #353195;
  border-color: #F6F8FB;
}
.darkSkin .el-select .el-input  .el-input__inner:focus, .darkSkin .el-select .el-input.is-focus .el-input__inner{
  color: #353195;
  border-color: #353195;
}
.darkSkin input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #7881B6;
}
.darkSkin input:-moz-placeholder, textarea:-moz-placeholder {
  color: #7881B6;
}
.darkSkin input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #7881B6;
}

.darkSkin .el-select-dropdown__item{
  color: #B9B9B9;
}
.darkSkin .el-select-dropdown__item.hover, .darkSkin .el-select-dropdown__item:hover{
  font-weight: 700;
  color: #353195;
  background-color: #F6F8FB;
}
.darkSkin .otherScreenSelect .el-input__inner, .darkSkin .customInputArea .el-input__inner, .darkSkin .editPop .otherScreenLine_addCondition .el-input__inner {
  background-color: #fff;
}
.darkSkin .editPop .otherScreenLine_addCondition .el-input__inner{
  border-radius: 0;
}

/* 分析工具 球员数据 深色筛选框  */
.darkSkin .conditionSelect .el-input__inner{
  background-color: #ECEDF4;
}

.darkSkin .inputSpan.errorTip .el-input__inner{
  border-color: #C12C3A;
}


/* ----- el-select || el-input 样式 end ----- */


/* ----- 分页 样式 start ----- */
.darkSkin .el-pagination{
  color: rgba(96, 98, 102, 1);
}
.darkSkin .el-pager li.active, .darkSkin .el-pager li:hover, .darkSkin .el-pagination button:hover, .el-scrollbar .el-select-dropdown__item.selected {
  color: rgba(53, 49, 149, 1);
}
.darkSkin .el-pagination button:disabled {
  color: rgba(192, 196, 204, 1);
}
.darkSkin .el-pagination__sizes .el-input__inner{
  color: rgba(96, 98, 102, 1);
  background-color: #fff;
  border: 1px solid rgba(220, 223, 230, 1);
}
/* .darkSkin .el-select .el-input.is-focus .el-input__inner, .darkSkin .el-select .el-input .el-input__inner:hover{
  border-color: rgba(53, 49, 149, 1);
} */

/* ----- 分页 样式 end ----- */



/* ----- 返回顶部样式 start -----  */
.darkSkin .el-backtop, .el-calendar-table td.is-today {
  color: #5960AE;
}

/* ----- 返回顶部样式 end -----  */


/* --------- el-btn 按钮 样式 start --------- */
.darkSkin .el-button--primary{
  background-color: #5960AE;
    border-color: #5960AE;
}

.darkSkin .el-button{
    border-color: 1px solid #CED1E7;
}
.darkSkin .el-button:focus, .darkSkin .el-button:hover {
  color: #353195;
  border-color: #CED1E7;
  background-color: #CED1E7;
}

.darkSkin .el-button--primary:focus, .darkSkin .el-button--primary:hover {
  background: #353195;
  border-color: #353195;
  color: #fff;
}

/* --------- el-btn 按钮 样式 end --------- */


/* --------- 关闭 按钮 样式 start --------- */
.darkSkin .el-message-box__headerbtn .el-message-box__close, .darkSkin .el-message-box__headerbtn .el-message-box__close{
  color: #8C93C3;
}
.darkSkin .el-message-box__headerbtn:focus .el-message-box__close, .darkSkin .el-message-box__headerbtn:hover .el-message-box__close{
  color: #353195;
}

/* --------- 关闭 按钮 样式 end --------- */