/* 登录注册 start ------------ */

/* 登录注册输入框 */
.ua_pc .el-input__inner {
  border-radius: 2px;
}

/* 登录注册 end ---------- */

/* 自定义点击表格 customClickTabel start ------------ */

/* 自定义点击表格 customClickTabel  右侧表格背景色为透明*/
#customClickTable .table_right .el-table th, #customClickTable .table_right .el-table tr, #customClickTable .table_right .el-table{
  background-color: transparent;
}
/* 自定义点击表格 customClickTabel  上面左右滑动表格按钮*/
#customClickTable .el-button.is-circle{
  padding: 5px;
}
/* head 标题 圆角 */
#customClickTable .el-table .customTableHeader th:first-child{
  border-radius: 12px 0 0 0;
}
#customClickTable .el-table .customTableHeader th:nth-last-child(2){
  border-radius: 0 12px 0 0;
}
#customClickTable .el-table .customTableHeaderCell{
  font-size: 16px;
}

#customClickTable .el-table .cell{
  line-height: 24px;
}
#customClickTable .el-table thead .cell .lineHeight20 {
  display: block;
  line-height: 20px;
}
#customClickTable .el-table .alignLeft .cell{
  text-align: left;
}

/* 隐藏右侧暂无数据样式 */
#customClickTable .table_right .el-table__empty-text{
  opacity: 0;
}
#customClickTable .el-table::before{
  height: 0;
}
/* 自定义点击表格 customClickTabel end ---------- */



/* 其他默认表格 table start ------------ */

/* 其他默认表格 table  右侧表格背景色为透明*/
#app .table_right .el-table th, #app .table_right .el-table tr, #app .table_right .el-table{
  background-color: transparent;
}
/* head 标题 圆角 */
#app .el-table .customTableHeader th:first-child{
  border-radius: 12px 0 0 0;
}
#app .el-table .customTableHeader th:nth-last-child(2){
  border-radius: 0 12px 0 0;
}
#app .el-table .cell {
  height: 40px;
  line-height: 40px
}
#app .el-table td, #app .el-table th{
  padding: 7px 0;
}
#app .el-table .customTableHeaderCell{
  font-size: 16px;
}
#app .el-table .tableClickFont{
  font-weight: bold;
  cursor: pointer;
}

#app .el-table .iconSpan{
  display: inline-block;
  margin: 0 8px 0 0;
  width: 38px;
  height: 38px;
  vertical-align: middle;
}
#app .el-table .iconAddFont{
  vertical-align: middle;
}
#app .el-table .iconSpan img{
  display: block;
  height: 100%;
}
/* 其他默认表格 table end ---------- */


/* home 左侧 菜单样式 start ------------  */
.homeSliderContent.el-menu .el-submenu .el-menu-item {
  min-width: 194px;
}
.homeSliderContent.el-menu .el-submenu__title, .homeSliderContent.el-menu .el-menu-item {
  text-align: left;
}

.homeSliderContent.el-menu .el-submenu .el-menu-item{
  padding-left: 54px !important;
}

/* home 左侧 菜单样式 end ----------  */


/* selectBigSpan || seachArea 样式 start ------------  */
.selectBigSpan, .selectMidSpan{
  display: inline-block;
}
.selectBigSpan .el-input__inner{
  width: 200px;
  height: 42px;
  border-radius: 21px;
}

.selectMidSpan .el-input__inner{
  width: 142px;
  height: 36px;
  border-radius: 18px;
}

.editPop .selectMidSpan .el-input__inner{
  width: 180px;
}

.seachArea .el-input{
  width: 540px;
}
.seachArea .el-input__inner{
  height: 42px;
  border-radius: 21px;
}


/* selectBigSpan || seachArea 样式 end ----------  */




/* otherScreenSelect  start ------------  */

.darkSkin .customInputArea .el-input__inner {
  border-radius: 6px;
  text-align: center;
}



/* sotherScreenSelect 样式 end ----------  */


/* 单选框 样式 start ---------- */

.darkSkin .el-radio__input.is-checked .el-radio__inner{
  border-color: #3E467F;
  background: #3E467F;

}
.darkSkin .el-radio__input.is-checked+.el-radio__label{
  color: #353195;
}

.darkSkin .el-radio__inner:hover{
  border-color: #3E467F;
}


/* 单选框 样式 end ---------- */