body,
button,
input,
select,
textarea {
  font: 100%/1 "Helvetica Neue", Helvetica, STHeiTi, "Microsoft YaHei";
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
ul,
ol,
li,
th,
td,
p,
blockquote,
pre,
form,
fieldset,
legend,
input,
button,
textarea,
article,
aside,
footer,
header,
hgroup,
nav,
section,
menu {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
em,
i {
  font-style: normal;
}
li {
  list-style: none;
}
img {
  border: 0;
}
input,
img {
  vertical-align: middle;
}
article,
aside,
footer,
header,
hgroup,
nav,
section,
menu {
  display: block;
}
a {
  text-decoration: none;
  color: #000;
}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
html,
body {
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  color: #000000;
  /* background: #fff!important; */
  overflow: visible;
}

html.overflow,
body.overflow {
  overflow: hidden;
}
a,
input,
textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
  resize: none;
  border: none;
  -webkit-font-smoothing: antialiased;
}
* {
  box-sizing: border-box;
}
p {
  word-wrap: break-word;
}
body,
pre {
  background: #fff;
  font-family: "Helvetica Neue", "Helvetica", "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei";
}
.clearfix::after{content: ".";display: block;height: 0;clear: both;visibility: hidden; overflow:hidden;}

.clearfix{zoom:1;} /* for IE/Mac */
::-webkit-scrollbar {
  color: #ccc;
  background-color: #ccc;
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #717576;
}
::-webkit-scrollbar-thumb:hover {
  background: #364044;
}
select::-ms-expand {
  display: none;
}
input::-ms-clear {
  display: none;
}
input::-ms-reveal {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track-piece {
  background-color: #eee;
  margin: -2px;
}
::-webkit-scrollbar-thumb {
  background: #aaa;
  min-height: 150px;
  min-width: 150px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:vertical:hover {
  background: #555555;
}
::-webkit-scrollbar-thumb:horizontal:hover {
  background: #555555;
}

#root {
  height: 100%;
}

a:hover {
  color: #333;
}

.ant-message .anticon {
  display: none !important;
}
