<template>
  <!--滑块按钮-->
  <div>
    <div
      class="switch"
      :style="{ backgroundColor: btnColor[0], color: btnColor[2] }"
    >
      <div class="switch_btn_box">
        <div
          class="switch_btn"
          v-for="(btn, i) in switchText"
          :style="{ color: actSwitchIndex === i ? btnColor[3] : btnColor[2] }"
          :key="i"
          @click.stop="selectBtn(i)"
        >
          {{ btn }}
        </div>
      </div>
      <div
        class="switch_active"
        :style="{
          transform: `translateX(${checkLeft[actSwitchIndex]}%)`,
          backgroundColor: btnColor[1]
        }"
      ></div>
    </div>
  </div>
</template>

<script>
export default {
  name: "SliderSwitch",
  props: {
    switchText: {
      // btn文案
      type: Array,
      default: () => {
        return ["确定", "取消"];
      }
    },
    callBackObj: {
      //将父组件传进来的值在吐给父组件
      type: Object,
      default: () => {
        return {};
      }
    },
    switchDefault: {
      // 默认是总数
      type: Boolean
    },
    switchDisabled: {
      // 传入禁用项的下标  没有禁用项传入:-1; 第一个不让点传：0；第二个不让点传：1；
      type: Number,
      default: -1
    },
    btnColor: {
      // 0 按钮一背景 1 按钮二背景 3 按钮一文字 4 按钮二文字
      type: Array,
      default: () => {
        return [
          "rgba(246, 248, 251, 1)",
          "rgba(53,49,149,1)",
          "rgba(102, 102, 102, 1)",
          "#fff"
        ];
      }
    }
  },
  data() {
    return {
      actSwitchIndex: 1, // 选中下标默认
      checkLeft: [0, 102] //选中
    };
  },
  created() {
    if (this.switchDefault) {
      this.actSwitchIndex = 1;
    } else {
      this.actSwitchIndex = 0;
    }
  },

  methods: {
    selectBtn(i) {
      if (
        this.actSwitchIndex == i ||
        (this.switchDisabled > -1 && this.switchDisabled == i)
      )
        return;
      this.actSwitchIndex = i;
      this.$emit("changeSwitchState", {
        callBackObj: this.callBackObj,
        flag: i ? true : false
      });
    }
  }
};
</script>

<style scoped lang="scss">
.switch {
  position: relative;
  width: 140px;
  height: 32px;
  border-radius: 21px;
  font-size: 14px;
  cursor: pointer;
  overflow: hidden;
}

.switch_btn_box {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 100%;
}
.switch_btn {
  flex: 1;
  line-height: 32px;
  text-align: center;
}

.switch_active {
  width: 50%;
  height: 100%;
  transition: transform 0.2s linear;
  border-radius: 21px;
}
</style>
