<template>
  <div class="popup_center_box" @click="closeEvent">
    <div
      class="popup_center_item"
      @click.stop="noBubbles"
      :style="{ width: contentWidth, height: contentHeight }"
    >
      <div
        class="popup_center_close"
        @click.stop="closeEvent"
        :style="{ display: showClose == 1 ? 'none' : 'block' }"
      >
        <i class="iconfont">&#xe63f;</i>
      </div>
      <slot name="popup_center"></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: "PopupCenter",
  props: {
    // 内容宽度
    contentWidth: {
      type: String,
      default: "514px"
    },
    // 内容高度
    contentHeight: {
      type: String,
      default: "204px"
    },
    // 用于关闭弹窗的事件  回调函数
    closeEvent: {
      type: Function
    },
    showClose: {
      type: Number
    }
  },
  methods: {
    // 用于禁止冒泡
    noBubbles() {
      return;
    }
  }
};
</script>

<style lang="scss" scope>
// 弹窗
.popup_center_box {
  position: fixed;
  z-index: 500;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  .popup_center_item {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    border: 1px solid rgba(228, 231, 237, 1);
    padding: 30px 0;
    .popup_center_close {
      position: absolute;
      right: -56px;
      top: 0;
      width: 36px;
      height: 36px;
      font-size: 18px !important;
      color: #ffffff;
      background: rgba(0, 0, 0, 0.4);
      border: 2px solid rgba(255, 255, 255, 1);
      border-radius: 50%;
      line-height: 30px;
      cursor: pointer;
    }
  }
}
</style>
