<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover"/> -->
    <meta name="format-detection" content="telephone=no, address=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <link href="<%= BASE_URL %>css/reset.css" rel="stylesheet"/>
    <link href="<%= BASE_URL %>css/elementUI_custom.css" rel="stylesheet" />
    <link
      href="<%= BASE_URL %>css/elementUI_darkSkin.css"
      rel="stylesheet"
      skin="darkSkin"
    />
    <title>超赛体育</title>
  </head>

  <body>
    <div id="app">
      <div id="browserTip_toast" style="opacity: 0;" onclick="closeTip()">
        <div class="browserTip_pop"></div>
        <i class="browserTip_bg"></i>
        <p class="browserTip_font">
          建议使用Chrome、Firefox、IE浏览器最新版本获得更佳观览体验
        </p>
        <p class="browserTip_ido">我知道了</p>
      </div>
    </div>
    <!-- built files will be auto injected -->
  </body>
  <script type="text/javascript">
    var browserTipDom = window.document.getElementById("browserTip_toast");
    if (browserTipDom) {
      console.log("browserTipDom:", browserTipDom);
      browserTipDom.style.opacity = 1;
      var browserTipStyle =
        "#browserTip_toast .browserTip_pop{position: fixed;top: 0;left: 0;z-index: 9999;width: 100%;height: 100%;background-color: rgba(0,0,0,.8);}" +
        "#browserTip_toast .browserTip_bg{ display: block; position: fixed; margin: -250px 0 0 -433px; top: 50%; left: 50%; z-index: 10000; width: 865px; height: 447px; background-image: url(../img/browserTip_bg.png); background-size: 100% auto; background-position: left top; background-repeat: no-repeat; background: none\9; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../r/cms/www/default/img/browserTip_bg.png', sizingMethod='scale');}" +
        "#browserTip_toast .browserTip_font{ position: fixed; margin: 15px 0 0 -433px; padding-left: 80px; top: 50%; left: 50%; z-index: 10001; width: 865px; text-align: center; line-height: 40px; font-size: 22px; color: #666;}" +
        "#browserTip_toast .browserTip_ido{ position: fixed; margin: 140px 0 0 -433px; padding-left: 80px; top: 50%; left: 50%; z-index: 10001; width: 865px; text-align: center; line-height: 30px; font-size: 18px; color: rgba(250, 193, 28, 1); text-decoration: underline; letter-spacing: 2px; cursor: pointer;}";
      if (document.all) {
        // document.createStyleSheet(url)
        window.style = browserTipStyle;
        document.createStyleSheet("javascript:style");
      } else {
        //document.createElement(style)
        var style = document.createElement("style");
        style.type = "text/css";
        style.innerHTML = browserTipStyle;
        document
          .getElementsByTagName("HEAD")
          .item(0)
          .appendChild(style);
      }
      window.closeTip = function() {
        browserTipDom.style.display = "none";
      };
    }
  </script>
</html>
