<template>
  <div class="radar" id="radar">
    <div class="block_left">
      <HeadIfno
        v-if="showImgInfo"
        :playerImg="playerInfo.playerAvatar"
        :playerNum="playerInfo.jerseyNum"
        :playerName="playerInfo.playerName"
        :countryImg="playerInfo.teamLogo"
        :countryName="playerInfo.teamName"
      >
      </HeadIfno>
    </div>
    <div
      ref="radarchart"
      id="radarchart"
      class="echartss"
      style="width:350px;height:260px"
    ></div>
  </div>
</template>
<script>
import echarts from "echarts";
import HeadIfno from "../components/headInfo";
export default {
  props: {
    showImgInfo: Boolean,
    echartData: Object,
    playerInfo: Object
  },
  data() {
    return {
      resultData: [],
      dimensionNames: [],
      ItemData: [],
      indicators: [],
      maxData: [],
      color: ["#AC071B", "#098CCB"],
      datas: [],
      arrName: [{ name: "球员" }, { name: "联盟" }]
    };
  },
  created() {},
  mounted() {
    // const _this = this;
    // window.addEventListener("resize", function() {
    //   _this.myChart.resize();
    // });
  },
  watch: {
    echartData: {
      handler: function() {
        this.initdata();
        this.radarchart();
        // this.myChart.resize();
      },
      deep: true
    }
  },
  methods: {
    initdata() {
      this.resultData = this.echartData.resultData;
      this.dimensionNames = this.echartData.dimensionNames;
      this.maxData = this.echartData.maxData;
    },
    radarchart() {
      this.indicators = [];
      this.ItemData = [];
      let scale = 1;
      this.dimensionNames.forEach((item, index) => {
        if (this.maxData[index] == 0) {
          this.indicators.push({
            name: item,
            min: -(10 / 5),
            max: 10
          });
        } else {
          this.indicators.push({
            name: item,
            min: -(this.maxData[index] / 5),
            max: this.maxData[index]
          });
        }
      });
      this.resultData.forEach((item, index) => {
        let itef = [];
        let ars = [];
        item.forEach(ite => {
          ars.push(parseFloat(ite));
        });
        itef = ars;
        this.ItemData.push({
          name: "",
          type: "radar",
          data: [
            {
              value: itef,
              name: this.arrName[index].name,
              label: {
                normal: {
                  show: true,
                  position: index == 0 ? "top" : "bottom",
                  textStyle: {
                    fontSize: 12
                  },
                  formatter: function(params) {
                    let str = params.value;
                    _this.resultData.forEach(item => {
                      item.forEach(ite => {
                        if (
                          Number(String(ite).replace("%", "")) ===
                            params.value &&
                          String(ite).indexOf("%") !== -1
                        ) {
                          str = ite;
                        }
                      });
                    });
                    return str;
                  }
                }
              }
            }
          ]
        });
      });
      this.myChart = echarts.init(this.$refs.radarchart);
      // 绘制图表
      let _this = this;
      this.chartOpt = {
        color: ["#C23531 ", "#333333"],
        tooltip: {
          confine: true,
          enterable: true,
          // formatter:'{a} : {c}<br/>'
          formatter: function(params) {
            var arr = [];
            _this.dimensionNames.forEach((item, index) => {
              params.value = `${_this.dimensionNames[index]} :${_this.resultData[params.seriesIndex][index]}`;
              arr.push("<span>" + params.value + "</span><br/>");
            });
            arr.unshift("<span>" + params.name + "</span><br/>");
            let str = arr.join("");
            str = str.replace(/,/g, "");
            return str;
          }
        },
        grid: {
          left: "0%",
          right: "0%",
          top: "5%",
          bottom: "5%",
          containLabel: true
        },
        // legend: {
        //   // bottom:10,
        //   right: 0,
        //   itemWidth: 8, //图例的宽度
        //   itemHeight: 8, //图例的高度
        //   icon: "circle", //图例为圆形
        //   orient: "vertical",
        //   textStyle: {
        //     fontSize: 12,
        //     color: " #999999"
        //   },
        //   data: this.datas
        // },

        radar: {
          name: {
            textStyle: {
              color: "#333333",
              fontSize: 12
            }
            // formatter: text => {
            //   text = text.replace(/\S{3}/g, function(match) {
            //     console.log(match);
            //     return match + "\n";
            //   });
            //   return text;
            // }
          },
          splitLine: {
            lineStyle: {
              color: "#fff",
              width: 1 * scale
            }
          },
          splitArea: {
            show: true,
            areaStyle: {
              color: "rgba(233, 233, 233, 0.6)"
            }
          },
          axisLine: {
            show: true,
            lineStyle: {
              color: "#fff"
            }
          },
          splitNumber: 10, //圈子数量xiang
          nameGap: 8, //指示器离图表的距离
          indicator: this.indicators
        },
        series: this.ItemData
      };
      this.myChart.setOption(this.chartOpt);
    }
  },
  components: {
    HeadIfno
  }
};
</script>

<style lang="scss" scoped>
.radar {
  width: 100%;
  height: 100%;
  display: flex;
  .block_left {
    margin-top: 60px;
  }
}
</style>
