<template>
  <div class="status_500">
    <div class="status_box" :style="{ backgroundImage: `url(${statusBg})` }">
      <span class="status_content" :style="{ color: TextColorBlackUI4 }"
        >非常抱歉，您访问的页面不存在！</span
      >
      <PrimaryBtn
        :class="uaBrowserType"
        @click="goHome"
        :BgColorBlueUI3="BgColorBlueUI3"
        :BgColorBlueUI2="BgColorBlueUI2"
        :TextColorWhiteUI0="TextColorWhiteUI0"
        >返回首页</PrimaryBtn
      >
    </div>
  </div>
</template>

<script>
import globalExtends from "@globalExtends";
export default {
  extends: globalExtends,
  name: "web404",
  data() {
    return {
      statusBg: require("@png/404.png")
    };
  },
  computed: {
    TextColorBlackUI4() {
      return this.skinPorps.TextColorBlackUI4.default;
    },
    BgColorBlueUI3() {
      return this.skinPorps.BgColorBlueUI3.default;
    },
    BgColorBlueUI2() {
      return this.skinPorps.BgColorBlueUI2.default;
    },
    TextColorWhiteUI0() {
      return this.skinPorps.TextColorWhiteUI0.default;
    }
  },
  methods: {
    goHome() {
      this.$router.push({
        path: "/"
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.status_500 {
  position: fixed;
  z-index: 500;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  .status_box {
    width: 682px;
    height: 618px;
    position: absolute;
    left: 50%;
    top: 50%;
    padding-right: 183px;
    text-align: right;
    transform: translate(-50%, -50%);
    background-position: center;
    background-size: 100% auto;
    .status_content {
      display: block;
      padding: 465px 0 10px 0;
      line-height: 22px;
      font-size: 16px;
    }
  }
}
</style>
