<template>
  <div class="form-inline-input" :style="{ borderColor: CheckCodeBorderColor }">
    <div
      class="code-box"
      id="code-box"
      :style="{ backgroundColor: CheckCodeBottomBgColor }"
    >
      <input type="text" name="code" class="code-input" />
      <i>请按住滑块，拖到最右边</i>
      <p :style="{ backgroundColor: CheckCodeUpBgColor }"></p>
      <span
        :class="spanIcon"
        :style="{ backgroundColor: CheckCodeUpBgColor }"
      ></span>
    </div>
  </div>
</template>

<script>
export default {
  // 登录注册 验证滑块 组件
  name: "CheckCodeSlider",
  props: {
    CheckCodeBorderColor: {
      type: String,
      required: true
    },
    CheckCodeBottomBgColor: {
      type: String,
      required: true
    },
    CheckCodeUpBgColor: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      spanIconArr: ["el-icon-d-arrow-right", "el-icon-success"], //[0]:划之前图标； [1]: 划之后图标
      spanIcon: ""
    };
  },
  created() {
    this.spanIcon = this.spanIconArr[0];
  },
  // 调用
  mounted() {
    let _this = this;
    this.$nextTick(() => {
      let code = "jsaidaisd656";
      new _this.moveCode(code, _this);
    });
    // window.addEventListener('load',function(){
    //code是后台传入的验证字符串

    // });
  },
  methods: {
    isCheckCodeHandle(boolean) {
      this.$emit("isCheckCodeFlag", boolean);
    },
    //获取元素距离页面边缘的距离
    getOffset(box, direction) {
      let setDirection = direction == "top" ? "offsetTop" : "offsetLeft";
      let offset = box[setDirection];
      let parentBox = box.offsetParent;
      while (parentBox) {
        offset += parentBox[setDirection];
        parentBox = parentBox.offsetParent;
      }
      parentBox = null;
      return parseInt(offset);
    },
    moveCode(code, _this) {
      let fn = { codeVluae: code };
      let box = document.querySelector("#code-box"),
        progress = box.querySelector("p"),
        codeInput = box.querySelector(".code-input"),
        evenBox = box.querySelector("span");
      //默认事件
      let boxEven = ["mousedown", "mousemove", "mouseup"];
      //改变手机端与pc事件类型
      if (typeof document.ontouchstart == "object") {
        boxEven = ["touchstart", "touchmove", "touchend"];
      }
      // eslint-disable-next-line no-unused-vars
      let goX, offsetLeft, deviation, evenWidth, endX;
      function moveFn(e) {
        e.preventDefault();
        e = boxEven["0"] == "touchstart" ? e.touches[0] : e || window.event;
        endX = e.clientX - goX;
        endX = endX > 0 ? (endX > evenWidth ? evenWidth : endX) : 0;
        if (endX > evenWidth * 0.9) {
          // 快拉到头时的颜色
          progress.innerText = "松开验证";
          // progress.style.backgroundColor = "#628BFF";
          evenBox.style.backgroundColor = "#fff";
          evenBox.style.color = "#68BF7B";
          _this.spanIcon = _this.spanIconArr[1];
        } else {
          progress.innerText = "";
          // progress.style.backgroundColor = "#628BFF";
        }
        progress.style.width = endX + deviation + "px";
        evenBox.style.left = endX + "px";
      }
      function removeFn() {
        document.removeEventListener(boxEven["2"], removeFn, false);
        document.removeEventListener(boxEven["1"], moveFn, false);
        if (endX > evenWidth * 0.9) {
          progress.innerText = "验证通过";
          progress.style.width = evenWidth + deviation + "px";
          evenBox.style.left = evenWidth + "px";
          codeInput.value = fn.codeVluae;
          evenBox.onmousedown = null;
          _this.isCheckCodeHandle(true);
        } else {
          progress.style.width = "0px";
          evenBox.style.left = "0px";
        }
      }
      function getOffset(box, direction) {
        let setDirection = direction == "top" ? "offsetTop" : "offsetLeft";
        let offset = box[setDirection];
        let parentBox = box.offsetParent;
        while (parentBox) {
          offset += parentBox[setDirection];
          parentBox = parentBox.offsetParent;
        }
        parentBox = null;
        return parseInt(offset);
      }
      evenBox.addEventListener(
        boxEven["0"],
        function(e) {
          e = boxEven["0"] == "touchstart" ? e.touches[0] : e || window.event;
          goX = e.clientX;
          offsetLeft = getOffset(box, "left");
          deviation = this.clientWidth;
          evenWidth = box.clientWidth - deviation;
          document.addEventListener(boxEven["1"], moveFn, { passive: false });
          document.addEventListener(boxEven["2"], removeFn, { passive: false });
        },
        { passive: false }
      );
      fn.setCode = function(code) {
        if (code) fn.codeVluae = code;
      };
      fn.getCode = function() {
        return fn.codeVluae;
      };
      fn.resetCode = function() {
        evenBox.removeAttribute("style");
        progress.removeAttribute("style");
        codeInput.value = "";
      };
      return fn;
    }
  }
};
</script>

<style lang="scss" scoped>
.form-inline-input {
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
}
.form-inline-input input,
.code-box {
  position: relative;
  padding: 0 3px;
  width: 100%;
  height: 40px;
  color: #fff;
  /* text-shadow: 1px 1px 1px black; */
  border: 0;
  border-radius: 2px;
  outline: none;
}
/* .ua_phone .code-box {
  height: 80px;
} */
.code-box p,
.code-box span,
.code-box i {
  display: block;
  position: absolute;
  left: 0;
  z-index: 10;
  height: 40px;
  text-align: center;
  font-size: 16px;
  line-height: 40px;
  padding: 0;
  margin: 0;
}
.code-box i {
  width: 100%;
  color: #fff;
}
.code-box span {
  width: 40px;
  font-size: 20px;
  cursor: pointer;
  margin-right: 1px;
}
.code-box p {
  width: 0;
  overflow: hidden;
  text-indent: -20px;
  transition: background 1s ease-in;
}
.code-box .code-input {
  display: none;
}
</style>
