<template>
  <div class="color-line">
    <div
      class="background-box"
      :style="{
        top: smallTop,
        height: smallHeight + 'px',
        background: backgroundColor
      }"
    ></div>
    <div
      class="color-box"
      :class="{
        left: position === 'left',
        right: position === 'right'
      }"
      :style="{
        width: smallWidth,
        background: mainColor
      }"
    ></div>
  </div>
</template>

<script>
// 柱状图，不包含数字
export default {
  props: {
    position: {
      type: String,
      default: "left"
    },
    mainColor: {
      type: String,
      default: "#C23531"
    },
    backgroundColor: {
      type: String,
      default: "#CED1E7"
    },
    maxValue: {
      default: 100
    },
    value: {
      default: 0
    },
    lineHeight: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {};
  },
  computed: {
    smallHeight() {
      // 两个颜色的高度可能不同，根据传过来的大的高度计算小的高度
      if (this.lineHeight === 20) {
        return 16;
      } else {
        return 6;
      }
    },
    smallWidth() {
      const reg = /%$/g;
      let value = 0;
      if (reg.exec(this.value)) {
        value =
          (this.value.replace(reg, "") / this.maxValue) * 100 > 100
            ? 100
            : (this.value.replace(reg, "") / this.maxValue) * 100;
      } else {
        value =
          (this.value / this.maxValue) * 100 > 100
            ? 100
            : (this.value / this.maxValue) * 100;
      }
      return value + "%";
    },
    smallTop() {
      if (this.smallHeight === 16) {
        return "2px";
      } else {
        return "1px";
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.color-line {
  position: relative;
  height: 100%;
  .background-box {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
  }
  .color-box {
    position: absolute;
    z-index: 20;
    top: 0;
    bottom: 0;
  }
  .left {
    left: 0;
  }
  .right {
    right: 0;
  }
}
</style>
