<template>
  <div
    class="histogram"
    :style="{
      height: lineHeight + 'px',
      'line-height': lineHeight + 'px'
    }"
  >
    <div
      class="text-box-left"
      v-if="position === 'right'"
      :style="{ width: textWidth + 'px' }"
    >
      {{ isTime ? root_timeToMinute(percentage) : percentage }}
    </div>
    <div
      class="color-line-box"
      :style="{
        width: 'calc(100% - 12px - ' + textWidth + 'px)',
        height: lineHeight + 'px'
      }"
    >
      <AbColorLine
        :position="position"
        :mainColor="mainColor"
        :backgroundColor="backgroundColor"
        :maxValue="maxValue"
        :value="value"
        :lineHeight="lineHeight"
      >
      </AbColorLine>
    </div>
    <div
      class="text-box-right"
      v-if="position === 'left'"
      :style="{ width: textWidth + 'px' }"
    >
      {{ isTime ? root_timeToMinute(percentage) : percentage }}
    </div>
  </div>
</template>

<script>
// 柱状图，包含数字
import AbColorLine from "./AbColorLine";
export default {
  props: {
    // 必传参数，柱状图的数值
    value: {
      default: 0
    },
    // 必传参数，柱状图的数值占用的宽度
    textWidth: {
      type: Number,
      default: 45
    },
    // 必传参数，带颜色的横条所在位置，只会left、right
    position: {
      type: String,
      default: ""
    },
    // 必传参数，柱状图主颜色
    mainColor: {
      type: String,
      default: "#c12c3a"
    },
    // 非必传参数（目前UI图所有颜色都一样），柱状图底部100%的颜色
    backgroundColor: {
      type: String,
      default: "#CED1E7"
    },
    // 必传参数，当前项的最大值，用于计算当前项所占百分比
    maxValue: {
      default: 100
    },
    // 必传参数，当前柱状图高度
    lineHeight: {
      type: Number,
      default: 0
    },
    // 计算参数 用来判断是否进入百分比计算显示文字的条件
    textValue: {
      type: String
    },
    isTime: {
      // 时间
      default: false
    }
  },
  data() {
    return {
      precentageValue: "" // 百分比数值
    };
  },
  computed: {
    percentage() {
      if (this.textValue) {
        if (
          this.textValue.indexOf("率") !== -1 ||
          this.textValue == "进攻效率" ||
          this.textValue == "使用率" ||
          this.textValue == "净效率"
        ) {
          return this.value + "%";
        } else {
          return this.value;
        }
      } else {
        return this.value;
      }
    }
  },
  components: {
    AbColorLine
  }
};
</script>

<style lang="scss" scoped>
.histogram {
  // margin-top: 12px;
}
.text-box-left {
  display: inline-block;
  font-size: 12px;
  color: #67738c;
  margin-right: 4px;
  vertical-align: middle;
}
.text-box-right {
  font-size: 14px;
  font-weight: 600;
  color: rgba(93, 93, 93, 1);
  line-height: 20px;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}
.color-line-box {
  display: inline-block;
  vertical-align: middle;
}
</style>
