<template>
  <div class="headInfo" id="headInfo">
    <div class="rank_portrait">
      <div class="portrait_top"><img :src="playerImg" alt="" /></div>
      <div class="portrait_center">
        <span class="center_num">#{{ playerNum }}</span>
        <span class="center_player">{{ playerName }}</span>
      </div>
      <div class="portrait_bot">
        <span class="bot_img"><img :src="countryImg" alt=""/></span>
        <span class="bot_team">{{ countryName }}</span>
      </div>
    </div>
  </div>
</template>

<script>
// 球员信息
export default {
  props: {
    // 必传参数，球员图片
    playerImg: {
      type: String,
      default: require("@png/playerBig_default.png")
    },
    // 必传参数，球员号码
    playerNum: {
      default: 1
    },
    // 必传参数，球员姓名
    playerName: {
      type: String,
      default: "易建联"
    },
    // 必传参数，国家图片
    countryImg: {
      type: String,
      default: require("@png/team_defaultImg.png")
    },
    // 必传参数，国家中文名
    countryName: {
      type: String,
      default: "中国"
    },
    // 必传参数，球员名字后面的英文字母
    playerEn: {
      type: String
    }
  },
  data() {
    return {};
  }
};
</script>

<style lang="scss" scoped>
.headInfo {
  .rank_portrait {
    width: 120px;
    margin: 0 20px 0 0;
    .portrait_top {
      width: 90px;
      height: 108px;
      margin: 0 auto;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .portrait_center {
      font-size: 14px;
      text-align: center;
      font-weight: 600;
      color: rgba(85, 85, 85, 1);
      line-height: 20px;
      margin: 10px 0 10px 0;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
      .center_num {
        margin-right: 6px;
      }
    }
    .portrait_bot {
      font-size: 14px;
      font-weight: 600;
      color: rgba(85, 85, 85, 1);
      line-height: 20px;
      .bot_img {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-right: 6px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
</style>
