<template>
  <!--暂无数据-->
  <div
    class="not_data"
    :style="{
      height: height,
      paddingLeft: padding ? '20px' : '0',
      paddingRight: padding ? '20px' : '0'
    }"
  >
    <div class="not_content">
      <img src="@png/webmaster_table_not_content.png" alt />
      <span>空空的，什么都没有～</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "NotData",
  props: {
    padding: {
      type: Boolean,
      default: true
    },
    height: {}
  },
  components: {}
};
</script>

<style scoped lang="scss">
.not_data {
  width: 100%;
  padding-top: 10px;
  min-height: 100px;
  border-radius: 4px;
}
.not_content {
  position: absolute;
  top: 40%;
  left: 50%;
  width: auto;
  height: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  img {
    height: 80%;
  }
  span {
    display: block;
    font-size: 18px;
    color: #555555;
    padding-top: 30px;
  }
}
</style>
