<template>
  <div class="piechart">
    <div class="pie_chart1">
      <div
        ref="piechart1"
        id="piechart1"
        class="echartss"
        style="width:100%;height:100%;"
      ></div>
    </div>
  </div>
</template>

<script>
import echarts from "echarts";
export default {
  props: {
    showCicle: Boolean,
    echartData: {
      default: function() {
        return {
          resultData: Array
        };
      }
    }
  },
  data() {
    return {
      resultData: [],
      dimensionNames: [],
      typesData1: []
    };
  },
  created() {},
  watch: {
    echartData: {
      handler: function() {
        this.initdata();
      },
      deep: true
    }
  },
  components: {},
  methods: {
    initdata() {
      this.resultData = this.echartData.resultData;
      this.dimensionNames = this.echartData.dimensionNames;
      this.typesData1 = [];
      this.resultData.forEach((val, idx) => {
        this.typesData1.push({
          value: parseFloat(val),
          name: this.dimensionNames[idx]
        });
      });
      this.PieChart1s();
    },
    PieChart1s() {
      // 基于准备好的dom，初始化echarts实例
      let myChart1 = echarts.init(this.$refs.piechart1);
      var _this = this;
      // 绘制图表
      myChart1.setOption({
        color: [
          "#8C93C3",
          "#3E467F",
          "#D40503",
          "#BE5C66",
          "#F4C84B",
          "#61A0A8",
          "#528CBE",
          "#555555",
          "#C12C3A",
          "#D22725",
          "#066FB7"
        ],
        tooltip: {
          trigger: "item",
          formatter: function(params) {
            params.value = `${params.name} :${
              _this.resultData[params.dataIndex]
            }`;
            return params.value;
          }
        },
        legend: {
          bottom: 0,
          itemWidth: 8, //图例的宽度
          itemHeight: 8, //图例的高度
          icon: "circle", //图例为圆形
          data: this.dimensionNames,
          formatter: function(value) {
            return "{a|" + value + "}";
          },
          textStyle: {
            fontSize: 12,
            color: "#B9B9B9",
            rich: {
              a: {
                width: this.showCicle ? 82 : 52
              }
            }
          }
        },
        // calculable: true,
        series: [
          {
            name: "",
            type: "pie",
            radius: this.showCicle ? "55%" : ["30%", "60%"],
            center: this.showCicle ? ["50%", "50%"] : ["50%", "40%"],
            avoidLabelOverlap: false,
            label: {
              show: true,
              normal: {
                show: true,
                textStyle: {
                  fontSize: 14,
                  color: this.showCicle ? "" : "#383D44"
                },
                position: "right",
                formatter: function(params) {
                  params.value = _this.resultData[params.dataIndex];
                  let parmesText =
                    "{c|" +
                    params.name +
                    "：" +
                    "}" +
                    "{c|" +
                    params.value +
                    "%}";
                  if (_this.showCicle) {
                    return parmesText;
                  }
                  return params.value;
                },
                borderWidth: 0,
                padding: this.showCicle ? [0, -55] : 0,
                height: this.showCicle ? 40 : 15,
                fontSize: 14,
                color: "#343434",
                fontWeight: 600,
                rich: {
                  c: {
                    fontSize: 14,
                    color: "#343434",
                    fontWeight: 600
                  }
                }
              },
              emphasis: {
                show: true
              }
            },
            labelLine: {
              normal: {
                show: true,
                length: this.showCicle ? 25 : 15,
                length2: this.showCicle ? 50 : 15,
                lineStyle: {
                  type: "dashed",
                  width: 1
                }
              }
            },
            emphasis: {
              show: true
            },
            data: this.typesData1
          }
        ]
      });
    }
  },
  mounted() {}
};
</script>

<style lang="scss">
.piechart {
  width: 100%;
  height: 100%;
  padding: 12px 20px 22px 20px;
  .pie_chart1 {
    width: 100%;
    height: 100%;
  }
  .pie_chart2 {
    width: 100%;
    height: 100%;
  }
}
</style>
