<template>
  <div class="hotArea clearfix">
    <div class="block_left">
      <HeadIfno
        v-if="showImgInfo"
        :playerImg="playerInfo.playerAvatar"
        :playerNum="playerInfo.jerseyNum"
        :playerName="playerInfo.playerName"
        :countryImg="playerInfo.teamLogo"
        :countryName="playerInfo.teamName"
      >
      </HeadIfno>
    </div>
    <div class="hotAreaMain">
      <div class="hotAreaImg">
        <img :src="base64Data" alt="" />
        <template v-for="item in newDataArr[0]">
          <span
            v-if="item.positionClass"
            :key="item.positionClass"
            class="fontTip"
            :class="item.positionClass"
          >
            <span class="firstSpan">{{ item.fgmPct }}%</span>
            <span class="secondSpan">{{ item.fgm }}/{{ item.fga }}</span>
          </span>
        </template>
        <span class="bottomArea" v-show="newDataArr[1] && newDataArr[1].length">
          <span
            class="bottomAreaSpan clearfix"
            v-for="item in newDataArr[1]"
            :key="item.title"
          >
            <span class="left">{{ item.title }}</span>
            <span class="right">{{ item.val }}</span>
          </span>
        </span>
      </div>
      <span class="colorTipArea">
        <span v-for="item in tipFontArr" :key="item.bgColor">
          <i class="colorBg" :style="{ backgroundColor: item.bgColor }"></i>
          <i>{{ item.title }}</i>
        </span>
      </span>
    </div>
  </div>
</template>

<script>
// 球员内线分析
import $ from "jquery";
import Basketball from "@utils/thirdParty/basketball";
import HeadIfno from "@basketballCharts/components/headInfo";
export default {
  name: "shootArea4",
  components: {
    HeadIfno
  },
  props: {
    echartData: {
      type: Array
    },
    showImgInfo: {
      type: Boolean
    },
    playerInfo: {
      type: Object
    }
  },
  data() {
    return {
      Basketball: null,
      sortMapArr: [
        //数据与图填色映射表
        //数据中areaType：1 对应 填色数组中的下标索引 [9]
        {
          areaType: 1,
          dataIndex: 9,
          positionClass: "top3"
        },
        {
          areaType: 2,
          dataIndex: 2,
          positionClass: "top4"
        },
        {
          areaType: 3,
          dataIndex: 4,
          positionClass: ""
        },
        {
          areaType: 4,
          dataIndex: 5,
          positionClass: "mid1"
        },
        {
          areaType: 5,
          dataIndex: 3,
          positionClass: "top2"
        },
        {
          areaType: 6,
          dataIndex: 0
        },
        {
          areaType: 7,
          dataIndex: 7
        },
        {
          areaType: 8,
          dataIndex: 8
        },
        {
          areaType: 9,
          dataIndex: 6
        },
        {
          areaType: 10,
          dataIndex: 1
        }
      ],
      tipFontArr: [
        {
          title: "高于联盟",
          bgColor: "#E05B43"
        },
        {
          title: "持平联盟",
          bgColor: "#F2B87B"
        },
        {
          title: "低于联盟",
          bgColor: "#307CAC"
        }
      ],
      bottomTipAreaArr: [
        {
          title: "使用率",
          val: ""
        },
        {
          title: "篮下得分",
          val: ""
        },
        {
          title: "受助攻率",
          val: ""
        }
      ],
      higherBgColor: "#E05B43",
      defaultBgColor: "#F2B87B",
      defaultValArr: [200, 100], //区分高于低于
      lowerBgColor: "#307CAC",
      notDataBgColor: "#999",
      base64Data: ""
    };
  },
  created() {
    console.log("created --------------", this.echartData);
    this.crearBasketball();
  },
  updated() {
    console.log("updated --------------", this.echartData);
    this.crearBasketball();
  },
  computed: {
    newDataArr() {
      let arr = [];
      if (!this.echartData.length) return [];
      let dataObj = this.echartData[0];
      let dataArr = [];
      let bottomTipAreaArr = [];
      bottomTipAreaArr = this.bottomTipAreaArr;
      bottomTipAreaArr[0].val = dataObj.usage;
      bottomTipAreaArr[1].val =
        dataObj.fgmBasket +
        "-" +
        dataObj.fgaBasket +
        "，" +
        dataObj.fgmPctBasket +
        "%";
      bottomTipAreaArr[2].val = dataObj.takeAstPer;
      // 根据areaType递增的顺序的到初始数组，里面有区域数据
      let keyArr = ["fga", "fgm", "fgmPct"];
      for (let i = 0; i < 10; i++) {
        if (i < 5) {
          let num = "";
          if (i === 2 || i === 3) {
            num = "34";
          } else {
            num = i + 1 + "";
          }

          dataArr.push({
            fga: dataObj[keyArr[0] + num],
            fgm: dataObj[keyArr[1] + num],
            fgmPct: dataObj[keyArr[2] + num],
            areaType: i + 1
          });
        } else {
          dataArr.push({
            fga: null,
            fgm: null,
            fgmPct: null,
            areaType: i + 1
          });
        }
      }
      // 按照投篮热区需要的数组格式重组上面数组，且加上文字提示的class
      dataArr.forEach(data => {
        this.sortMapArr.forEach(val => {
          if (data.areaType === val.areaType) {
            arr[val.dataIndex] = data;
            if (val.positionClass) {
              arr[val.dataIndex].positionClass = val.positionClass;
            }
          }
        });
      });
      // 给投篮热区图上颜色
      arr.forEach(val => {
        val.all = val.fga;
        val.score = val.fgm;
        val.fgmPct = ((val.fgm / val.fga) * 100).toFixed(1);
        if (val.score) {
          if (val.score > this.defaultValArr[0]) {
            val.color = this.higherBgColor;
          } else if (val.score < this.defaultValArr[1]) {
            val.color = this.lowerBgColor;
          } else {
            val.color = this.defaultBgColor;
          }
        } else {
          val.color = this.defaultBgColor;
        }
      });
      console.log(arr, bottomTipAreaArr);
      return [arr, bottomTipAreaArr];
    }
  },
  methods: {
    crearBasketball() {
      if (this.Basketball) {
        this.Basketball = null;
      }
      let _this = this;
      this.Basketball = new Basketball(
        {
          // node: "#canvas1",
          imgRootPath: require("@png/ditu_90.png"),
          angle: 90,
          data: this.newDataArr[0],
          inited: function() {
            // console.log("inited:", this.base64);
            _this.base64Data = this.base64;
          }
        },
        $
      );
    },
    testData() {
      //测试数据
      setTimeout(() => {
        console.log("1s 之后");
        this.HotArea4Data = [
          {
            usage: 10.0,
            fgmBasket: 20,
            fgaBasket: 30,
            fgmPctBasket: 20.0,
            takeAstPer: 50.0,
            fgm1: 120,
            fga1: 400,
            fgmPct1: 20.0,
            fgm2: 50,
            fga2: 400,
            fgmPct2: 10.0,
            fgm34: 140,
            fga34: 400,
            fgmPct34: 40.0,
            fgm5: 130,
            fga5: 400,
            fgmPct5: 30.0
          }
        ];
      }, 1000);

      setTimeout(() => {
        console.log("10s 之后");
        this.HotArea4Data = [
          {
            usage: 10.0,
            fgmBasket: 20,
            fgaBasket: 30,
            fgmPctBasket: 20.0,
            takeAstPer: 50.0,
            fgm1: 120,
            fga1: 400,
            fgmPct1: 20.0,
            fgm2: 50,
            fga2: 400,
            fgmPct2: 10.0,
            fgm34: 240,
            fga34: 400,
            fgmPct34: 70.0,
            fgm5: 230,
            fga5: 400,
            fgmPct5: 60.0
          }
        ];
      }, 10000);
    }
  }
};
</script>

<style lang="scss" scoped>
.hotArea {
  padding-top: 10px;
  .block_left {
    float: left;
    margin: 46px -140px 0 0;
  }
  .hotAreaMain {
    position: relative;
    float: left;
    padding: 0 0 28px 140px;
    width: 100%;
    height: auto;
    .hotAreaImg {
      position: relative;
      margin: 0 auto;
      width: 240px;
      height: 224px;
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
      .bottomArea {
        display: block;
        position: absolute;
        bottom: 26px;
        left: 30px;
        z-index: 10;
        padding: 6px 17px;
        width: 180px;
        height: auto;
        text-align: left;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.6);
        .bottomAreaSpan {
          display: block;
          padding-bottom: 3px;
          width: 100%;
          height: auto;
          line-height: 18px;
          font-size: 14px;
          border-bottom: 1px solid #fff;
          &:last-child {
            padding-bottom: 0;
            border-bottom: 0;
          }
          .left {
            float: left;
            width: 60px;
            text-align: left;
            margin-right: -60px;
          }
          .right {
            float: left;
            padding-left: 60px;
            width: 100%;
            text-align: right;
          }
        }
      }
      .fontTip {
        display: block;
        position: absolute;
        z-index: 10;
        padding: 0 5px;
        width: 54px;
        height: auto;
        text-align: left;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.6);
        span {
          display: block;
        }
        .firstSpan {
          line-height: 16px;
          font-size: 14px;
          font-weight: bold;
        }
        .secondSpan {
          line-height: 14px;
          font-size: 12px;
        }
      }
      .top2 {
        top: 10px;
        left: 22px;
      }
      .top3 {
        top: 9px;
        left: 93px;
      }
      .top4 {
        top: 10px;
        right: 22px;
      }
      .mid1 {
        top: 76px;
        left: 93px;
      }
    }
    .colorTipArea {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 3;
      padding-left: 140px;
      width: 100%;
      height: auto;
      text-align: center;
      span {
        padding-right: 14px;
        display: inline-block;
        line-height: 20px;
        font-size: 12px;
        color: #555;
        height: 20px;
        text-align: left;
        vertical-align: middle;
        font-weight: bold;
        i {
          display: inline-block;
          vertical-align: middle;
        }
        .colorBg {
          margin: 0 3px 0 0;
          width: 10px;
          height: 10px;
          border-radius: 2px;
        }
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}
</style>
