<template>
  <div class="hotArea clearfix">
    <div class="block_left" v-if="showImgInfo">
      <HeadIfno
        :playerImg="playerInfo.playerAvatar"
        :playerNum="playerInfo.jerseyNum"
        :playerName="playerInfo.playerName"
        :countryImg="playerInfo.teamLogo"
        :countryName="playerInfo.teamName"
      >
      </HeadIfno>
    </div>
    <div class="hotAreaMain" :class="showImgInfo ? '' : 'onlyHotArea'">
      <div class="hotAreaImg">
        <img :src="base64Data" alt="" />
        <span
          v-for="item in newDataArr"
          :key="item.positionClass"
          class="fontTip"
          :class="item.positionClass"
        >
          <span class="firstSpan">{{ item.fgmPct }}%</span>
          <span class="secondSpan">{{ item.fgm }}/{{ item.fga }}</span>
        </span>
      </div>
      <span class="colorTipArea">
        <span v-for="item in tipFontArr" :key="item.bgColor">
          <i class="colorBg" :style="{ backgroundColor: item.bgColor }"></i>
          <i>{{ item.title }}</i>
        </span>
      </span>
    </div>
  </div>
</template>

<script>
// 球员投篮热区图
import $ from "jquery";
import Basketball from "@utils/thirdParty/basketball";
import HeadIfno from "@basketballCharts/components/headInfo";
export default {
  name: "shootArea10",
  components: {
    HeadIfno
  },
  props: {
    echartData: {
      type: Array,
      default: () => []
    },
    showImgInfo: {
      type: Boolean
    },
    playerInfo: {
      type: Object
    }
  },
  data() {
    return {
      Basketball: null,
      sortMapArr: [
        //数据与图填色映射表
        //数据中areaType：1 对应 填色数组中的下标索引 [9]
        {
          areaType: 1,
          dataIndex: 9,
          positionClass: "top3"
        },
        {
          areaType: 2,
          dataIndex: 2,
          positionClass: "top4"
        },
        {
          areaType: 3,
          dataIndex: 4,
          positionClass: "mid2"
        },
        {
          areaType: 4,
          dataIndex: 5,
          positionClass: "mid1"
        },
        {
          areaType: 5,
          dataIndex: 3,
          positionClass: "top2"
        },
        {
          areaType: 6,
          dataIndex: 0,
          positionClass: "top5"
        },
        {
          areaType: 7,
          dataIndex: 7,
          positionClass: "bottom3"
        },
        {
          areaType: 8,
          dataIndex: 8,
          positionClass: "bottom2"
        },
        {
          areaType: 9,
          dataIndex: 6,
          positionClass: "bottom1"
        },
        {
          areaType: 10,
          dataIndex: 1,
          positionClass: "top1"
        }
      ],
      tipFontArr: [
        {
          title: "高于联盟",
          bgColor: "#E05B43"
        },
        {
          title: "持平联盟",
          bgColor: "#F2B87B"
        },
        {
          title: "低于联盟",
          bgColor: "#307CAC"
        }
      ],
      higherBgColor: "#E05B43",
      midBgColor: "#F2B87B",
      lowerBgColor: "#307CAC",
      notDataBgColor: "#999",
      base64Data: ""
    };
  },
  created() {
    console.log("created --------------", this.echartData);
    this.crearBasketball();
  },
  updated() {
    console.log("updated --------------", this.echartData);
    this.crearBasketball();
  },
  computed: {
    newDataArr() {
      let arr = [];
      this.echartData.forEach(data => {
        this.sortMapArr.forEach(val => {
          if (data.areaType === val.areaType) {
            arr[val.dataIndex] = data;
          }
        });
      });
      arr.forEach(val => {
        val.all = val.fga;
        val.score = val.fgm;
        val.fgmPct = ((val.fgm / val.fga) * 100).toFixed(1);
        if (val.areaState === 1) {
          //前1/3
          val.color = this.higherBgColor;
        } else if (val.areaState === 2) {
          //中1/3
          val.color = this.midBgColor;
        } else if (val.areaState === 3) {
          //后1/3
          val.color = this.lowerBgColor;
        } else {
          // 没有数据的颜色
          val.color = this.notDataBgColor;
        }
      });
      return arr;
    }
  },
  methods: {
    crearBasketball() {
      if (this.Basketball) {
        this.Basketball = null;
      }
      let _this = this;
      this.Basketball = new Basketball(
        {
          // node: "#canvas1",
          imgRootPath: require("@png/ditu_90.png"),
          angle: 90,
          data: this.newDataArr,
          inited: function() {
            // console.log("inited:", this.base64);
            _this.base64Data = this.base64;
          }
        },
        $
      );
    },
    testData() {
      //测试数据
      setTimeout(() => {
        console.log("1s 之后");
        this.shootData = [
          {
            fga: 57,
            fgm: 21,
            areaType: 6,
            positionClass: "top5"
          },
          {
            fga: 57,
            fgm: 22,
            areaType: 10,
            positionClass: "top1"
          },
          {
            fga: 57,
            fgm: 23,
            areaType: 2,
            positionClass: "top4"
          },
          {
            fga: 157,
            fgm: 124,
            areaType: 5,
            positionClass: "top2"
          },
          {
            fga: 57,
            fgm: 25,
            areaType: 3,
            positionClass: "mid2"
          },
          {
            fga: 157,
            fgm: 126,
            areaType: 4,
            positionClass: "mid1"
          },
          {
            fga: 257,
            fgm: 127,
            areaType: 9,
            positionClass: "bottom1"
          },
          {
            fga: 57,
            fgm: 28,
            areaType: 7,
            positionClass: "bottom3"
          },
          {
            fga: 509,
            fgm: 296,
            areaType: 8,
            positionClass: "bottom2"
          },
          {
            fga: 503,
            fgm: 296,
            areaType: 1,
            positionClass: "top3"
          }
        ];
      }, 1000);

      setTimeout(() => {
        console.log("10s 之后");
        this.shootData = [
          {
            fga: 57,
            fgm: 21,
            areaType: 6,
            positionClass: "top5"
          },
          {
            fga: 57,
            fgm: 22,
            areaType: 10,
            positionClass: "top1"
          },
          {
            fga: 57,
            fgm: 23,
            areaType: 2,
            positionClass: "top4"
          },
          {
            fga: 157,
            fgm: 124,
            areaType: 5,
            positionClass: "top2"
          },
          {
            fga: 57,
            fgm: 25,
            areaType: 3,
            positionClass: "mid2"
          },
          {
            fga: 157,
            fgm: 126,
            areaType: 4,
            positionClass: "mid1"
          },
          {
            fga: 257,
            fgm: 127,
            areaType: 9,
            positionClass: "bottom1"
          },
          {
            fga: 257,
            fgm: 228,
            areaType: 7,
            positionClass: "bottom3"
          },
          {
            fga: 509,
            fgm: 296,
            areaType: 8,
            positionClass: "bottom2"
          },
          {
            fga: 503,
            fgm: 296,
            areaType: 1,
            positionClass: "top3"
          }
        ];
      }, 10000);
    }
  }
};
</script>

<style lang="scss" scoped>
.hotArea {
  padding-top: 10px;
  .block_left {
    float: left;
    margin: 46px -140px 0 0;
  }
  .hotAreaMain {
    position: relative;
    float: left;
    padding: 0 0 28px 140px;
    width: 100%;
    height: auto;
    &.onlyHotArea {
      padding: 10px 0 28px 0;
      .colorTipArea {
        padding-left: 0;
      }
    }
    .hotAreaImg {
      position: relative;
      margin: 0 auto;
      width: 240px;
      height: 224px;
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
      .fontTip {
        display: block;
        position: absolute;
        z-index: 10;
        padding: 0 5px;
        width: 54px;
        height: auto;
        text-align: left;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.6);
        span {
          display: block;
        }
        .firstSpan {
          line-height: 16px;
          font-size: 14px;
          font-weight: bold;
        }
        .secondSpan {
          line-height: 14px;
          font-size: 12px;
        }
      }
      .top1 {
        top: 14px;
        left: -48px;
      }
      .top2 {
        top: 10px;
        left: 22px;
      }
      .top3 {
        top: 9px;
        left: 93px;
      }
      .top4 {
        top: 10px;
        right: 22px;
      }
      .top5 {
        top: 14px;
        right: -48px;
      }
      .mid1 {
        top: 82px;
        left: 54px;
      }
      .mid2 {
        top: 82px;
        right: 54px;
      }
      .bottom1 {
        bottom: 73px;
        left: 6px;
      }
      .bottom2 {
        bottom: 33px;
        left: 93px;
      }
      .bottom3 {
        bottom: 73px;
        right: 6px;
      }
    }
    .colorTipArea {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 3;
      padding-left: 140px;
      width: 100%;
      height: auto;
      text-align: center;
      span {
        padding-right: 14px;
        display: inline-block;
        line-height: 20px;
        font-size: 12px;
        color: #555;
        height: 20px;
        text-align: left;
        vertical-align: middle;
        font-weight: bold;
        i {
          display: inline-block;
          vertical-align: middle;
        }
        .colorBg {
          margin: 0 3px 0 0;
          width: 10px;
          height: 10px;
          border-radius: 2px;
        }
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}
</style>
