<template>
  <div id="loading">
    <!-- <div class=""></div> -->
    <img src="@png/loading_logo.png" class="loading_logo" />
  </div>
</template>

<script>
export default {
  name: "Loading"
};
</script>

<style lang="scss" scoped>
#loading {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  background: rgba(255, 255, 255, 0.8);
  .loading_logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    animation: 0.8s ease-in 0s infinite reverse both running loading;
    // border: 2px solid #205CA9;
    // border-radius: 50%;
  }
}
@keyframes loading {
  from {
    transform: rotateY(0);
    opacity: 0;
  }
  to {
    transform: rotateY(-180deg);
    opacity: 1;
  }
}
</style>
