<template>
  <div class="footer-wrapper">
    北京晓数聚传媒科技有限公司 版权所有 京ICP备16022620号Copyright © MixTMT. All
    Rights Reserved
  </div>
</template>

<script>
export default {
  name: "Footer"
};
</script>

<style lang="scss">
.footer-wrapper {
  // position: absolute;
  // left: 0;
  // bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #888;
  height: 42px;
  // font-weight: bold;
}
</style>
