.form-inline-input {
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
}
.form-inline-input input,
.code-box {
  position: relative;
  padding: 0 3px;
  width: 100%;
  height: 40px;
  color: #fff;
  /* text-shadow: 1px 1px 1px black; */
  border: 0;
  border-radius: 2px;
  outline: none;
}
/* .ua_phone .code-box {
  height: 80px;
} */
.code-box p,
.code-box span,
.code-box i {
  display: block;
  position: absolute;
  left: 0;
  z-index: 10;
  height: 40px;
  text-align: center;
  font-size: 14px;
  line-height: 40px;
  padding: 0;
  margin: 0;
}
.code-box i {
  width: 100%;
  color: #ABADBD;
}
.code-box span {
  width: 40px;
  font-size: 20px;
  cursor: pointer;
  margin-right: 1px;
}
.code-box p {
  width: 0;
  overflow: hidden;
  text-indent: -20px;
  transition: background 1s ease-in;
}
.code-box .code-input {
  display: none;
}