/* 【登录】【注册】【找回密码】当中的dom组件 */

/* 登录注册找回密码 外层背景色 */
.outerBgDiv{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background: url(../img/bg.png);
}
.outerBgDiv .defaultFontColor{
    color: #ABADBD;
}
.outerBgDiv .clickFontColor{
    color: #353195;
    font-weight: 600;
}
.outerBgDiv .pb15 {
    padding-bottom: 15px;
    position: relative;
}
.pb15 .tip_Text {
    position: absolute;
    font-size: 12px;
    font-weight: 600;
    color: rgba(171,173,189,1);
    line-height: 16px;
    width: auto;
    left: 16px;
    top: -8px;
    background: #fff;
    display: block;
    height: 14px;
    padding: 0 6px;
    opacity: 0;
}
.tip_Text.show_tiptext{
    opacity: 1
}
.outerBgDiv .pb155 {
    padding-bottom: 8px;
}
.outerBgDiv .pb18 {
    padding-bottom: 18px;
}
.outerBgDiv .pd18t {
    padding-top: 35px;
}
.outerBgDiv .pb50 {
    padding-bottom: 50px;
}
.outerBgDiv .pb60 {
    padding-bottom: 60px;
}
.outerBgDiv .lineHeight24 {
    font-weight: 600;
    color: rgba(99,99,99,1);
    line-height: 24px;
    font-size: 14px;
}
.outerBgDiv.ua_pc .cursorTip{
    cursor: pointer;
}
.innerBg.showBg{
    display: none;
}
.outerBgDiv .innerBg{
    display: block;
    position: absolute;
    top: 50%;
    right: 10.5%;
    z-index: 100;
    width: 460px;
    height: 468px;
    padding-top: 55px;
    font-size: 14px;
    transform: translate(-10.5%, -50%);
}
.outerBgDiv .innerBg .textLeft{
    display: block;
    position: relative;
    text-align: left;
}
.innerBg .textLeft .forgetPassword{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

.login_img{
    /* height: 23px; */
    width: 150px;
    position: relative;
    top: 35px;
    left: 35px;
}
.login_img img{
    width: 100%;
    /* height: 100%; */
}
/* 登录注册找回密码 内层背景色 */
.innerContentDiv {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow:0px 10px 20px 0px rgba(0,0,0,0.1);
}
.innerContentDiv .titleName{
    position: absolute;
    top: -56px;
    left: 66px;
    z-index: 10;
    line-height: 26px;
    font-size: 26px;
    color: #fff;
    text-align: left;
}
.innerContentDiv .contentInfo{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 150;
    width: 328px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.innerContentDiv .contentInfo .warn_tip{
    display: block;
    line-height: 12px;
    height: 12px;
    width: 100%;
    font-size: 12px;
    color: #F65868;
}

/* 登录注册找回密码 内层通栏 按钮 */

/* 默认颜色*/
.hideText{
    display: none;
}
.defaultBtn{
    display: block;
    width: 100%;
    height: 40px;
    text-align: center;
    color: #fff;
    line-height: 40px;
    font-size: 20px;
    border-radius: 2px;
    box-shadow:0px 2px 12px 4px rgba(0,0,0,0.1);
    background:#CCCCCC;
    box-shadow:0px 2px 12px 4px rgba(0,0,0,0.1);
    color: #fff;
}
.loginBtn{
    display: block;
    width: 100%;
    height: 40px;
    text-align: center;
    color: #fff;
    line-height: 40px;
    font-size: 20px;
    border-radius: 2px;
    box-shadow:0px 2px 12px 4px rgba(0,0,0,0.1);
    cursor: pointer;
    background-color: #353195;
}


.changeSkin {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10;
}


/* 找回密码部分样式 */
.resetInfo{
    display: block;
    /* top: 52%!important; */
    padding-top: 10px;
}
.reset_tip{
    width: 328px;
    margin: 0 auto;
    padding-top: 60px;
    line-height: 24px;
    font-size: 14px;
}
.textCenter{
    text-align: center;
    padding-top: 30px;
    line-height: 20px;
    font-weight:600;
}
.reset_ok{
    width: 60px;
    height: 60px;
    margin: 0 auto;
}
.reset_ok img{
    width: 100%;
}
.pb70{
    padding:20px 0 40px 0;
    text-align: center;
}
.rest_new{
    padding-bottom: 28px;
}


/* 超赛协议样式 */

.outerBgDiv2{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.outerBgDiv2 .inAgreet{
    width:927px;
    margin:0 auto;

}
.inAgreet .inBorder{
    width: 100%;
    background-color: #DDDDDD;
    height:2px;
    margin-top: 63px;
}
.inMain h5{
    text-align: center;
    font-size:16px;
    font-weight:600;
    color:rgba(51,51,51,1);
    line-height:22px;
    padding: 35px 0;
}
.inMain .inWrapper{
    font-size:14px;
    font-weight:600;
    color:rgba(102,102,102,1);
    line-height:20px;
}
.inWrapper div{
    padding-bottom: 20px;

}
.inWrapper div p{
    text-indent: 2em;

}

/* checkCodeSilder 颜色*/
.form-inline-input{
    border-color: #C5C7D4;
}
.form-inline-input .code-box{
    background-color: #fff;
}
.form-inline-input .code-box p, .form-inline-input .code-box span {
    background-color: #7881B6;
}

/* ele复选则框样式 */

.el-checkbox__inner{
    border: 1px solid #7C7F98;
    background-color: inherit;
}
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner,.el-checkbox__input.is-focus .el-checkbox__inner,.el-checkbox__input:hover .el-checkbox__inner{
    background-color: inherit;
    border: 1px solid #7C7F98;
}
.el-checkbox__inner::after{
    box-sizing: content-box;
    content: "";
    border: 1px solid #636363;
    border-left: 0;
    border-top: 0;
    height: 12px;
    width: 5px;
    left: 4px;
    position: absolute;
    top: -3px;
}
.el-checkbox__input.is-checked+.el-checkbox__label ,.el-checkbox{
    color:#ABADBD;
    margin-right: 0;
}

/* ele输入框颜色 */
.el-input__inner{
    border: 1px solid #C5C7D4;
    color: #363636;
}
.el-input__inner:focus{
    color: #363636;
    border:1px solid #C5C7D4;
}
.el-input__inner::placeholder {
    color: #ABADBD;
    font-size: 14px;
  }
.el-input_icon,.el-icon-view,.el-input_clear{
    font-size: 16px!important;
    color:#C5C7D4;
}



/* 注册成功 */
.innerBg.hideBox{
    display: none;
}
.innerBg.registerOK {
    display: block;
    height: 335px;
}
.agreementDiv{
    display: block;
}