<template>
  <div class="container">
    <div class="text">
      <div class="left">区域命中率（%）</div>
      <div class="center">排名</div>
      <div class="right">每次投篮得分</div>
    </div>
    <div class="back">
      <img :src="scoring_efficiency" />
      <span style="color: #fff;left: 17.5%;top: 28%">{{
        echartData.pipFgmPct
      }}</span>
      <span style="left: 47%;top: 28%">{{ echartData.pipRank }}</span>
      <span style="color: #fff;left: 75%;top: 28%">{{
        echartData.pipPts
      }}</span>
      <span class="color_bold" style="left: 17.5%;top: 46%">{{
        echartData.midFgmPct
      }}</span>
      <span style="left: 47%;top: 46%">{{ echartData.midRank }}</span>
      <span class="color_bold" style="left: 75%;top: 46%">{{
        echartData.midFgaPts
      }}</span>
      <span style="color: #fff;left: 17.5%;top: 66%">{{
        echartData.fg3mPct
      }}</span>
      <span style="left: 47%;top: 66%">{{ echartData.fg3mRank }}</span>
      <span style="color: #fff;left: 75%;top: 66%">{{
        echartData.fg3mts
      }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "scoreRangeTeam",
  props: {
    echartData: {}
  },
  data() {
    return {
      scoring_efficiency: require("@png/scoring_efficiency.png")
    };
  },
  created() {}
};
</script>

<style scoped>
.container {
  position: relative;
  height: 233px;
  margin: 16px auto 0;
}
.back,
.text {
  width: 100%;
  display: flex;
}
.back {
  /*background-size: contain;*/
  position: relative;
  width: 100%;
  height: 90%;
}
.back img {
  width: 100%;
}
.back span {
  position: absolute;
  display: inline-block;
  width: 6%;
  z-index: 2;
  color: #5d5d5d;
  font-weight: 600;
}
.back .color_bold {
  color: rgba(56, 61, 68, 1);
}
.back .backImg,
.text .left,
.text .right {
  width: 42%;
}
.back .center,
.text .center {
  width: 16%;
  position: relative;
  top: 29px;
  z-index: 5;
  font-weight: 700;
  color: #383d44;
}
.text {
  color: #555555;
  font-size: 14px;
  text-align: center;
  margin-bottom: 13px;
  font-weight: 600;
}
.back .center {
  color: #383d44;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
}
</style>
