<template>
  <div>
    <div class="Title">
      <span>得分</span>
      <span>{{ echartData.pts }}</span>
    </div>
    <div class="container">
      <div class="left_info">
        <HeadIfno
          v-if="showImgInfo"
          :playerImg="playerInfo.playerAvatar"
          :playerNum="playerInfo.jerseyNum"
          :playerName="playerInfo.playerName"
          :countryImg="playerInfo.teamLogo"
          :countryName="playerInfo.teamName"
        >
        </HeadIfno>
      </div>
      <div class="area">
        <img class="backImg" :src="score_distribution" />
        <div class="row" style="right: 23%;top: 3%;">
          <span class="first">限制区得分</span>
          <span class="second">{{ echartData.pip }}</span>
        </div>
        <div class="row" style="right: 4%;top: 3%;">
          <span class="first">占全队%</span>
          <span class="second">{{ echartData.pipTeamPct }}</span>
        </div>
        <div class="row" style="right: 23%;top: 25%;">
          <span class="first">罚球得分</span>
          <span class="second">{{ echartData.ftmPts }}</span>
        </div>
        <div class="row" style="right: 4%;top: 25%;">
          <span class="first">占全队%</span>
          <span class="second">{{ echartData.ftmPtsTeamPct }}</span>
        </div>
        <div class="row" style="right: 23%;top: 46%;">
          <span class="first">中距离得分</span>
          <span class="second">{{ echartData.midFgaPts }}</span>
        </div>
        <div class="row" style="right: 4%;top: 46%;">
          <span class="first">占全队%</span>
          <span class="second">{{ echartData.midFgaPtsTeamPct }}</span>
        </div>
        <div class="row" style="right: 23%;top: 68%;">
          <span class="first">三分球得分</span>
          <span class="second">{{ echartData.fg3mPts }}</span>
        </div>
        <div class="row" style="right: 4%;top: 68%;">
          <span class="first">占全队%</span>
          <span class="second">{{ echartData.fg3mPtsTeamPct }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import HeadIfno from "../components/headInfo";
export default {
  name: "scoreRangePlayer",
  props: {
    showImgInfo: Boolean,
    echartData: Object,
    playerInfo: Object
  },
  data() {
    return {
      datas: null,
      score_distribution: require("@png/score_distribution.png")
    };
  },
  created() {},
  components: {
    HeadIfno
  }
};
</script>

<style lang="scss" scoped>
.container {
  width: 100%;
  display: flex;
  position: relative;
}
.left_info {
  margin-top: 20px;
}
.team {
  font-size: 14px;
  color: #333333;
  font-weight: 400;
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.team img {
  width: 24px;
  height: 24px;
  margin-right: 13px;
  border-radius: 50%;
}
.Title {
  margin: 13px 0 17px 0;
  font-size: 16px;
  font-weight: 600;
  color: rgba(51, 51, 51, 1);
  line-height: 22px;
  text-align: center;
  span {
    margin-right: 20px;
  }
}
.content {
  margin-left: 17px;
}
.area {
  display: flex;
  width: 75%;
  height: 197px;
  position: relative;
}
.area img {
  width: 100%;
}
.row {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 60px;
  margin-right: 12px;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  font-size: 12px;
}
.second {
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
  color: rgba(51, 51, 51, 1);
}
</style>
