<template>
  <div id="home">
    <HomeHeaderDiv
      :BgColorBlueUI1="BgColorBlueUI1"
      :TextColorBlueUI2="TextColorBlueUI2"
    >
      <div class="logoDiv">
        <img :src="logoUrl" alt="" />
      </div>
      <div class="headerMenuDiv">
        <div class="headerMenuContent">
          <MenuContentCellSpan
            class="phoneIcon"
            :TextColorWhiteUI0="skinPorps.TextColorWhiteUI0.default"
          >
            <i class="pr12 iconfont">&#xe666;</i>
            <i class="fontBold">16619891728</i>
          </MenuContentCellSpan>
          <MenuContentCellSpan
            class="fontBold cursorPointer"
            :HomeHeaderHoverFontColor="
              skinPorps.HomeHeaderHoverFontColor.default
            "
            >帮助</MenuContentCellSpan
          >
          <MenuContentCellSpan
            slot="reference"
            class="cursorPointer"
            :HomeHeaderHoverFontColor="
              skinPorps.HomeHeaderHoverFontColor.default
            "
            @click="openUserMenu"
            @mouseleave="userMenuBtnMouseleave"
          >
            <span class="userImg">
              <img :src="userUrl" alt="" />
            </span>
            <span class="el-icon-caret-bottom"></span>
          </MenuContentCellSpan>
          <MenuContentCellSpan
            class="cursorPointer iconfont"
            @click="loginOut"
            :HomeHeaderHoverFontColor="
              skinPorps.HomeHeaderHoverFontColor.default
            "
            >&#xe66e;</MenuContentCellSpan
          >
        </div>
      </div>
      <div
        class="userMenuMain"
        v-show="isOpenUserMenu"
        :style="{
          backgroundColor: skinPorps.HomeMainViewBgColor.default,
          border: `1px solid ${skinPorps.LineColorUI6.default}`
        }"
        @mouseenter="userMenuMainMouseenter"
        @mouseleave="userMenuBtnMouseleave"
      >
        <span
          class="userMenuMain_header"
          :style="{
            color: skinPorps.TextColorBlackUI1.default
          }"
          >{{ userOption.name }}</span
        >
        <ul
          class="userMenuMain_body"
          :style="{
            borderTop: `1px solid ${skinPorps.LineColorUI6.default}`
          }"
        >
          <UserMenuCellLi
            :TextColorBlackUI5="skinPorps.TextColorBlackUI5.default"
            :TextColorWhiteUI1="skinPorps.TextColorWhiteUI1.default"
            :TextColorBlueUI2="TextColorBlueUI2"
            v-for="item in headerUserMenuOption"
            :key="item.title"
            v-show="item.isShow"
            :class="item.isAct ? 'act' : ''"
            @click="headerMenuBtn(item)"
          >
            <span class="iconSpan iconfont" v-html="item.icon"></span>
            <span class="menuTitle">{{ item.title }}</span>
          </UserMenuCellLi>
        </ul>
      </div>
    </HomeHeaderDiv>
    <HomeSliderContentDiv :BgColorBlueUI2="BgColorBlueUI2">
      <div class="sliderContent_infor">
        <el-menu
          class="homeSliderContent"
          ref="sliderMenu"
          :default-active="sliderMenuActIndex[sliderMenuActIndex.length - 1]"
          :unique-opened="true"
          @select="selectItem"
        >
          <template v-for="item in sliderMenuOption">
            <el-submenu
              v-if="item.type === 'submenu'"
              :index="item.index"
              :key="item.iconFont"
            >
              <template slot="title">
                <i class="icon iconfont" v-html="item.iconFont"></i>
                <span>{{ item.title }}</span>
              </template>
              <el-menu-item
                v-for="cell in item.children"
                :index="cell.index"
                :key="cell.path"
                @click="clickMenuItem(cell)"
                >{{ cell.title }}</el-menu-item
              >
            </el-submenu>
            <el-menu-item
              v-else
              :index="item.index"
              :key="item.iconFont"
              @click="clickMenuItem(item)"
            >
              <i class="icon iconfont" v-html="item.iconFont"></i>
              <span slot="title">{{ item.title }}</span>
            </el-menu-item>
          </template>
        </el-menu>
      </div>
    </HomeSliderContentDiv>
    <HomeMainViewDiv
      class="homeMainView"
      ref="homeMainView"
      @scroll.native="scrollHandle"
      :style="{
        top: uaBrowserType !== 'ua_phone' ? headerHeight + 'px' : '',
        left: uaBrowserType !== 'ua_phone' ? silderWidth + 'px' : '',
        width: uaBrowserType !== 'ua_phone' ? homeMainViewWidth + 'px' : '',
        height: uaBrowserType !== 'ua_phone' ? homeMainViewHeight + 'px' : ''
      }"
    >
      <router-view
        style="margin: 0 auto;"
        :style="{
          width:
            uaBrowserType !== 'ua_phone' ? homeMainView_routerWidth + 'px' : '',
          minHeight:
            uaBrowserType !== 'ua_phone' ? homeMainView_routerHeight + 'px' : ''
        }"
      />
      <span
        class="homeFooter"
        :style="{
          borderTop: `1px solid ${lineColorUI3}`,
          color: textColorBlackUI2
        }"
        >北京晓数聚传媒科技有限公司 版权所有 京ICP备16022620号Copyright ©
        MixTMT. All Rights Reserved</span
      >
      <el-backtop target=".homeMainView"></el-backtop>
    </HomeMainViewDiv>
  </div>
</template>

<script>
import { mapMutations } from "vuex";
import globalExtends from "../../globalExtends";
import headerUserMenuOption from "@baseOption/headerUserMenuList";

export default {
  extends: globalExtends,
  data() {
    return {
      userOption: {
        name: "王子晨"
      },
      headerHeight: 64, //顶部导航高度
      footerHeight: 120, // 底部高度
      silderWidth: 194, // 左侧菜单宽度
      homeMainViewHeight: 0, //home 非ua_phone 主视图高度
      homeMainViewWidth: 0, //主视觉宽度
      homeMainView_routerHeight: 0, //主视觉router最小高度
      homeMainView_routerWidth: 1166,
      headerUserMenuOption: [], //存储顶部点击用户头像的菜单
      logoUrl: require("@png/login_logo.png"),
      userUrl: require("@png/userImage_default.png"),
      isOpenUserMenu: false, //控制顶部菜单是否展示
      indexPath: [] //存储 selectItem方法中的 indexPath， 用来判断点击菜单是否需要跳转路径
    };
  },
  created() {
    this.headerUserMenuOption = headerUserMenuOption;
    if (window) {
      const vh = window.innerHeight || window.screen.height;
      const vw = window.innerWidth || window.screen.width;
      this.homeMainViewHeight = vh - this.headerHeight;
      this.homeMainViewWidth = vw - this.silderWidth;
      this.homeMainView_routerHeight =
        this.homeMainViewHeight - this.footerHeight;
    }
    console.log("sliderMenuOption:", this.sliderMenuOption);
  },
  mounted() {
    this.$nextTick(() => {});
  },
  computed: {
    fontColorBlackDepth1() {
      return this.skinPorps.FontColorBlackDepth1.default;
    },
    lineColorUI3() {
      return this.skinPorps.LineColorUI3.default;
    },
    textColorBlackUI2() {
      return this.skinPorps.TextColorBlackUI2.default;
    },
    BgColorBlueUI2() {
      return this.skinPorps.BgColorBlueUI2.default;
    },
    BgColorBlueUI1() {
      return this.skinPorps.BgColorBlueUI1.default;
    },
    TextColorBlueUI2() {
      return this.skinPorps.TextColorBlueUI2.default;
    },
    sliderMenuActIndex() {
      //被选中菜单 indexPath
      // console.log(
      //   "sliderMenuActIndex:",
      //   this.$store.state.home.sliderMenuActIndex
      // );
      return this.$store.state.home.sliderMenuActIndex;
    },
    sliderMenuOption() {
      // 菜单列表
      return this.$store.state.home.sliderMenuOption;
    }
  },
  methods: {
    ...mapMutations({
      setSliderMenuActIndex: "home/setSliderMenuActIndex"
    }),
    ...mapMutations("home", ["setSuciionTop"]),
    headerMenuBtn(item) {
      this.headerUserMenuOption.forEach(val => {
        if (item.title === val.title) {
          val.isAct = true;
        } else {
          val.isAct = false;
        }
      });
    },
    scrollHandle(e) {
      //吸顶方法
      const scrollTop = e.srcElement.scrollTop;
      // console.log(scrollTop);
      if (scrollTop >= 16) {
        this.setSuciionTop(true);
      }
      if (scrollTop < 16) {
        this.setSuciionTop(false);
      }
    },
    userMenuBtnMouseleave() {
      //鼠标移出时头像触发
      if (!this.isOpenUserMenu) return;
      this.closeUserMenuListTimer = setTimeout(() => {
        this.isOpenUserMenu = false; //关掉用户菜单
      }, 300);
    },
    userMenuMainMouseenter() {
      clearTimeout(this.closeUserMenuListTimer);
    },
    openUserMenu() {
      this.isOpenUserMenu = !this.isOpenUserMenu;
    },
    selectItem(index, indexPath) {
      // console.log("index:", index, "indexPath:", indexPath);
      if (indexPath === this.sliderMenuActIndex) return;
      if (this.sliderMenuOption[indexPath[0]].type === "item") {
        this.$refs.sliderMenu.close(this.sliderMenuActIndex[0]);
      }
      this.indexPath = indexPath;
    },
    clickMenuItem(item) {
      if (
        item.index !=
          this.sliderMenuActIndex[this.sliderMenuActIndex.length - 1] ||
        this.$store.state.home.isClickSecondMenu
      ) {
        //判断是否需要跳转，点击已选中菜单不跳转
        this.pageSkip(item.path);
      }
    },
    loginOut() {
      if (this.root_loginOutUrl) {
        window.location.href = this.root_loginOutUrl;
      } else {
        this.$notify({
          title: "警告",
          message: "该版本未设置退出页面路径",
          type: "error",
          customClass: "notify_error"
          // duration: 0
        });
      }
    },
    pageSkip(name) {
      this.setSliderMenuActIndex(this.indexPath); //将选中的菜单indexPath 同步到state中
      this.$router.push({ name });
    }
  }
};
</script>

<style lang="scss" scoped>
#home {
  padding: 64px 0 0 194px;
  .homeFooter {
    display: block;
    padding-top: 49px;
    height: 120px;
    line-height: 20px;
    font-size: 14px;
  }
}
</style>
<style lang="scss">
.homeMainView {
  height: 100%;
  overflow-x: auto;
}
</style>
