<template>
  <div id="app" :class="[uaBrowserType, skinPorps.name]">
    <router-view />
    <Loading v-show="isShowLoading"></Loading>
  </div>
</template>
<script>
import defaultSkin from "./skin";
import { mapState, mapMutations } from "vuex";
import globalExtends from "@globalExtends";
export default {
  extends: globalExtends,
  data() {
    return {};
  },
  created() {
    this.setSkinPorps({ name: defaultSkin }); //初始化默认皮肤
    this.browserUserAgent(); //初始化终端类型
    if (window) {
      this.root_libFlexible(window); //开启适配，实时更新font-size
      window.addEventListener("resize", () => {
        this.browserUserAgent(); // 开启实时监听终端类型
      });
      let bodyDom = window.document.getElementsByTagName("body")[0];
      bodyDom.className = defaultSkin;
    }
  },
  computed: {
    ...mapState(["isShowLoading"])
  },
  methods: {
    ...mapMutations([
      "browserUserAgent", // 浏览器终端类型
      "setSkinPorps" // 切换皮肤
    ]),
    closePopup() {
      this.root_storage.clearStorage();
      this.$router.push("/login");
    }
  }
};
</script>
<style lang="scss">
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 1366px;
  height: 100%;
  /* -webkit-overflow-scrolling: touch; */
  ::-webkit-scrollbar {
    width: 0;
  }
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
</style>
