<template>
  <div
    style="position: relative;width: 100%;
        justify-content: center;
        display: flex;"
  >
    <div class="father">
      <p class="text">{{ option.text }}</p>
      <div class="container" style=" border-bottom: 1px solid #D0D0D0;">
        <div class="barBox">
          <div
            class="bar"
            :style="{
              height: (option.value1 / option.max) * 90 + 'px',
              backgroundColor: barColor
            }"
          ></div>
          <p>{{ (option.value1 * 100).toFixed(1) + "%" }}</p>
        </div>
      </div>
    </div>
    <!--<div class="maxBox" v-if="option.showMax">-->
    <!--<p class="text">&nbsp</p>-->
    <!--<div class="container">-->
    <!--<div class="barBox">-->
    <!--<div class="max"></div>-->
    <!--<p>最高高度</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
  </div>
</template>

<script>
export default {
  name: "bar",
  props: {
    barColor: {
      type: String,
      default: "#C23531"
    },
    option: {
      default: function() {
        return {
          text: "",
          value1: Number,
          max: Number
        };
      }
    }
  },
  data() {
    return {
      canvasId: Math.random(),
      fatherDivId: Math.random()
    };
  },
  watch: {
    option() {}
  },
  methods: {},
  mounted() {}
};
</script>

<style lang="scss" scoped>
.father {
  width: 60%;
  height: 125px;
  flex-direction: column-reverse;
  display: flex;
  position: relative;
}
.maxBox {
  color: #67738c;
  flex-direction: column-reverse;
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 12px;
  align-items: flex-end;
  height: 140px;
}
.max {
  background: #eaedf1;
  height: 90px;
  width: 15px;
  margin-top: 5px;
}
.container {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.barBox {
  display: flex;
  flex-direction: column-reverse;
  font-size: 12px;
  align-items: center;
  p {
    color: #67738c;
    font-size: 14px;
    margin-bottom: 5px;
  }
}

.bar {
  width: 30px;
  // background: #c12c3a;
}

.text {
  color: #5d5d5d;
  font-size: 12px;
  margin-top: 6px;
  text-align: center;
  font-weight: 600;
}
</style>
