<template>
  <div
    style="width: 100%;position: relative;"
    class="creatChance"
    id="creatChance"
  >
    <div class="box" v-if="option">
      <div class="container">
        <bar :option="option.barOption1" :barColor="StatusColorUI4"></bar>
      </div>
      <div class="container">
        <bar :option="option.barOption2" :barColor="StatusColorUI4"></bar>
      </div>
    </div>
    <div class="box" v-if="option">
      <div class="container">
        <div class="con_box" :style="{ borderColor: StatusColorUI4 }">
          <span class="con_text">{{ option.ringOption1.text }}</span>
          <span class="con_num" :style="{ color: StatusColorUI4 }">
            {{ option.ringOption1.value1 }}
          </span>
        </div>
      </div>
      <div class="container">
        <div class="con_box" :style="{ borderColor: StatusColorUI4 }">
          <span class="con_text">{{ option.ringOption2.text }}</span>
          <span class="con_num" :style="{ color: StatusColorUI4 }">
            {{ option.ringOption2.value1 }}
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import globalExtends from "@globalExtends";
import Bar from "./bar";
export default {
  extends: globalExtends,
  name: "creatChance",
  components: { Bar },
  props: {
    echartData: Object,
    periodLable: String
  },
  data() {
    return {
      option: {
        ringOption1: {
          text: "",
          value1: null
        },
        ringOption2: {
          text: "",
          value2: null
        }
      }
    };
  },
  created() {},
  watch: {
    echartData() {
      this.format();
    }
  },
  mounted() {},
  computed: {
    StatusColorUI4() {
      return this.skinPorps.StatusColorUI4.default;
    }
  },
  methods: {
    format() {
      function fommat(i) {
        if (!i) return 0;
        return i.replace("%", "") / 100;
      }
      const HorebsPct = fommat(this.echartData.orebPct);
      const HroundOrebsPct = fommat(this.echartData.orebPctP);
      this.option = {
        barOption1: {
          text: "全场进攻篮板率",
          max: Math.max(HorebsPct, HroundOrebsPct) * 2,
          value1: HorebsPct
        },
        barOption2: {
          text: this.periodLable + "进攻篮板率",
          max: Math.max(HroundOrebsPct, HorebsPct) * 2,
          value1: HroundOrebsPct
        },
        ringOption1: {
          value1: this.echartData.oreb,
          text: "进攻篮板数"
        },
        ringOption2: {
          value1: this.echartData.secondPts,
          text: "二次机会得分"
        }
      };
    }
  }
};
</script>

<style lang="scss" scoped>
.creatChance {
  padding: 0 50px;
}
.box {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
.container {
  width: 300px;
  justify-content: center;
  display: flex;
  position: relative;
}
.con_box {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border-style: solid;
  border-width: 10px;
  // border: 10px solid #c12c3a;
  .con_text {
    display: block;
    font-size: 12px;
    font-weight: 600;
    color: rgba(93, 93, 93, 1);
    line-height: 17px;
    margin-top: 20px;
  }
  .con_num {
    display: block;
    font-size: 24px;
    font-weight: 600;
    // color: rgba(193, 44, 58, 1);
    line-height: 33px;
    margin-top: 5px;
  }
}
.example {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
  color: #555555;
  text-align: left;
}
.round {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  margin-right: 5px;
  display: inline-block;
}
</style>
